.aui-grid-default-header {
    vertical-align: middle;
}

.aui-grid-default-column {
    vertical-align: middle;
}

.aui-grid-editable-column {
    background-color: green;
}

.aui-grid-locked-column {
    background-color: red;
}