#VKEY_VKEYMAIN {
    position: absolute;
    visibility: hidden;
    width: 1200px;
    height: 900px;
    top: 50%;
    left: 50%;
    margin: -460px 0 0 -610px;
    background-color: white;
    outline: grey solid 2px;
    padding : 10px;
}

.VKEY_bundle_keyboard {
    position: absolute;
    float: left;
}

#VKEY_pad_korleft {
    float: left;
    width: 365px;
}

#VKEY_pad_korright {
    float: left;
    width: 290px;
}

#VKEY_pad_number {
    float: left;
    width: 210px;
}

#VKEY_switch_keyboard {
    float: left;
    width: 800px;
}

#VKEY_zone_boiler {
    float: right;
    width: 320px;

}

#VKEY_pad_engup, #VKEY_pad_englow, #VKEY_pad_special, #VKEY_pad_special2 {
    width: 600px;
    visibility: hidden;
}

#VKEY_bundle_ground {
    width: 660px;
    height: 340px;
    float: left;
}

.VKEY_btn_normal, .VKEY_btn_change_keyboard, .VKEY_btn_change_boilerpad {
    width: 67px;
    height: 67px;
    font-size: 30px;
}

.VKEY_btn_boiler {
    float: left;
    width: 100%;
    font-size: 20px;
    height: 67px;
}

#VKEY_field_editable {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    outline: black solid 2px;
    width: 1150px;
    height: 68px;
    overflow-x: hidden;
    white-space: nowrap;
}

.VKEY_floatleft {
    float: left;
}

#VKEY_position_middle {
    height: 350px;
    margin-top: 10px;
}
#VKEY_main_keyboard {
    margin-top: 170px;
}

#VKEY_btn_caretleft, #VKEY_btn_caretright {
    font-size: 30px;
    width : 400px;
    height: 67px;
    float: left;
    margin-right: 10px;
}

#VKEY_btn_spacer {
    font-size: 30px;
    width: 840px;
}

#VKEY_btn_cancel, #VKEY_btn_complete {
    font-size: 30px;
    width: 160px;
}

#VKEY_field_subject {
    font-size: 56px;
}

.VKEY_halfpad_boiler {
    float: left;
    width: 50%;
}

#VKEY_btn_clear, #VKEY_btn_delete {
    font-size: 30px;
    height: 67px;
}

#VKEY_btn_delete {
    margin-right: 5px;
}

#targetField {
    font-size: 35px;
    height: 65px;
    width: 560px;
}

.VKEY_pad_boiler {
    width: 25%;
    position: absolute;
    visibility: hidden;
}