@charset "utf-8";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.c-text {
	position: relative;
	width: 100%;
}
.c-text input[type="text"] {
	width: 100%;
	height: 2.5rem;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}

/* text ellipsis */
.c-ellipsis {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space:nowrap;
    line-height: 1.2;
}

/* radio */
.c-radio {
	line-height: 18px;

}
.c-radio__input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.c-radio__input:checked + label:before {
    border: 2px solid #3e4046;
}
.c-radio__input:checked + label:after {
    opacity: 1;
    visibility: visible;
}
.c-radio__label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #222;
    font-size: 16px;
}
.c-radio__label:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transform: translateY(-50%);;
    transition: border-color .2s;
}
.c-radio__label:after {
    content: " ";
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #181a1f;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .2s;
}

/* radio-group */
.c-radio-group:before {
    content: " ";
    display: table;
}
.c-radio-group:after {
    content: " ";
    display: table;
    clear: both;
}
.c-radio-group__item {
    float: left;
}
.c-radio-group__item + .c-radio-group__item {
    margin-left: 20px;
}

/* textarea */
.c-textarea {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #222;
    font-size: 14px;
    resize: none;
    outline: none;
    transition: border-color .2s;
}
.c-textarea:focus,
.c-textarea:active {
    border-color: #181A1F;
}
.c-textarea::placeholder {
    color: #aaa;
}

/* calendar */
.c-calendar-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-calendar-layout .c-calendar {
    flex: 1;
}
.c-calendar {
}
.c-calendar__input {
    float: left;
    display: block;
    width: calc(100% - 30px);
    height: 30px;
    padding: 0 10px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
}
.c-text__input:active {
    border-color: #50b6d4;
}
.c-calendar + span {
    display: block;
    padding: 0 10px;
}
.c-calendar__input + .ui-datepicker-trigger {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #50b6d4;
    font-size: 14px;
    border: 1px solid #50b6d4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.c-calendar__input + .ui-datepicker-trigger img {
    width: 100%;
}

/* functions */
.c-function {
    margin-top: 10px;
}
.c-function:before {
    content: " ";
    display: table;
}
.c-function:after {
    content: " ";
    display: table;
    clear: both;
}
.c-function__group {
    float: left;
}
.c-function__group:before {
    content: " ";
    display: table;
}
.c-function__group:after {
    content: " ";
    display: table;
    clear: both;
}
.c-function__group.c-function__group--right {
    float: right;
}
.c-function__item {
    float: left;
    display: inline-block;
}
.c-function__item + .c-function__item {
    margin-left: 10px;
}

/* select */
.c-select {
    /* width: 100%; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-select__input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 30px 0 10px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzQgMzQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM0IDM0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjMjIyMjIyIiBwb2ludHM9IjIxLjksMTQuOSAyMS4yLDE0LjIgMTcsMTguNCAxMi44LDE0LjIgMTIuMSwxNC45IDE3LDE5LjggMTcsMTkuOCAxNywxOS44ICIvPjwvc3ZnPg==);
    background-position: 100% 50%;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.c-select__input::-ms-expand {
    display: none;
}
.c-select__input:focus {
    border-color: #50b6d4;
}
.c-select.c-select--small .c-select__input {
    height: 22px;
    padding: 0 22px 0 10px;
    -webkit-background-size: 22px 22px;
    background-size: 22px 22px;
}
.c-select.c-select--label {
	position: relative
}
.c-select__label {
	display: block;
	margin-bottom: 5px;
	color: rgba(0, 0, 0, .3);
	font-size: 11px;
}


/* checkbox */
.c-checkbox {
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
    color: #222;
    line-height: 18px;
}
.c-checkbox__input {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

.c-checkbox__input[disabled] ~ label {
    cursor: default;
}

.c-checkbox__input[disabled] ~ label:before {
  background-color: #ebebeb;
}

.c-checkbox__input[disabled] ~ label:after {
  border: 2px solid #ddd;
  background: #ebebeb url(/assets/images/icon__check.svg) no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
  color: #666;
}

.c-checkbox__input:checked ~ label:before {
  display: none;
}

.c-checkbox__input:checked ~ label:after {
  display: block;
}

.c-checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
}

.c-checkbox__label:before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-checkbox__label:after {
  content: " ";
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #181a1f url(/assets/images/icon__check--w.png) no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}


/* button file */
.c-file {
    overflow: hidden;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-file__input {
  /* -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; */
    float: left;
    width: calc(100% - 84px);
    height: 28px;
    padding: 0 10px;
    border: 0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}

.c-file__button {
    float: left;
    width: 84px;
    height: 28px;
    padding: 0 14px;
    border: 0;
    background-color: #eee;
    color: #222;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
.c-file__button input[type="file"] {
  display: none;
}
.c-file__button:hover,
.c-file__button:focus {
  background-color: #d6d6d6;
}


/* toggle */
.c-toggle {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #222;
	line-height: 18px;
}
.c-toggle__input {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}
.c-toggle__input:checked ~ label:before {
	background-color: #17191e;
}
.c-toggle__input:checked ~ label:after {
	left: 20px;
	background-color: #E1E2E1;
}
.c-toggle__label {
	display: inline-block;
	position: relative;
	padding-left: 46px;
	color: #222;
	font-size: 14px;
	cursor: pointer;
}
.c-toggle__label:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 36px;
	height: 18px;
	background-color: #afb0af;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.c-toggle__label:after {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 2px;
	width: 14px;
	height: 14px;
	background-color: #17191e;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}


/* input date */
.c-date {
	position: relative;
}
.c-date__label {
	display: block;
	margin-bottom: 3px;
	color: #787a7d;
	font-size: 12px;
}
.c-date__input {
	width: 100%;
	height: 28px;
	padding: 5px 10px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-date__input[readonly] {
	background-color: #efefef;
}
input[type="date"] {
  background:#fff url(/assets/images/icon__calendar--gray.png)  97% 50% no-repeat ;
  -webkit-background-size: 16px;
  background-size: 16px;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.c-date-group:before {
	content: " ";
	display: table;
}
.c-date-group:after {
	content: " ";
	display: table;
	clear: both;
}
.c-date-group .c-date {
	float: left;
	width: 130px;
}
.c-date-group .c-date + .c-date {
	margin-left: 20px;
}
.c-date-group .c-date + .c-date:before {
	content: "-";
	position: absolute;
	bottom: 0;
	left: -13px;
	font-size: 16px;
	line-height: 27px;
}
.c-date-group.c-date-group--flex {
	display: flex;
}
.c-date-group.c-date-group--flex .c-date {
	flex: 1;
	float: none;
	width: auto;
}

/* datepicker */
.ui-datepicker,
.month-picker {
    overflow: hidden;
    width: 280px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.month-picker table{
    border-collapse: separate;
    border-spacing:2px 2px;
}
.month-picker td{
    padding:0;
    vertical-align: middle;
}
.ui-datepicker-header,
.month-picker-header {
    height: 50px;
    line-height: 50px;
    color: #73879c;
    background-color: #e4e4e4;
    margin-bottom: 10px;
}

.ui-datepicker-prev,
.ui-datepicker-next,
.month-picker-previous a,
.month-picker-next a {
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    border: 2px solid #73879c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-indent: -9999px;
    cursor: pointer;
}
.month-picker-previous a,
.month-picker-next a {
        display: block;
        position: relative;
        margin-top: 0;
}
.ui-datepicker-prev,
.month-picker-previous a {
    float: left;
    margin-left: 12px;
}
.ui-datepicker-next,
.month-picker-next a {
    float: right;
    margin-right: 12px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after,
.month-picker-previous a:after,
.month-picker-next a:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #73879c;
    border-bottom: 2px solid #73879c;
}
.ui-datepicker-prev:after,
.month-picker-previous a:after {
    margin: -43px 0 0 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ui-datepicker-next:after,
.month-picker-next a:after {
    margin: -43px 0 0 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.month-picker-previous a:after,
.month-picker-next a:after {
        margin-top: 7px;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.month-picker-previous a:hover,
.month-picker-next a:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after,
.month-picker-previous a:hover:after,
.month-picker-next a:hover:after {
    border-color: #007e37;
}
.ui-datepicker-title,
.month-picker-title {
    text-align: center;
}
.month-picker-title {
        width: 204px;
}
.month-picker-title .ui-button {
	line-height: 50px;
}
.ui-datepicker-calendar,
.month-picker-month-table {
    width: 100%;
    text-align: center;
}
.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    margin-bottom: 5px;
    color: #007e37;
    font-size: 12px;
}
.ui-state-default {
    display: block;
    color: #666;
    font-size: 12px;
    line-height: 40px;
}
.ui-button {
        display: block;
        color: #666;
        font-size: 12px;
        line-height: 40px;
        cursor: pointer;
}
.ui-state-default:hover,
.ui-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.ui-state-highlight {
    color: #007e37;
    font-weight: 700;
}
.ui-state-active {
    color: #007e37;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.1);
}
.ui-datepicker-unselectable .ui-state-default {
    border: 2px solid transparent;
    color: #eee;
}

