@charset "utf-8";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input text */
.c-text {
	position: relative;
	width: 100%;
}
.c-text input[type="text"],
.c-text input[type="number"],
.c-text input[type="password"] {
	width: 100%;
	height: 2.5rem;
	padding: 0 3rem 0 0.625rem;
	border: 0.063rem solid #bdbdbd;
	background-color: #fff;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.c-text input[type="text"]:read-only,
.c-text input[type="text"]:disabled,
.c-text input[type="number"]:read-only,
.c-text input[type="number"]:disabled,
.c-text input[type="password"]:read-only,
.c-text input[type="password"]:disabled {
	background-color: #f2f2f6;
	color: #555;
}
.c-text button {
	position: absolute;
	top: 50%;
	right: 0.625rem;
	width: 1.75rem;
	height: 1.75rem;
	text-indent: -99999rem;
	background: url(/assets/images/icon__keyboard.svg) no-repeat;
	-webkit-background-size: 1.75rem 1.75rem;
	background-size: 1.75rem 1.75rem;
	background-position: center center;
	border: 0 none;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.c-text input[type="text"]:read-only + button,
.c-text input[type="text"]:disabled + button,
.c-text input[type="number"]:read-only + button,
.c-text input[type="number"]:disabled + button,
.c-text input[type="password"]:read-only + button,
.c-text input[type="password"]:disabled + button {
	filter: invert(76%) sepia(0%) saturate(11%) hue-rotate(357deg) brightness(90%) contrast(87%);
}
.c-text.c-text--flex {
	display: flex;
}
.c-text.c-text--flex input[type="text"],
.c-text.c-text--flex input[type="number"],
.c-text.c-text--flex input[type="password"] {
	flex: 1;
}
.c-text.c-text--flex input[type="text"] + input[type="text"],
.c-text.c-text--flex input[type="number"] + input[type="number"],
.c-text.c-text--flex input[type="password"] + input[type="password"] {
	margin-left: 1.25rem;
}

/* select */
.c-select {
    /* width: 100%; */
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-select.c-select--blue select {
	color: #0082f0;
}
.c-select.c-select--blue select span {
	opacity: 0.5;
}
.c-select + .c-select {
	margin-left: 0.125rem;
}
.c-select select {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0 1.875em 0 0.625rem;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzQgMzQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM0IDM0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjMjIyMjIyIiBwb2ludHM9IjIxLjksMTQuOSAyMS4yLDE0LjIgMTcsMTguNCAxMi44LDE0LjIgMTIuMSwxNC45IDE3LDE5LjggMTcsMTkuOCAxNywxOS44ICIvPjwvc3ZnPg==);
    background-position: 100% 50%;
    -webkit-background-size: 1.875rem 1.875rem;
    background-size: 1.875rem 1.875rem;
    background-repeat: no-repeat;
    border: 1px solid #dbdbdb;
    border-radius: 0.313rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #28323c;
    font-size: 1rem;
    transition: border-color .2s;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.c-select select::-ms-expand {
    display: none;
}
.c-select select:focus {
    border-color: #0082f0;
}

/* button */
.c-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 3.125rem;
	min-width: 8.75rem;
	padding: 0 1.25rem;
	background-color: #fff;
	border: 0.125rem solid #bdbdbd;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
	color: #0082f0;
	font-weight: 700;
	cursor: pointer;
}
.c-button.c-button--solid {
	border: 0 none;
	background-color: #0082f0;
	color: #fff;
}
.c-button.c-button--large {
	min-width: 10rem;
	height: 3.75rem;
	font-size: 1.25rem;
}
.c-button.c-button--small {
	min-width: 6.25rem;
	height: 2.5rem;
	padding: 0 0.625rem;
	border-width: 0.063rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.c-button.c-button--supersmall {
	min-width: auto;
	height: 1.875rem;
	padding: 0 0.313rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.c-button.c-button--darksolid {
	border: 0 none;
	background-color: #004a98;
	color: #fff;
}
.c-button.c-button--dark {
	border: 0 none;
	background-color: #28323c;
	color: #fff;
}
.c-button.c-button--red {
	border: 0 none;
	background-color: #b82c31;
	color: #fff;
}
.c-select + .c-button {
	margin-left: 0.375rem;
}

/* 카메라 버튼 */
.c-camera-btn {
	display: block;
	width: 1.875rem;
	height: 1.875rem;
	background: #fff url(/assets/images/icon__camera.svg) no-repeat;
	-webkit-background-size: 1.125rem 1.125rem;
	background-size: 1.125rem 1.125rem;
	background-position: center center;
	border: 0.125rem solid #bbd0fc;
	text-indent: -9999rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}

/* 키보드 버튼 */
.c-keybtn {
	width: 1.875rem;
	height: 1.875rem;
	border: 0.125rem solid #bbd0fc;
	background: #fff url(/assets/images/icon__keyboard.svg) no-repeat;
	-webkit-background-size: 1.5rem 1.5rem;
	background-size: 1.5rem 1.5rem;
	background-position: center center;
	text-indent: -9999rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
/* 취소 버튼 */
.c-cancelbtn {
	width: 1.875rem;
	height: 1.875rem;
	border: 0.125rem solid #f0a7ab;
	background: #fff url(/assets/images/icon__X.svg) no-repeat;
	-webkit-background-size: 1.5rem 1.5rem;
	background-size: 1.5rem 1.5rem;
	background-position: center center;
	text-indent: -9999rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}

/* textarea */
.c-textarea {
	position: relative;
}
.c-textarea textarea {
    overflow: auto;
    width: 100%;
    height: 6.25rem;
    margin: 0;
    padding: 0.625rem;
    border: 0.063rem solid #bdbdbd;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    border-radius: 0.313rem;
    color: #222;
    resize: none;
    outline: none;
    transition: border-color .2s;
}
.c-textarea textarea::placeholder {
    color: #959595;
}
.c-textarea button {
	position: absolute;
	bottom: 0.625rem;
	right: 0.625rem;
	width: 1.75rem;
	height: 1.75rem;
	text-indent: -99999rem;
	background: url(/assets/images/icon__keyboard.svg) no-repeat;
	-webkit-background-size: 1.75rem 1.75rem;
	background-size: 1.75rem 1.75rem;
	background-position: center center;
	border: 0 none;
}


/* text ellipsis */
.c-ellipsis {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space:nowrap;
    line-height: 1.2;
}

/* radio */
.c-radio {
	display: inline-block;
	position: relative;
	line-height: 1.25rem;
}
.c-radio + .c-radio {
	margin-left: 2.25rem;
}
.c-radio input[type="radio"] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.c-radio input[type="radio"]:checked + label:before {
    border: 0.375rem solid #0082f0;
}
.c-radio label {
    display: inline-block;
    position: relative;
    padding-left: 1.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #222;
    font-size: 1rem;
    line-height: 1.25rem;
}
.c-radio label:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.125rem solid #bdbdbd;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transform: translateY(-50%);;
    transition: border-color .2s;
}

/* checkbox */
.c-checkbox {
	display: inline-block;
	position: relative;
	line-height: 1.25rem;
}
.c-checkbox input[type="checkbox"] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.c-checkbox input[type="checkbox"]:checked + label:before {
	border-color: #0082f0;
	background-color: #0082f0;
}
.c-checkbox input[type="checkbox"]:checked + label:after {
	display: block;
}
.c-checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #333;
    font-size: 1rem;
    line-height: 1.5rem;
}
.c-checkbox label:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
	width: 1.5rem;
	height: 1.5rem;
    border: 0.125rem solid #bdbdbd;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
    border-radius: 0.125rem;
    background-color: #fff;
    transition: border-color .2s;
}
.c-checkbox label:after {
	content: " ";
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 1.5rem;
	height: 1.5rem;
	background: transparent url(/assets/images/icon__check--w.svg) no-repeat;
	background-position: center center;
	-webkit-background-size: 0.875rem 0.875rem;
	background-size: 0.875rem 0.875rem;
}

/* search */
.c-search {
	display: inline-flex;
	flex-wrap: wrap;
}
.c-search__input {
	position: relative;
	width: 23.125rem;
}
.c-search__input input[type="text"] {
	width: 100%;
	height: 2.5rem;
	padding-left: 1.25rem;
	padding-rifht: 3.125rem;
	background-color: #fff;
	border: 0.063rem solid #bdbdbd;
	border-top-left-radius: 0.625rem;
	border-bottom-left-radius: 0.625rem;
}
.c-search__key {
	position: absolute;
	top: 0;
	right: 0.313rem;
	width: 2.5rem;
	height: 2.5rem;
	background: transparent url(/assets/images/icon__keyboard.svg) no-repeat;
	-webkit-background-size: 1.625rem 1.625rem;
	background-size: 1.625rem 1.625rem;
	background-position: center center;
	border: 0 none;
	text-indent: -9999rem;
}
.c-search__bth {
	width: 3.125rem;
	height: 2.5rem;
	background: #004a98 url(/assets/images/icon__search.svg) no-repeat;
	-webkit-background-size: 1.625rem 1.625rem;
	background-size: 1.25rem 1.25rem;
	background-position: center center;
	border: 0 none;
	border-top-right-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
	text-indent: -9999rem;
}

/* toggle */
.c-toggle {
	position: relative;
	width: 3.25rem;
	height: 1.625rem;
}
.c-toggle.c-toggle--vertical {
	width: 1.625rem;
	height: 3.25rem;
}
.c-toggle input[type="checkbox"] {
	overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.c-toggle label {
	display: block;
	position: absolute;
	top: 0.188rem;
	left: 0;
	width: 3.25rem;
	height: 1.25rem;
	background-color: #999;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
}
.c-toggle.c-toggle--vertical label {
	top: 0;
	left: 0.188rem;
	width: 1.25rem;
	height: 3.25rem;
}
.c-toggle label:before {
	content: " ";
	position: absolute;
	top: -0.188rem;
	left: 0;
	width: 1.625rem;
	height: 1.625rem;
	background-color: #fff;
	border: 0.063rem solid #999;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;;
}
.c-toggle.c-toggle--vertical label:before {
	top: 0;
	left: -0.188rem;
}
.c-toggle input[type="checkbox"]:checked + label {
	background-color: #0082f0;
}
.c-toggle input[type="checkbox"]:checked + label:before {
	left: 1.625rem;
}
.c-toggle.c-toggle--vertical input[type="checkbox"]:checked  + label:before {
	top: 1.625rem;
	left: -0.188rem;
}

/* elevator */
.c-elevator {
	overflow: hidden;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 0.063rem;
	background-color: #d4d9e1;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.c-elevator__btn {
	width: 2.5rem;
	height: 2.5rem;
	border: 0 none;
	background-color: #fff;
	background-repeat: no-repeat;
	-webkit-background-size: 1.625rem;
	background-size: 1.625rem;
	background-position: center center;
	text-indent: -9999rem;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.c-elevator__btn.up {
	border-left-top-radius: 0.313rem;
	border-left-bottom-radius: 0.313rem;
	background-image: url(/assets/images/icon__up--one.svg);
}
.c-elevator__btn.down {
	margin-left: 0.063rem;
	border-right-top-radius: 0.313rem;
	border-right-bottom-radius: 0.313rem;
	background-image: url(/assets/images/icon__down--one.svg);
}
.c-elevator__btn:active {
	background-color: #d4d9e1;
}

/* state */
.c-state {
	display: inline-block;
	padding: 0 0.75rem;
	height: 1.5rem;
	background-color: #e5eeff;
	border: 0 none;
	color: #0082f0;
	font-size: 0.875ren;
	font-weight: 700;
	line-height: 1.5rem;
	-webkit-border-radius: 1.25rem;
	-moz-border-radius: 1.25rem;
	border-radius: 1.25rem;
}
.c-state:active {
	background-color: #0082f0;
	color: #fff;
}
.c-state.c-state--modify {
	background-color: #e5f7e8;
	color: #00b835;
}
.c-state.c-state--modify:active {
	background-color: #00b835;
	color: #fff;
}
.c-state.c-state--cancel {
	background-color: #fce9eb;
	color: #ff7163;
}
.c-state.c-state--cancel:active {
	background-color: #ff7163;
	color: #fff;
}

/* tabs */
.c-tabs {
	position: relative;
	width: 100%;
}
.c-tabs__head {
	display: flex;
	flex-wrap: wrap;
	height: 3.75rem;
	background-color: #004a98;
}
.c-tabs__btn {
	display: inline-block;
	position: relative;
	height: 3.75rem;
	padding: 0 1.875rem;
	background-color: transparent;
	border: 0 none;
	border-top-left-radius: 0.625rem;
	border-top-right-radius: 0.625rem;
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.c-tabs__btn.active {
	background-color: #fff;
	border: 0.063rem solid #c4c4c4;
	border-bottom: 0 none;
	color: #0082f0;
}
.c-tabs__btn:before {
	content: " ";
	display: block;
	position: absolute;
	bottom: 0.625rem;
	left: 1.873rem;
	width: 0;
	height: 0.125rem;
	background-color: #0082f0;
	-webkit-transition: width .2s;
	-moz-transition: width .2s;
	-ms-transition: width .2s;
	-o-transition: width .2s;
	transition: width .2s;
}
.c-tabs__btn.active:before {
	width: calc(100% - 3.75rem);
}
.c-tabs__btn:after {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	right: -0.063rem;
	width: 0.063rem;
	height: 1.25rem;
	background-color: #c4c4c4;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.c-tabs__btn:last-child:after {
	display: none;
}
.c-tabs__body {
	position:relative;
	width: 100%;
	padding: 2.5rem;
	background-color: #fff;
	border: 0.063rem solid #c4c4c4;
	border-top: 0 none;
}
.c-tabs__content {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	height: 45.625rem;
}
.c-tabs__content.active {
	display: flex;
}
.c-tabs__content-header {
	width: 100%;
	height: 3rem;
	margin-bottom: 1.25rem;
	padding-bottom: 0.625rem;
	border-bottom: 0.125rem solid #c8c8c8;
}
.c-tabs__content-heading {
	color: #000;
	font-size: 1.5rem;
}
.c-tabs__content-body {
	width: 100%;
	flex: 1;
}
.c-tabs__content-body.c-tabs__content-body--flex {
	display: flex;
	flex-wrap: wrap;
}
.c-tabs__inner {
	width: 50%;
}
.c-tabs__content-body.c-tabs__content-body--flex .c-tabs__inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: auto;
}
.c-tabs__content-body.c-tabs__content-body--flex .c-tabs__inner + .c-tabs__inner {
	margin-left: 2.5rem;
}
.c-tabs__body-console {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 1.25rem;
}
.c-tabs__body-console.c-tabs__body-console--right {
	justify-content: flex-end;
}
.c-tabs__body-console .c-button + .c-button {
	margin-left: 1.25rem;
}
.c-tabs__elevator {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1.25rem;
}
.c-tabs__content-footer {
	width: 100%;
	height: 3.125rem;
	margin-top: 1.25rem;
}
.c-tabs__search {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	background-color: #f1f8fe;
	border: 0.063rem solid #d9e5ff;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.c-tabs__search-item {
	display: flex;
	align-items: center;
}
.c-tabs__search-item + .c-tabs__search-item {
	margin-left: 1.25rem;
}
.c-tabs__search-title {
	width: 4.375rem;
}
.c-tabs__search-input {
	width: 6.875rem;
}
.c-tabs__search-btn {
	margin-left: auto;
}
.c-tabs__console {
	display: flex;
	justify-content: center;
}
.c-tabs__console button + button {
	margin-left: 1.25rem;
}



/* datepicker */
.c-date {
	width: 8.125rem;
	height: 2.5rem;
	padding-right: 0.625rem;
	padding-left: 2rem;
	background-color: #fff;
	background-image: url(/assets/images/icon__calendar--b.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 1.125rem 1.125rem;
	background-size: 1.125rem 1.125rem;
	background-position: 0.625rem center;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
	color: #444;
}
.c-date:read-only,
.c-date:disabled {
	background-color: #f2f2f6;
	background-image: url(/assets/images/icon__calendar--g.svg);
}
.c-period {
	width: 14.375rem;
	height: 2.5rem;
	padding-left: 1.875rem;
	background-color: #fff;
	background-image: url(/assets/images/icon__calendar--b.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 1.125rem 1.125rem;
	background-size: 1.125rem 1.125rem;
	background-position: 0.625rem center;
	border: 0.063rem solid #aaa;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.c-period:before {
	content: " ";
	display: table;
}
.c-period:after {
	content: " ";
	display: table;
	clear: both;
}
.c-period input[type="text"] {
	float: left;
	display: block;
	position: relative;
	width: 5.75rem;
	height: 2.375rem;
	padding: 0;
	border: 0 none;
}
.c-period__code {
	float: left;
	display: block;
	width: 0.875rem;
	height: 2.375rem;
	line-height: 2.375rem;
}

/* datepicker */
.ui-datepicker {
    overflow: hidden;
    width: 21.25rem;
    padding: 0 1.25rem;
    background-color: #fff;
    -webkit-border-radius: 0.313rem;
    -moz-border-radius: 0.313rem;
    border-radius: 0.313rem;
    -webkit-box-shadow: 0 0.063rem 0.5rem rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0.063rem 0.5rem rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.063rem 0.5rem rgba(0, 0, 0, 0.3);
}
.ui-datepicker-header {
	position: relative;
    height: 4.625rem;
    border-bottom: 2px solid #bdbdbd;
    margin-bottom: 0.625rem;
    line-height: 4.625rem;
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    overflow: hidden;
    display: block;
	position: absolute;
	top: 1.375rem;
    width: 1.875rem;
    height: 1.875rem;
    border: 2px solid #555;
    -webkit-background-size: 1.25rem 1.25rem;
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    border-radius: 1.25rem;
    text-indent: -9999px;
    cursor: pointer;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
	display: none;
	text-indent: -9999px;
}
.ui-datepicker-prev {
	left: 1.125rem;
	background-image: url(/assets/images/icon__left.svg);
}
.ui-datepicker-next {
	right: 1.125rem;
	background-image: url(/assets/images/icon__right.svg);
}
.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
}
.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    margin-bottom: 5px;
    color: #333;
    font-size: 1rem;
}
.ui-state-default {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    color: #000;
    font-size: 1rem;
    line-height: 2.5rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.ui-button {
    display: block;
    color: #666;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
}
.ui-state-default:hover,
.ui-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.ui-state-highlight {
    color: #007e37;
    font-weight: 700;
}
.ui-state-active {
    color: #fff;
    font-weight: 700;
    background-color: #0082f0
}
.ui-datepicker-unselectable .ui-state-default {
    border: 2px solid transparent;
    color: #eee;
}


/*****************************************************/

