@charset "utf-8";

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/* css reset */
*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}
::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}
:where(:root) {
	cursor: default;
	line-height: 1.5;
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
}
:where(body) {
	margin: 0;
	font-family: 'Noto Sans KR';
}
:where(a) {
	text-decoration: none;
}
:where(h1) {
	font-size: 2rem;
}
:where(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}
:where(dl, ol, ul) {
	list-style: none;
	padding: 0;
	margin: 0;
}
:where(hr) {
	color: inherit;
	height: 0;
}
:where(pre) {
	font-family: monospace, monospace;
	font-size: 1rem;
	overflow: auto;
}
:where(abbr[title]) {
	text-decoration: underline;
	text-decoration: underline dotted;
}
:where(b, strong) {
	font-weight: bolder;
}
:where(code, kbd, samp) {
	font-family: monospace, monospace;
	font-size: 1em;
}
:where(small) {
	font-size: 80%;
}
:where(audio, canvas, iframe, img, svg, video) {
	vertical-align: middle;
}
:where(iframe) {
	border-style: none;
}
:where(svg:not([fill])) {
	fill: currentColor;
}
:where(table) {
	border-collapse: collapse;
	border-color: inherit;
text-indent: 0;
}
:where(button, input, select, p) {
	margin: 0;
}
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
	-webkit-appearance: button;
}
:where(fieldset) {
	border: 1px solid #a0a0a0;
}
:where(progress) {
	vertical-align: baseline;
}
:where(textarea) {
	margin: 0;
	resize: vertical;
}
:where([type="search" i]) {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
:where(dialog) {
	background-color: white;
	border: solid;
	color: black;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -moz-fit-content;
	width: fit-content;
}
:where(dialog:not([open])) {
	display: none;
}
:where(details > summary:first-of-type) {
	display: list-item;
}
:where([aria-busy="true" i]) {
	cursor: progress;
}
:where([aria-controls]) {
	cursor: pointer;
}
:where([aria-disabled="true" i], [disabled]) {
	cursor: not-allowed;
}
:where([aria-hidden="false" i][hidden]) {
	display: initial;
}
:where([aria-hidden="false" i][hidden]:not(:focus)) {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}
:where(button, input, select, textarea) {
	background-color: transparent;
	border: 1px solid WindowFrame;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: 0.25em 0.375em;
}
:where(select) {
	appearance: none;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center / 1em;
	border-radius: 0;
	padding-right: 1em;
}
:where(select[multiple]) {
	background-image: none;
}
:where([type="color" i], [type="range" i]) {
	border-width: 0;
	padding: 0;
}
iframe,
img,
input,
select,
textarea {
	height: auto;
	max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}
/* /reset end */


/* css start */
.wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	height: 100vh;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 4.375em;
	padding: 0 2.5rem;
	background-color: #fff;
	border-bottom: 0.063rem solid #d7d7d8;
	color: #fff;
}
.header .logo {
	display: block;
	width: 8.875rem;
	height: 2.25rem;
	margin-top: 1.063rem;
}
.header .logo img {
	width: 100%;
}
.header .info {
	display: flex;
}
.header__link,
.header__btn {
	display: flex;
	align-items: center;
	margin-left: 2.5rem;
	border: 0 none;
}
.header__link img,
.header__btn img {
	width: 1.875em;
}
.header__link span,
.header__btn span {
	margin-left: 0.75rem;
	color: #a2a2a2;
	font-weight: 700;
}
.header__link.active span,
.header__btn.active span {
	color: #2f73ea;
}

/* content */
.content {
	overflow: auto;
	flex: 1;
	position: relative;
	background-color: #f5f5f5;
}
.content.content--padding {
	padding: 2.5rem;
}

/* login */
.login-wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
}
.login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 37.5rem;
	padding: 3.75rem 4.063rem 4.375rem;
	background-color: #fff;
	-webkit-border-radius: 1.25rem;
	-moz-border-radius: 1.25rem;
	border-radius: 1.25rem;
	-webkit-box-shadow: 0 0.375rem 2.5rem rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0 0.375rem 2.5rem rgba(0, 0, 0, 0.14);
	box-shadow: 0 0.375rem 2.5rem rgba(0, 0, 0, 0.14);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.login__logo {
	width: 12.5rem;
	height: 8.75rem;
	margin: 0 auto;
}
.login__logo img {
	width: 100%;
}
.login__form-box {
	margin-top: 2.5rem;
}
.login__input {
	position: relative;
	width: 29.375rem;
}
.login__input input[type="text"],
.login__input input[type="password"] {
	width: 100%;
	height: 4.375rem;
	border: 0.063 solid #dadfe2;
	padding: 0 5rem 0 4rem;
	font-size:1.25rem;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
	-webkit-background-size: 1.5rem 1.5rem;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: 1.25rem center;
}
.login__input input[type="text"] {
	background-image: url(/assets/images/icon__id.svg);
}
.login__input input[type="password"] {
	background-image: url(/assets/images/icon__pw.svg);
}
.login__input button {
	position: absolute;
	top: 50%;
	right: 0.625rem;
	width: 4.375rem;
	height: 4.375rem;
	text-indent: -99999rem;
	background: url(/assets/images/icon__keyboard.svg) no-repeat;
	-webkit-background-size: 1.875rem 1.875rem;
	background-size: 1.875rem 1.875rem;
	background-position: center center;
	border: 0 none;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.login__input + .login__input {
	margin-top: 0.625rem; 
}
.login__check {
	margin-top: 1.25rem;
}
.login__check-input {
    overflow: hidden;
    position: absolute;
    width: 0.063rem;
    height: 0.063rem;
    margin: -0.063rem;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.login__check-input:checked + label:before {
    border: 0.063rem solid #2f73ea;
    background-color: #2f73ea;
}
.login__check-input:checked + label:after {
    background-image: url(/assets/images/icon__check--w.svg);
}
.login__check-label {
    display: inline-block;
    position: relative;
    padding-left: 2.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #333;
    font-size: 1.24rem;
    line-height: 1.5rem;
}
.login__check-label:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.875rem;
    height: 1.875rem;
    border: 0.063rem solid #c3cdd9;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: border-color .2s;
}
.login__check-label:after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    width: 0.875rem;
    height: 0.875rem;
    background-image: url(/assets/images/icon__check--g.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 0.875rem 0.875rem;
    background-size: 0.875rem 0.875rem;
    background-position: center center;
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .2s;
}
.login__btn {
	width: 100%;
	height: 3.75rem;
	margin-top: 2.5rem;
	background-color: #2f73ea;
	color: #fff;
	font-size: 1.25rem;
	font-weight: 700;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
}

/* main */
.main {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
}
.main__header {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 12.25rem;
	padding: 2.5rem;
	background-image: url(/assets/images/main__bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.main__store {
	display: flex;
}
.main__storename {
	position: relative;
}
.main__branch {
	display: inline-flex;
	align-items: center;
	height: 2.125rem;
	padding:0 1.25rem;
	border: 0.125rem solid #f1f5ff;
	-webkit-border-radius: 2.125rem;
	-moz-border-radius: 2.125rem;
	border-radius: 2.125rem;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main__name {
	display: block;
	color: #fff;
	font-size: 2.813rem;
	font-weight: 700;
}
.main__storeinfo {
	display: flex;
	align-items: flex-end;
	margin-left: 1.625rem;
	margin-bottom: 1rem;
}
.main__storeinfo li + li {
	margin-left: 1.625rem;
}
.storeinfo__title {
	color: #f1f5ff;
	font-weight: 700;
}
.storeinfo__value {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 700;
}
.main__current {
	display: flex;
	align-items: center;
}
.main__current li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 1.875rem 0 2.5rem;
}
.main__current li:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: -1.875rem;
	width: 0.125rem;
	height: 100%;
	background-color: #fff;
}
.main__current li:first-child:before {
	display: none;
}
.main__currentnum {
	color: #fff;
	font-size: 2.25rem;
	font-weight: 700;
}
.main__currenttitle {
	color: #fff;
	font-weight: 700;
}
.main__contents {
	flex:1;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 1.25rem 2.5rem 2.5rem;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.main__contents:before {
	content: " ";
	position: absolute;
	top: -1.25rem;
	left: 0;
	width: 100%;
	height: 2.5rem;
	background-color: #fff;
	-webkit-border-radius: 2.5rem;
	-moz-border-radius: 2.5rem;
	border-radius: 2.5rem;
}
.main__quickmenu {
	display: flex;
	width: 100%;
	margin-bottom: 2.5rem;
}
.main__quickmenu li {
	flex: 1;
}
.main__quickmenu li + li {
	margin-left: 1rem;
}
.main__quickbtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3.75rem;
	background-color: #f2f6ff;
	border: 0.063rem solid #067dfd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #067dfd;
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
}
.main__quickbtn.active,
.main__quickbtn:hover,
.main__quickbtn:active {
	background-color: #067dfd;
	color: #fff;
	cursor: pointer;
}
.main__quickbtn.closing {
	background-color: #f7f7f7;
	color: #a3a3a3;	
}
.main__quickbtn.closing:hover,
.main__quickbtn.closing:active {
	background-color: #ebebeb;
}
.main__column-area {
	flex: 1;
	display: flex;
}
.main__board-area:first-child {
	width: 31.25rem;
}
.main__board-area:last-child {
	flex: 1;
	margin-left: 2.5rem;
}
.main__board {
	position: relative;
}
.main__board + .main__board {
	margin-top: 1.5rem;
}
.main__board-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.125rem;
	border-bottom: 0.125rem solid #c8c8c8;
}
.main__board-header h3 a {
	color: #333;
	font-size: 1.5rem;
	font-weight: 700;
}
.main__board-contents {
	margin-top: 0.625rem;
}
.main__board-contents li {
	display: flex;
	align-items: center;
	height: 3.125rem;
	padding: 0.625rem;
	border-bottom: 0.063rem solid #eaeaea;
}
.main__board-badge,
.main__board-time {
	width: 4.375rem;
}
.main__board-phone {
	width: 7.5rem;
}
.main__board-time span,
.main__board-phone span {
	color: #636c75;
	font-size: 0.875rem;
}
.main__board-title {
	flex: 1;
	width: 100%;
}
.main__board-title span {
	overflow: hidden;
	display: block;
	width: 23.75rem;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main__board-title.name span {
	width: 12.5rem;
}
.main__board-area:last-child .main__board-title span {
	width: 29rem;
}
.main__board-area:last-child .main__board:last-child .main__board-title span {
	width: 34rem;
}
.main__board-date {
	flex: 0 0 auto;
	width: 5rem;
}
.main__board-date span {
	color: #8d9db0;
	font-size: 0.875rem;
}
.main__board-stamp {
	width: 5rem;
}
.badge {
	display: inline-block;
	height: 1.5rem;
	padding: 0 0.75rem;
	background-color: #c2cad4;
	color: a3a3a3;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.5rem;
	-webkit-border-radius: 0.75rem;
	-moz-border-radius: 0.75rem;
	border-radius: 0.75rem;
}
.badge.green {
	background-color: #e5f7e8;
	color: #00b835
}
.badge.red {
	background-color: #fce9eb;
	color: #ff7163;
}
.stamp.blue {
	color: #2f73ea;
}

/* customer 고객등록 */
.customer {
	width: 100%;
	padding: 2.5rem;
	background-color: #fff;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
	-webkit-box-shadow: 0 0.063rem 0.188rem rgba(0, 0, 0, 0.40);
	-moz-box-shadow: 0 0.063rem 0.188rem rgba(0, 0, 0, 0.40);
	box-shadow: 0 0.063rem 0.188rem rgba(0, 0, 0, 0.40);
}
.customer__header {
	margin-bottom: 1.25rem;
	padding-bottom: 0.625rem;
	border-bottom: 0.125rem solid #c8c8c8;
}
.customer__header h3 {
	font-size: 1.5rem;
	line-height: 2rem;
}
.customer__form-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.customer__form-item {
	display: flex;
	align-items: center;
	width: calc(50% - 2.188rem);
	padding: 1.25rem 0;
}
.customer__form-item:nth-child(2n) {
	margin-left: 4.375rem;
}
.customer__form-item.customer__form-item--100 {
	width: 100%;
	align-items: flex-start;
}
.customer__form-item.customer__form-item--100 + .customer__form-item {
	margin-left: 0;
}
.customer__form-title {
	width: 7.5rem;
	font-size: 1.125rem;
	font-weight: normal;
}
.customer__form-title span {
	color: #f42d16;
	font-size: 0.75rem;
	font-weight: 700;
	vertical-align: text-top;
}
.customer__form-input {
	flex: 1;
}
.customer__btns {
	display: flex;
	justify-content: center;
	margin-top: 1.25rem;
}
.customer__btns button + button {
	margin-left: 1.25rem;
}

/* 접수등록 */
.regist {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: calc(100vh - 4.375rem);
}
.regist__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 13.625rem;
	padding: 2rem 2.5rem 1.625rem 2.5rem;
	background: linear-gradient(95.39deg, #4D95F7 34.95%, #377CF4 69.23%);
}
.search {
	display: inline-flex;
	flex-wrap: wrap;
	height: 2.5rem;
}
.search .c-search {
	margin-left: 0.75rem;	
}
.client {
	display: inline-flex;
	flex-wrap: wrap;
	width: 42.5%;
	height: 2.813rem;
	line-height: 1.375rem;
}
.client__rating {
	display: inline-flex;
}
.client__badge {
	display: none;
	width: 1.375rem;
	height: 1.375rem;
	background-color: #bbd0fc;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	font-size: 0.938rem;
	font-weight: 700;
	line-height: 1.375rem;
	text-align: center;
}
.client__badge.client__badge--vvip {
	background-color: #f2f6ff;
	color: #004a98;
}
.client__badge.active {
	display: inline-block;
}
.client__rating #bcGrade {
	margin-left: 0.5rem;
	color: #bbd0fc;
	font-weight: 700;
}
.client__name {
	margin-left: 0.875rem;
	color: #fff;
	font-weight: 700;
}
.client__propensity {
	margin-left: auto;
}
.client__address {
	width: 76%;
	color: #fff;
}
.client__phone {
	width: 24%;
	color: #fff;
	text-align: right;
}
.regist__info {
	display: flex;
	width: 41.25rem;
	margin-top: 0.938rem;
}
.regist__amount {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	/*border: 0.063rem solid #d7d7d7;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;*/
}
.regist__amount li {
	width: 10.625rem;
	height: 6.25rem;
	padding: 1.25rem 0.875rem;
	background-color: #fff;
} 
.regist__amount li + li {
	border-left: 0.063rem solid #d7d7d7;
}
.regist__amount li:first-child {
	width: 8.625rem;
	border-top-left-radius: 0.313rem;
	border-bottom-left-radius: 0.313rem;
}
.regist__amount li:last-child {
	border-top-right-radius: 0.313rem;
	border-bottom-right-radius: 0.313rem;
}
.regist__amount li h4 {
	color: #444;
	font-weight: 700;
	line-height: 1rem;
}
.regist__amount li p,
.regist__sum p {
	margin: 1.25rem 0 0 0;
	color: #333;
	font-size: 1.625rem;
	font-weight: 700;
	line-height: 1.75rem;
	text-align: right;
}
.regist__amount li p .won,
.regist__sum p .won {
	margin-left: 0.125rem;
	color: #000;
	font-size: 0.875rem;
	font-weight: 400;
}
.regist__sum {
	width: 10.625rem;
	height: 6.25rem;
	margin-left: auto;
	padding: 1.25rem 0.875rem;
	background-color: #004a98;
	border: 0.063rem solid #003b7a;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.regist__sum h4 {
	color: #fff;
	font-weight: 700;
	line-height: 1rem;
}
.regist__sum p,
.regist__sum p .won {
	color: #fff
}
.client-info {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	width: 42.5%;
	height: 6.25rem;
	margin-top: 0.938rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.client-info li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 50%;
	height: 3.125rem;
	background-color: #fff;
}
.client-info li h4 {
	width: 6.25rem;
	padding: 0 0.625rem;
	background-color: #f8f8f8;
	color: #444;
	font-weight: 700;
	line-height: 3.125rem;
}
.client-info li p {
	width: 9.688rem;
	padding: 0 0.625rem;
	color: #333;
	text-align: right;
}
.client-info li p .won {
	font-size: 0.875rem;
}
.client-info__num {
	color: #004a98;
	font-size: 1.125;
	font-weight: 700;
}
.propensity__star {
	display: inline-block;
	width: 6.875rem;
	height: 1.375rem;
	background-image: url(/assets/images/icon__star--3.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: center center;
}
.propensity__star.propensity__star--1 {
	background-image: url(/assets/images/icon__star--1.svg);
}
.propensity__star.propensity__star--2 {
	background-image: url(/assets/images/icon__star--2.svg);
}
.propensity__star.propensity__star--4 {
	background-image: url(/assets/images/icon__star--4.svg);
}
.propensity__star.propensity__star--5 {
	background-image: url(/assets/images/icon__star--5.svg);
}
.regist__content {
	flex: 1;
	padding: 1.5rem 2.5rem;
}
.regist__tag {
	display: inline-flex;
	margin-bottom: 1.25rem;
}
.regist__tag-title {
	width: 7.5rem;
	height: 2.5rem;
	border: 0.063rem solid #0082f0;
	background-color: #fff;
	color: #0082f0;
	line-height: 2.5rem;
	text-align: center;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.regist__tag-input {
	width: 12.5rem;
	margin-left: 0.75rem;
}
.regist__tag-button {
	margin-left: 1.25rem;
}
#grid_requestList {
	height: 18.75rem;
	trnasition: height .4s;
}
#grid_requestList.active {
	height: 33.125rem;
}
.regist__bottom {
	display: flex;
	flex-direction: row-reverse;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #1a1a1a;
	border-top-left-radius: 1.25rem;
	-webkit-box-shadow: 0 -0.063rem 1.25rem 0.313rem rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 -0.063rem 1.25rem 0.313rem rgba(0, 0, 0, .4);
	box-shadow: 0 -0.063rem 1.25rem 0.313rem rgba(0, 0, 0, .4);
	-webkit-transition: bottom .4s;
	-moz-transition: bottom .4s;
	-ms-transition: bottom .4s;
	-o-transition: bottom .4s;
	transition: bottom .4s;
}
.regist__bottom-console {
	position: relative;
	width: 6.25rem;
	padding: 1.25rem;
}
.regist__bottom-btn {
	width: 3.75rem;
	height: 3.75rem;
	margin-bottom: 1.25rem;
	color: #fff;
	background-image: url(/assets/images/icon__down.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 1.875rem 1.875rem;
	background-size: 1.875rem 1.875rem;
	background-position: center center;
	border: 0 none;
	text-indent: -9999rem;
}
.regist__bottom-toggle {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding-top: 1.625rem;
	border-top: 0.063rem solid #4c4c4c;
}
.regist__bottom-toggle p {
	margin: 0.875rem 0;
	color: #fff;
	font-weight: 700;
}
.regist__category {
	position: relative;
	width: calc(100% - 6.25rem);
	padding: 2.188rem 3.125rem 5.938rem 3.125rem;
	background-color: #fff;
	border-top-left-radius: 1.25rem;
	border-top-right-radius: 1.25rem;
}
.regist__category > ul {
	display: flex;
	flex-wrap: wrap;
}
.regist__category > ul > li {
	padding: 0.313rem 0.625rem;
}
.regist__category-btn {
	display: inline-flex;
	align-items: center;
	width: 10rem;
	height: 3.75rem;
	padding: 0 1.25rem;
	background-color: #f8f8f8;
	border: 0.063rem solid #bdbdbd;
	text-align: left;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.regist__category-btn img {
	width: 2.25rem;
	height: 2.25rem;
	margin-right: 0.5rem;
}
.regist__category-btn span {
	display: inline-block;
	width: 4.625rem;
	color: #4f4f4f;
	font-weight: 700;
	-ms-word-break: keep-all;
	word-break: keep-all;
}
.regist__category-btn:hover,
.regist__category-btn:active {
	color: 0082f0;
	background-color: #e7f4ff;
	border: 0.125rem solid #0082f0;
}
.regist__category-btn:hover img,
.regist__category-btn:active img {
	filter: invert(35%) sepia(99%) saturate(2349%) hue-rotate(188deg) brightness(94%) contrast(108%);
}
.regist__category-btn:hover span,
.regist__category-btn:active span {
	color: #0082f0
} 
.regist__console {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(100% - 6.25rem);
	height: 6.25rem;
	padding: 0 3.75rem;
	background-color: #fff;
	border-top-left-radius: 1.25rem;
	border-top-right-radius: 1.25rem;
}
.regist__console > ul {
	display: flex;
}
.regist__console > ul > li + li {
	margin-left: 1.25rem;
}
/* bottom 접혔을 때 */
.regist__bottom.active {
	bottom: -15rem;
}
.regist__bottom.active .regist__bottom-btn {
	background-image: url(/assets/images/icon__up.svg);
}





/* popup */
.pop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(86, 86, 86, 0.8);
	z-index: 10;
}
.pop.active {
	display: block;
}
/* 기본 팝업 */
.pop__box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 62.5rem;
	padding: 2.5rem;
	background-color: #f5f5f5;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 1.25rem;
	-moz-border-radius: 1.25rem;
	border-radius: 1.25rem;
	-webkit-box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pop__box.pop__box--flex {
	display: flex;
	flex-wrap: wrap;
}
.pop__article {
	width: 100%;
	padding: 2.5rem 2.5rem 1.25rem 2.5rem;
	background-color: #fff;
	border: 0.063rem solid #bdbdbd;
}
.pop__article + .pop__article {
	margin-top: 1.25rem;
}
.pop__article-header {
	color: #000;
	font-size: 1.25rem;
	line-height: 1.688rem;
} 
.pop__console {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 1.25rem 2.5rem;
	background-color: #ebebeb;
}
.pop__console.pop__console--center {
	justify-content: center;
	background-color: transparent;
}
.pop__console li + li {
	margin-left: 1.25rem;
}

/* 접수등록 팝업 */
.product-pop {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 75rem;
	padding: 1.25rem;
	background-color: #f5f5f5;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 0 0.25rem 2.5rem 0.625rem rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 0.25rem 2.5rem 0.625rem rgba(0, 0, 0, .4);
	box-shadow: 0 0.25rem 2.5rem 0.625rem rgba(0, 0, 0, .4);
}
.product-pop__article {
	overflow:hidden;
	width: 30rem;
	background-color: #fff;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.product-pop__article:nth-child(2) {
	width: 10rem;
}
.product-pop__article-header {
	height: 3.75rem;
	background-color: #d8d8d8;
	border-bottom: 0.063rem solid #bdbdbd;
}
.product-pop__article-header h3 {
	color: #333;
	font-size: 1.25rem;
	font-weight: 700;
	text-align: center;
	line-height: 3.75rem;
}
.product-pop__article-content {
	padding: 1.25rem;
}
.product-pop__choice {
	position: relative;
	width: 100%;
	margin-top: 1.563rem;
}
.product-pop__choice h4 {
	margin-bottom: 0.625rem;
	color: #959595;
	font-weight: 700;
	line-height: 1rem;
}
.product-pop__choice > .c-elevator {
	position: absolute;
	top: -1.25rem;
	right: 0;
}
.product-pop__choice.product-pop__choice--size {
	margin-top: 0;
}
.product-pop__choice.product-pop__choice--size h4 {
	margin-bottom: 0.625rem;
}
.product-pop__choice.product-pop__choice--material {
	margin-top: 2.5rem
}
.product-pop__choice.product-pop__choice--vertical > ul > li {
	width: 100%;
	margin: 0;
}
.product-pop__choice > ul {
	display: flex;
	flex-wrap: wrap;
}
.product-pop__choice > ul > li {
	padding: 0.313rem 0;
	margin-right: 0.563rem;
}
.product-pop__choice.product-pop__choice--material > ul {
	overflow-y: auto;
	max-height: 34.375rem;
}
.product-pop__choice.product-pop__choice--material > ul > li {
	width: 100%;
	margin-right: 0;
}
.choice {
	position: relative;
}
.choice input[type="radio"],
.choice input[type="checkbox"] {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.choice label {
	overflow: hidden;
	display: block;
	width: 6.25rem;
	height:2.5rem;
	background-color: #e7f4ff;
	border: 0 none;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
	color: #0082f0;
	font-weight: 700;
	text-align: center;
	line-height: 2.5rem;
}
.choice.choice--material label {
	width: 100%;
	padding: 0 0.675rem;
	text-align: left;
}
.choice.choice--full label {
	width: 100%;
	padding: 0 0.675rem;
}
.choice__name {
	float: left;
	display: inline-block;
	overflow: hidden;
	width: 20rem;
	color: #444;
	font-weight: 400;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.choice__cost {
	float: left;
	display: inline-block;
	width: 3.375rem;
	height: 2.5rem;
	margin-left: 1.25rem;
}
.choice__cost + span {
	float: left;
	font-weight: 400;
}
.choice input[type="radio"]:checked + label,
.choice input[type="checkbox"]:checked + label,
.choice input[type="radio"]:checked + label .choice__name,
.choice input[type="checkbox"]:checked + label .choice__name {
	background-color: #0082f0;
	color: #fff;
	font-weight: 700;
}

/* choice-color */
.choice-color {
	position: relative;
	width: 100%;
}
.choice-color h4 {
	margin-bottom: 0.313rem;
	color: #959595;
	font-weight: 700;
	line-height: 1rem;
}
.choice-color > ul {
	display: flex;
	flex-wrap: wrap;
}
.choice-color > ul > li {
	width: 3.125rem;
	margin: 0.625rem 0;
}
.choice-color > ul > li:nth-child(2n) {
	margin-left: auto;
}
.choice-color__input {
	overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.choice-color__label {
	display: block;
	position: relative;
	width: 3.125rem;
	height: 3.125rem;
	background-color: #fcfcfc;
	border: 0 none;
	text-indent: -9999rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.choice-color__label.none {
	border: 0.063rem dashed #d4d9e1;
}
.choice-color__label.white {
	background-color: #fff;
	border: 0.063rem solid #d4d9e1;
}
.choice-color__label.black {
	background-color: #3f3c32;
}
.choice-color__label.gray {
	background-color: #d7d7d7;
}
.choice-color__label.red {
	background-color: #f54e50;
}
.choice-color__label.orange {
	background-color: #fb874b;
}
.choice-color__label.yellow {
	background-color: #f1ce32;
}
.choice-color__label.green {
	background-color: #349a50;
}
.choice-color__label.blue {
	background-color: #55cab7;
}
.choice-color__label.dark-blue {
	background-color: #398be0;
}
.choice-color__label.purple {
	background-color: #de9ace;
}
.choice-color__label.pink {
	background-color: #ff9fb0;
}
.choice-color__label:after {
	content: " ";
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 3.125rem;
	height: 3.125rem;
	background-image: url(/assets/images/icon__check--pw.svg);
	background-repeat: no-repeat;
	-webkit-background-size: 1.875rem 1.875rem;
	background-size: 1.875rem 1.875rem;
	background-position: center center;
}
.choice-color__label.none:after,
.choice-color__label.white:after {
	background-image: url(/assets/images/icon__check--pg.svg);
}
.choice-color__input:checked + .choice-color__label:after {
	display: block;
}
.product-pop__price-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0.625rem 1rem;
	margin-top: 2.5rem;
	background-color: #004a98;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
}
.product-pop__price {
	position: relative;
	color: #fff;
	padding: 0.625rem;
	text-align: right
}
.product-pop__price:first-child {
	width: 7.875rem;
}
.product-pop__price:first-child:after,
.product-pop__price:nth-child(2):after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	width: 0.063rem;
	height: 3.625rem;
	background-color: #003670;
}
.product-pop__price:nth-child(2) {
	width: 10rem;
}
.product-pop__price:nth-child(3) {
	width: 7.5rem;
}
.product-pop__price h4 {
	margin-bottom: 0.625rem;
	text-align: left;
	color: #e7f4ff;
	line-height: 1rem;
}
.product-pop__price span {
	font-size: 1.125rem;
}
.product-pop__price span.won {
	font-size: 1rem;
}
.product-pop__price-sum {
	display: flex;
	align-items: baseline;
	width: 100%;
	padding: 0.625rem 1.25rem 0.313rem;
	border-top: 0.063rem solid #003670;
}
.product-pop__price-sum h4 {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
}
.product-pop__price-sum span {
	display: inline-block;
	margin-left: auto;
	color: #fff;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 2.25rem;
}
.product-pop__price-sum span.won {
	margin-left: .25rem;
	font-size: 1rem;
}
.product-pop__article .pop__console {
	padding-top: 0;
}

/* choice-drop */
.choice-drop {
	position: relative;
	width: 6.25rem;
	height: 2.5rem;
}
.choice-drop__btn {
	position: relative;
	width: 6.25rem;
	height: 2.5rem;
	background-color: #e7f4ff;
	border: 0 none;
	color: #0082f0;
	font-weight: 700;
	text-align: center;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.choice-drop__btn--active {
	background-color: #0082f0;
	color: #fff
}
.choice-drop__content {
	display: none;
	overflow-y: hidden;
	position: absolute;
	top: 2.5rem;
	left: 0;
	width: 11rem;
	padding: 0.625rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	z-index: 1;
}
.choice-drop__content.choice-drop__content--right {
	left: auto;
	right: 0;
}
.choice-drop__content--active {
	display: block;
	background-color: #fff;
	border: 0.125rem solid #0082f0;
}
.choice-drop__item + .choice-drop__item {
	margin-top: 0.313rem;
}
.choice-drop__item input {
	overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.choice-drop__item label {
	display: block;
	width: 100%;
	height: 2.5rem;
	padding: 0 0.625rem;
	background-color: #e7f4ff;
	border: 0.063rem solid #0082f0;
	color: #0082f0;
	font-weight: 700;
	text-align: center;
	line-height: 2.5rem;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
	cursor: pointer;
}
.choice-drop__item input:checked + label {
	background-color: #0082f0;
	color: #fff;
}


/* 수선 및 추가요금 팝업 */
.add-cost {
	display: flex;
	width: 100%;
}
.add-cost__example {
	width: 30rem;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.add-cost__example-header {
	background-color: #e8e8e8;
}
.add-cost__example-heading {
	color: #333;
	font-size: 1.25rem;
	font-weigth: 700;
	line-height: 3.75rem;
	text-align: center;
}
.add-cost__example-content {
	overflow-y: auto;
	height: 30.938rem;
	padding: 0.625rem 1.625rem;
}
.add-cost__example-list {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 100%;
}
.add-cost__example-item {
	width: 12.5rem;
	height: 3.75rem;
	padding: 0.625rem 0;
}
.add-cost__example-item:nth-child(2n) {
	margin-left: auto;
}
.add-cost__example-btn {
	width: 100%;
	height: 2.5rem;
	background-color: #e7f4ff;
	border: 0 none;
	color: #0082f0;
	font-size: 1rem;
	font-weight: 700;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.add-cost__example-btn:active {
	background-color: #0082f0;
	color: #fff;
}
.add-cost__input-area {
	width: 25rem;
	margin-left: 2.5rem;
}
.add-cost__input {
	padding-top: 1.25rem;
}
.add-cost__keypad #VKEY_KEYPAD {
	width: 25rem;
	padding: 2.5rem 1.563rem;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.add-cost__input-area .pop__console {
	padding-top: 0;
}














