<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaulthead}" xmlns="http://www.w3.org/1999/html">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="module" src="/assets/js/toppos/head/dashboard/itemreg.js"></script>
    <script src="/assets/js/filesaver/FileSaver.min.js"></script>
</th:block>

<div layout:fragment="content" class="content content--main">
    <div class="dashboard">
        <div class="dashboard__header">
            <h2 class="dashboard__heading">품목별 접수 현황</h2>
        </div>

        <div class="dashboard__body">
            <div class="inquiry inquiry--large">
                <div class="inquiry__condition">
                    <ul>
                        <li>
                            <div class="inquiry__title">지사</div>
                            <div class="inquiry__input-tag">
                                <div class="c-select">
                                    <select id="brList">
                                        <option value="0">전체선택</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inquiry__title">가맹점</div>
                            <div class="inquiry__input-tag">
                                <div class="c-select">
                                    <select id="frList" disabled="">
                                        <option value="0">전체선택</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="inquiry__title">조회 년도</div>
                            <div class="inquiry__input-tag">
                                <div class="c-select">
                                    <select id="filterYear"></select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="inquiry__button">
                    <button class="c-button c-button--darksolid" id="getItemList">조회</button>
                </div>
            </div>

            <section class="dashboard__section">
                <article class="dashboard__article">
                    <div class="dashboard__article-header">
                        <h4 class="dashboard__article-title">품목별 접수건</h4>
                        <div class="dashboard__article-header-console">
                            <button class="c-button c-button--green c-button--icon c-button--icon-excel" id="downloadItemReg">엑셀 다운로드</button>
                        </div>
                    </div>
                    <div class="dashboard__article-body">
                        <div id="grid_main" class="grid--header-border" style="height: 540px;"></div>
                    </div>
                </article>
            </section>
        </div>
    </div>

    <div class="pop" id="popDetailItemReg">
        <div class="pop__box pop__box--xlarge">
            <div class="pop__article">
                <div class="pop__article-header">
                    <h3><span id="bgName"></span> 세부 품목별 접수</h3>
                    <button class="c-button c-button--green c-button--icon c-button--icon-excel" id="downloadDetailItemReg">엑셀 다운로드</button>
                </div>
                <div class="pop__article-content">
                    <div id="grid_pop" class="grid--header-border" style="height: 500px;"></div>
                </div>
            </div>
            <ul class="pop__console">
                <li>
                    <button class="c-button c-button--darksolid pop__close">닫기</button>
                </li>
            </ul>
        </div>
    </div>

</div>
</html>
