<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaulttest}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		#payMonth {
			display: none;
		}
	</style>
	<!-- lightbox 추가 -->
	<link rel="stylesheet" href="/assets/js/lightbox2/css/lightbox.min.css" />
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/toppos/user/receipt/delivery.js"></script>
	<!-- lightbox 추가 -->
	<script src="/assets/js/lightbox2/js/lightbox.js"></script>
</th:block>

<div layout:fragment="content" class="content content--column">
	<div class="content__header">
        <!-- menu명 -->
        <h2 class="content__heading"><spans class="content__heading-home">Home</spans>&nbsp;&gt;&nbsp;세탁관리&nbsp;&gt;&nbsp;세탁인도</h2>
		<!-- 검색 -->
		<div class="search">
			<div class="c-select">
				<select id="searchType">
                    <option value="0">통합검색</option>
                    <option value="1">고객명</option>
                    <option value="2">전화번호</option>
					<option value="3">주소</option>
                </select>
			</div>
			
			<div class="c-search">
				<div class="c-search__input">
					<input id="searchString" type="text" placeholder="검색어를 입력하세요" />
               		<button class="c-search__key" type="button" id="vkeyboard0">키보드</button>
				</div>
				<button id="searchCustomer" class="c-search__bth" type="button">검색</button>
			</div>
			
			<div class="search__reset">
				<button id="resetCustomer" class="c-button c-button--darksolid c-button--small" type="button">고객 초기화</button>
			</div>
		</div>

		<!-- 고객정보 -->
		<div class="client">
			<div class="client__rating">
				<!-- 고객뱃지  -->
				<!-- 맞는 등급 뱃지 .active 주기 -->
				<span class="client__badge">N</span>
				<span class="client__badge">V</span>
				<span class="client__badge client__badge--vvip">V</span>
				<!-- #bcGrade 등급 넣어주기 -->
				<span id="bcGrade"></span>
			</div>
			<div class="client__name"><span id="bcName"></span></div>
			<div class="client__propensity"><span style="display: none;" id="bcValuation" class="propensity__star propensity__star--0"></span></div>
			<div class="client__address"><span id="bcAddress"></span></div>
			<div class="client__phone"><span id="bcHp"></span></div>
		</div>
		
		<!-- 세탁물 -->
		<div class="delivery">
			<div class="delivery__count">
				<div class="delivery__count-item">
					<div class="delivery__count-title">전체</div>
					<div class="delivery__count-input"><input type="text" id="totCount" readonly="readonly" value="0"></div>
				</div>
				<div class="delivery__count-item">
					<div class="delivery__count-title">총액</div>
					<div class="delivery__count-input"><input type="text" id="totAmount" readonly="readonly" value="0"></div>
				</div>
				<div class="delivery__count-item">
					<div class="delivery__count-title">선택건수</div>
					<div class="delivery__count-input"><input type="text" id="chkCount" readonly="readonly" value="0"></div>
				</div>
				<div class="delivery__count-item">
					<div class="delivery__count-title">선택금액</div>
					<div class="delivery__count-input"><input type="text" id="chkAmount" readonly="readonly" value="0"></div>
				</div>
			</div>
			<div class="delivery__comment">구분 : 무 - 무인택배함, 배 - 배송 App</div>
			<div class="delivery__console">
				<button class="c-button c-button--small c-button--solid" id="deliverLaundry">세탁물 인도</button>
				<!--<button class="c-button c-button&#45;&#45;small c-button&#45;&#45;solid" id="repay">미수 결제</button>-->
			</div>
		</div>

		<!-- 고객정보2 -->
		<ul class="client-info">
			<li>
				<h4>미수금</h4>
				<p><span class="client-info__num" id="uncollectMoneyMain">0</span><span class="won">원</span></p>
			</li>
			<li>
				<h4>적립금</h4>
				<p><span class="client-info__num" id="saveMoneyMain">0</span><span class="won">원</span></p>
			</li>
			<li>
				<h4>특이사항</h4>
				<p><span id="bcRemark"></span></p>
			</li>
			<li>
				<h4>최근방문일</h4>
				<p><span class="client-info__num" id="bcLastRequestDt"></span></p>
			</li>
		</ul>
	</div>
	
	<div class="content__body">
		<!-- grid -->
		<div id="grid_laundryList" style="height: 684px;"></div>
	</div>


	<!-- 고객선택 팝업 -->
    <div class="pop" id="customerListPop">
        <div class="pop__box">
            <div class="pop__article">
                <h3 class="pop__article-header">고객선택</h3>
                <div class="pop__aricle-content">
                    <div id="grid_customerList"></div>
                </div>
            </div>

            <ul class="pop__console">
                <li><button class="c-button pop__close">닫기</button></li>
                <li><button class="c-button c-button--dark" id="selectCustomer">선택</button></li>
            </ul>
        </div>
    </div>


	<!-- 무인 보관함 출고 처리 팝업 -->
	<div class="pop" id="sendAutoBoxPop">
		<div class="pop__box">
			<div class="pop__article">
				<h3 class="pop__article-header">무인 보관함 출고 처리</h3>
				<div class="pop__aricle-content">
					<form>
						<ul class="customer__form-list customer__form-list--release">
							<li class="customer__form-item">
								<h4 class="customer__form-title">보관함 접수번호</h4>
								<div class="customer__form-input">
									<div class="c-text">
										<input type="text" readonly="" />
									</div>
								</div>
							</li>
							<li class="customer__form-item">
								<h4 class="customer__form-title">고객명</h4>
								<div class="customer__form-input">
									<div class="c-text">
										<input type="text" readonly="" />
									</div>
								</div>
							</li>
							<li class="customer__form-item">
								<h4 class="customer__form-title">전화번호</h4>
								<div class="customer__form-input">
									<div class="c-text">
										<input type="text" readonly="" />
									</div>
								</div>
							</li>
							<li class="customer__form-item customer__form-item--100">
								<h4 class="customer__form-title">보관함 접수메모</h4>
								<div class="customer__form-input">
									<div class="c-textarea">
										<textarea readonly=""></textarea>
									</div>
								</div>
							</li>
							<li class="customer__form-item">
								<h4 class="customer__form-title">보관함 결제금액</h4>
								<div class="customer__form-input">
									<div class="c-text">
										<input type="text" readonly="" />
									</div>
								</div>
							</li>
							<li class="customer__form-item">
								<h4 class="customer__form-title">보관함 접수수량</h4>
								<div class="customer__form-input">
									<div class="c-text">
										<input type="text" readonly="" />
									</div>
								</div>
							</li>
						</ul>
					</form>
				</div>
			</div>
			
			<ul class="pop__console">
				<li><button class="c-button pop__close">닫기</button></li>
				<li><button class="c-button c-button--dark pop__close">선택</button></li>
			</ul>
		</div>
	</div>

	<!-- 결제 팝업 -->
	<div class="pop" id="paymentPop">
		<div class="pop__box">
			<div class="pop__article">
				<h3 class="pop__article-header">결제창</h3>
				<div class="pop__aricle-content">
					<!-- grid -->
					<div id="grid_payment" style="height: 240px;"></div>

					<div class="unpaid-pop">
						<div class="unpaid-pop__sum">
							<div class="unpaid-pop__sum-title">미수총결제금액</div>
							<div class="unpaid-pop__sum-money"><span id="totalUncollectAmount">0</span>원</div>
						</div>
						<div class="unpaid-pop__payment">
							<div class="unpaid-pop__period">
								<div class="c-select">
									<select id="payMonth">
										<option value="0">일시불</option>
										<option value="2">2 개월</option>
										<option value="3">3 개월</option>
										<option value="4">4 개월</option>
										<option value="5">5 개월</option>
										<option value="6">6 개월</option>
										<option value="7">7 개월</option>
										<option value="8">8 개월</option>
										<option value="9">9 개월</option>
										<option value="10">10 개월</option>
										<option value="11">11 개월</option>
										<option value="12">12 개월</option>
									</select>
								</div>
							</div>
							<div class="unpaid-pop__payment-select">
								<div class="choice">
									<input type="radio" name="payType" id="payType1" value="01" checked="" />
									<label for="payType1">현금결제</label>
								</div>
							</div>
							<div class="unpaid-pop__payment-select">
								<div class="choice">
									<input type="radio" name="payType" id="payType2" value="02" />
									<label for="payType2">카드결제</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<ul class="pop__console">
				<li class="pop__console-left">
					<p class="color--red">*미수결제는 금액을 조정하여 결제할 수 없습니다.<br />선택한 미수건의 금액이 처리됩니다.</p>
				</li>
				<li><button class="c-button" id="cancelPayment">닫기</button></li>
				<li><button class="c-button c-button--dark" id="confirmPayment">결제하기</button></li>
			</ul>
		</div>
	</div>

	<div id ="payStatus" class="pop">
		<p class="paycomment">결제가 진행중입니다.<br />결제 중단을 원하시면 카드 단말기의 종료 버튼을 눌러주세요.</p>
	</div>

	<!-- 접수 사진 촬영내역 -->
	<div id="receiptPhotoPop" class="pop">
		<div class="pop__box">
			<div class="pop__article">
				<div class="tag-imgs">
					<ul id="receiptPhotoList" class="tag-imgs__list">
					</ul>
				</div>
			</div>
			<ul class="pop__console">
				<li>
					<button id="closePhotoListPop" class="c-button">닫기</button>
				</li>
			</ul>
		</div>
	</div>

	<!-- 확인품 확인/응답/보기 신규 -->
	<div id="brInspectPop" class="pop">
		<div class="pop__box">
			<div id="brInspectPhotoPanel" class="pop__article">
				<div class="tag-imgs">
					<ul id="brPhotoList" class="tag-imgs__list">
					</ul>
				</div>
			</div>
			<div class="pop__article">
				<div class="checkreg__comment">
					<div class="pop__article-head">
						<h3 class="pop__article-header">검품내용</h3>
					</div>
					<div class="pop__aricle-content">
						<div class="c-text">
							<input id="brFiComment" type="text"  readonly="readonly" />
						</div>
					</div>
				</div>
			</div>
			<ul class="pop__console">
				<li class="pop__console-left">
					<div class="pop__console-cost">
						<div class="pop__console-title">현재 접수금액</div>
						<div class="pop__console-input">
							<div class="c-text"><input id="brFdTotAmtInPut" type="text" readonly="readonly" /></div>
						</div>
					</div>
					<div class="pop__console-cost">
						<div class="pop__console-title">추가 비용발생</div>
						<div class="pop__console-input">
							<div class="c-text"><input id="brFiAddAmt" type="text" readonly="readonly" /></div>
						</div>
					</div>
				</li>
				<li><button id="closeBrInspectPop" class="c-button">닫기</button></li>
			</ul>
		</div>
	</div>

	<!-- 가맹검품 보기(응답완료된) 신규 -->
	<div id="frInspectViewPop" class="pop">
		<div class="pop__box">
			<div id="frInspectViewPhotoPanel" class="pop__article">
				<div class="tag-imgs">
					<ul id="frViewPhotoList" class="tag-imgs__list">
					</ul>
				</div>
			</div>
			<div class="pop__article">
				<div class="checkreg__comment">
					<div class="pop__article-head">
						<h3 class="pop__article-header">검품내용</h3>
					</div>
					<div class="pop__aricle-content">
						<div class="c-text">
							<input id="frViewFiComment" type="text"  readonly="readonly" />
						</div>
					</div>
				</div>
			</div>
			<ul class="pop__console">
				<li class="pop__console-left">
					<div class="pop__console-cost">
						<div class="pop__console-title">현재 접수금액</div>
						<div class="pop__console-input">
							<div class="c-text"><input id="frViewFdTotAmtInPut" type="text" readonly="readonly" /></div>
						</div>
					</div>
					<div class="pop__console-cost">
						<div class="pop__console-title">추가 비용발생</div>
						<div class="pop__console-input">
							<div class="c-text"><input id="frViewFiAddAmt" type="text" readonly="readonly" /></div>
						</div>
					</div>
				</li>
				<li><button id="closeFrInspectViewPop" class="c-button">닫기</button></li>
			</ul>
		</div>
	</div>

</div>
</html>
