<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/defaulttest}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .colorColumn {
            text-align: center;
        }

		#windowMask {
			position: fixed;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			z-index: 10;
			background-color: rgba(0, 0, 0, .4);
			display: none;
		}

		#mask{
			position: absolute;
			display: none;
			left: 50%;
			top: 50%;
			max-width: 1000px; 
			padding: 20px;
			background-color: #ffffff;
			z-index: 100;
			font-size: 40px;
			line-height: 1.4;
			-webkit-border-radius: 0.625rem;
			-moz-border-radius: 0.625rem;
			border-radius: 0.625rem;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
    </style>
    <!-- lightbox 추가 -->
    <link rel="stylesheet" href="/assets/js/lightbox2/css/lightbox.min.css" />
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="module">
        import { calculateMainPrice, calculateItemPrice, ceil100, calculatePaymentStage } from "../assets/js/toppos/module/m_moneyProblem.js";
        window.calculateMainPrice = calculateMainPrice;
        window.calculateItemPrice = calculateItemPrice;
        window.ceil100 = ceil100;
        window.calculatePaymentStage = calculatePaymentStage;
    </script>
    <script src="/assets/js/toppos/user/receipt/receiptreg.js"></script>
    <!-- lightbox 추가 -->
    <script src="/assets/js/lightbox2/js/lightbox.js"></script>
</th:block>
<div layout:fragment="content">

    <!-- 접수등록 기본화면-->
    <div class="regist">
        <!-- 상단 통합검색 및 상태 -->
        <div class="regist__header">
            <!-- menu명 -->
            <h2 class="content__heading"><spans class="content__heading-home">Home</spans>&nbsp;&gt;&nbsp;세탁관리&nbsp;&gt;&nbsp;세탁접수</h2>
            <!-- 검색 -->
            <div class="search">
                <div class="c-select">
                    <select id="searchCustomerType">
                        <option value="0">통합검색</option>
                        <option value="1">고객명</option>
                        <option value="2">전화번호</option>
                        <option value="3">주소</option>
                    </select>
                </div>

                <div class="c-search">
                    <div class="c-search__input">
                        <input id="searchCustomerField" type="text" placeholder="검색어를 입력하세요" />
                        <button class="c-search__key" type="button" onclick="onShowVKeyboard(0)">키보드</button>
                    </div>
                    <button class="c-search__bth" type="button" onclick="onSearchCustomer()">검색</button>
                </div>
            </div>

            <!-- 고객정보 -->
            <div class="client">
                <div class="client__rating">
                    <!-- 고객뱃지  -->
                    <!-- 맞는 등급 뱃지 .active 주기 -->
                    <span class="client__badge">N</span>
                    <span class="client__badge">V</span>
                    <span class="client__badge client__badge--vvip">V</span>
                    <!-- #bcGrade 등급 넣어주기 -->
                    <span id="bcGrade"></span>
                </div>
                <div class="client__name"><span id="bcName"></span></div>
                <div class="client__propensity"><span style="display: none;" id="bcValuation" class="propensity__star propensity__star--0"></span></div>
                <div class="client__address"><span id="bcAddress"></span></div>
                <div class="client__phone"><span id="bcHp"></span></div>
            </div>

            <!-- 금액 및 수량 -->
            <div class="regist__info">
                <ul class="regist__amount">
                    <li>
                        <h4>수량</h4>
                        <p><span id="totFdQty">0</span></p>
                    </li>
                    <li>
                        <h4>기본금액</h4>
                        <p><span id="totFdNormalAmount">0</span><span class="won">원</span></p>
                    </li>
                    <li>
                        <h4>추가/할인금액</h4>
                        <p><span id="totChangeAmount">0</span><span class="won">원</span></p>
                    </li>
                </ul>
                <div class="regist__sum">
                    <h4>합계금액</h4>
                    <p><span id="totFdRequestAmount">0</span><span class="won">원</span></p>
                </div>
            </div>

            <!-- 고객정보2 -->
            <ul class="client-info">
                <li>
                    <h4>전일미수금</h4>
                    <p><span class="client-info__num" id="beforeUncollectMoneyMain">0</span><span class="won">원</span></p>
                </li>
                <li>
                    <h4>적립금</h4>
                    <p><span class="client-info__num" id="saveMoneyMain">0</span><span class="won">원</span></p>
                </li>
                <li>
                    <h4>특이사항</h4>
                    <p><span id="bcRemark"></span></p>
                </li>
                <li>
                    <h4>최근방문일</h4>
                    <p><span class="client-info__num" id="bcLastRequestDt"></span></p>
                </li>
            </ul>
        </div>

        <div class="regist__content">
            <div class="regist__tag">
                <div class="regist__tag-title"><h3>다음택번호</h3></div>
                <div class="regist__tag-input">
                    <div class="c-text">
                        <input id="fdTag" type="text" maxlength="8" />
                        <button type="button" onclick="onShowVKeyboard(1)">키보드</button>
                    </div>
                </div>
                <div class="regist__tag-button">
                    <button class="c-button c-button--solid c-button--small" type="button" onclick="onSaveFdTag()">택번호 저장</button>
                </div>
                <div class="regist__delivery">
                    <p><span>000</span>님에게 인도할 건수가 <span>00</span>건이 있습니다.</p>
                    <button class="c-button c-button--solid c-button--small">고객인도</button>
                </div>
                <div class="regist__line-delete">
                    <button class="c-button c-button--red c-button--small" onclick="onRemoveOrder()">상품삭제</button>
                </div>
            </div>

            <div class="regist__grid" id="gridarea">
                <!-- 중앙그리드 영역-->
                <div id="grid_requestList" class="active"></div>
            </div>

            <div class="regist__bottom" id="registBottom">
                <div class="regist__bottom-console">
                    <button class="regist__bottom-btn" onclick="toggleBottom()">카테고리 접기/펴기</button>
                    <div class="regist__bottom-toggle">
                        <p>상품</p>
                        <div class="c-toggle c-toggle--vertical">
                            <input type="checkbox" id="toggleFavorite" />
                            <label for="toggleFavorite"></label>
                        </div>
                        <p>즐겨<br />찾기</p>
                    </div>
                </div>
                <!-- 대분류 -->
                <div class="regist__category">
                    <ul id="bgItemList">
                    </ul>
                </div>

                <div class="regist__console">
                    <ul>
                        <li><button class="c-button c-button--darksolid c-button--small" type="button" onclick="onSave()">임시저장</button></li>
                        <li><button class="c-button c-button--small" type="button" onclick="onReadTempSave()">임시저장내역</button></li>
                    </ul>
                    <ul>
                        <li><button class="c-button c-button--solid" type="button" onclick="onApply()">접수완료</button></li>
                        <li><button class="c-button" type="button" onclick="onRepeatRequest()">반복접수</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!-- 팝업 영역 -->

    <!-- 접수등록 팝업 -->
    <div class="pop" id="productPop">
        <div class="product-pop" id="addProductPopChild">
            <div class="product-pop__article">
                <div class="product-pop__article-header">
                    <h3>사이즈&amp;소재</h3>
                </div>
                <div class="product-pop__article-content">
                    <div class="product-pop__choice product-pop__choice--size">
                        <h4>사이즈</h4>
                        <ul>
                            <li id="sizeN">
                                <div class="choice">
                                    <input type="radio" name="bsItemGroupcodeS" value="N" id="size1"
                                           onclick="setBiItemList(this.value)" />
                                    <label for="size1">일반</label>
                                </div>
                            </li>
                            <li id="sizeL">
                                <div class="choice">
                                    <input type="radio" name="bsItemGroupcodeS" value="L" id="size2"
                                           onclick="setBiItemList(this.value)" />
                                    <label for="size2">롱</label>
                                </div>
                            </li>
                            <li id="sizeS">
                                <div class="choice">
                                    <input type="radio" name="bsItemGroupcodeS" value="S" id="size3"
                                           onclick="setBiItemList(this.value)" />
                                    <label for="size3">숏</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="product-pop__choice product-pop__choice--material">
                        <h4>소재(분류)</h4>
                        <ul id="biItemList">
                        </ul>
                    </div>
                </div>
            </div>


            <div class="product-pop__article">
                <div class="product-pop__article-header">
                    <h3>색상/무늬</h3>
                </div>
                <div class="product-pop__article-content">
                    <div class="choice-color">
                        <h4>색상</h4>
                        <ul>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color1" value="00" checked />
                                <label for="color1" class="choice-color__label none">없음</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color2" value="01" />
                                <label for="color2" class="choice-color__label white">흰색</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color3" value="02" />
                                <label for="color3" class="choice-color__label black">검정</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color4" value="03" />
                                <label for="color4" class="choice-color__label gray">회색</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color5" value="04" />
                                <label for="color5" class="choice-color__label red">빨강</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color6" value="05" />
                                <label for="color6" class="choice-color__label orange">주황</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color7" value="06" />
                                <label for="color7" class="choice-color__label yellow">노랑</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color8" value="07" />
                                <label for="color8" class="choice-color__label green">초록</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color9" value="08" />
                                <label for="color9" class="choice-color__label blue">파랑</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color10" value="09" />
                                <label for="color10" class="choice-color__label dark-blue">남색</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color11" value="10" />
                                <label for="color11" class="choice-color__label purple">보라</label>
                            </li>
                            <li>
                                <input type="radio" name="fdColor" class="choice-color__input" id="color12" value="11" />
                                <label for="color12" class="choice-color__label pink">핑크</label>
                            </li>
                        </ul>
                    </div>

                    <div class="product-pop__choice product-pop__choice--vertical">
                        <h4>무늬</h4>
                        <ul>
                            <li>
                                <div class="choice choice--full">
                                    <input type="radio" name="fdPattern" id="pattern1" value="00" checked />
                                    <label for="pattern1">없음</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice choice--full">
                                    <input type="radio" name="fdPattern" id="pattern2" value="01" />
                                    <label for="pattern2">체크</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice choice--full">
                                    <input type="radio" name="fdPattern" id="pattern3" value="02" />
                                    <label for="pattern3">혼합</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice choice--full">
                                    <input type="radio" name="fdPattern" id="pattern4" value="03" />
                                    <label for="pattern4">줄</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="product-pop__article">
                <div id="inReceiptPop" class="product-pop__article-content">
                    <div class="c-text">
                        <input id="fdRemark" type="text" placeholder="브랜드, 특이사항 입력" />
                        <button onclick="onShowVKeyboard(2)">키보드</button>
                    </div>

                    <div class="product-pop__choice">
                        <h4>가격등급</h4>
                        <ul>
                            <li>
                                <div class="choice">
                                    <input type="radio" name="fdPriceGrade" value="1" id="price1" checked />
                                    <label for="price1">일반</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="radio" name="fdPriceGrade" value="2" id="price2" />
                                    <label for="price2">고급</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="radio" name="fdPriceGrade" value="3" id="price3" />
                                    <label for="price3">명품</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="radio" name="fdPriceGrade" value="4" id="price4" />
                                    <label for="price4">아동</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="product-pop__choice">
                        <h4>할인등급</h4>
                        <ul>
                            <li>
                                <div class="choice">
                                    <input type="radio" name="fdDiscountGrade" value="1" id="class01" checked />
                                    <label for="class01">일반</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="radio" name="fdDiscountGrade" value="2" id="class02" />
                                    <label for="class02">VIP</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="radio" name="fdDiscountGrade" value="3" id="class03" />
                                    <label for="class03">VVIP</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="product-pop__choice">
                        <h4>긴급</h4>
                        <ul id="urgentCheck">
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="urgentNone" id="urgentNone" checked />
                                    <label for="urgentNone">없음</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="fdUrgent" id="fdUrgentYn" />
                                    <label for="fdUrgentYn">급세탁</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="fdSpecial" id="fdSpecialYn" />
                                    <label for="fdSpecialYn">특수</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="product-pop__choice">
                        <h4>처리내역</h4>
                        <ul id="processCheck">
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="etcNone" value="없음" id="etcNone" checked />
                                    <label for="etcNone">없음</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="fdPress" value="다림질" id="fdPress" />
                                    <label for="fdPress">다림질</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="fdRetry" value="재세탁" id="fdRetry" />
                                    <label for="fdRetry">재세탁</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="fdRepair" value="수선" id="fdRepair" />
                                    <label for="fdRepair">수선</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="fdAdd1" value="추가요금" id="fdAdd1" />
                                    <label for="fdAdd1">추가요금</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="checkbox" name="fdWhitening" id="fdWhitening" />
                                    <label for="fdWhitening">표백</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice">
                                    <input type="checkbox" id="fdPollution" />
                                    <label for="fdPollution">오염</label>
                                </div>
                            </li>
                            <li>
                                <div class="choice-drop">
                                    <button class="choice-drop__btn etcProcess" id="waterBtn">발수가공</button>
                                    <ul class="choice-drop__content choice-drop__content--right">
                                        <li class="choice-drop__item closDrop">
                                            <input type="radio" id="waterNone" name="waterProcess" checked />
                                            <label for="waterNone">미선택</label>
                                        </li>
                                        <li class="choice-drop__item">
                                            <input type="radio" id="fdWaterRepellent" name="waterProcess" />
                                            <label for="fdWaterRepellent">발수가공</label>
                                        </li>
                                        <li class="choice-drop__item">
                                            <input type="radio" id="fdStarch" name="waterProcess" />
                                            <label for="fdStarch">풀먹임</label>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <ul class="product-pop__price-list">
                        <li class="product-pop__price">
                            <h4>기본가격</h4>
                            <span id="fdNormalAmt">0</span>
                            <span class="won">원</span>
                        </li>
                        <li class="product-pop__price">
                            <h4>수선/추가요금</h4>
                            <span id="totAddCost">0</span>
                            <span class="won">원</span>
                        </li>
                        <li class="product-pop__price">
                            <h4>할인요금</h4>
                            <span id="fdDiscountAmt">0</span>
                            <span class="won">원</span>
                        </li>
                        <li class="product-pop__price-sum">
                            <h4>최종가격</h4>
                            <span id="sumAmt">0</span>
                            <span class="won">원</span>
                        </li>
                    </ul>
                </div>

                <ul class="pop__console pop__console--center">
                    <li><button class="c-button" onclick="onCloseAddOrder()">닫기</button></li>
                    <li><button class="c-button c-button--dark" onclick="onAddOrder()">선택완료</button></li>
                </ul>
            </div>
        </div>
    </div>


    <!-- 고객선택 팝업 -->
    <div class="pop" id="customerListPop">
        <div class="pop__box">
            <div class="pop__article">
                <h3 class="pop__article-header">고객선택</h3>
                <div class="pop__aricle-content">
                    <div id="grid_customerList"></div>
                </div>
            </div>

            <ul class="pop__console">
                <li><button class="c-button pop__close">닫기</button></li>
                <!-- 고객선택 팝업 개선 내용 -->
                <!-- 신규등록 버튼 추가 -->
                <li><a href="/user/customerreg" class="c-button c-button--darksolid">고객신규등록</a></li>
                <li><button class="c-button c-button--dark" onclick="onSelectCustomer()">선택</button></li>
            </ul>
        </div>
    </div>


    <!-- 수선 팝업 -->
    <div class="pop" id="fdRepairPop">
        <div class="pop__box">
            <div class="add-cost">
                <div class="add-cost__example">
                    <div class="add-cost__example-header">
                        <h3 class="add-cost__example-heading"><span>수선 리스트</span></h3>
                    </div>
                    <div class="add-cost__example-content">
                        <ul id="repairBoilerList" class="add-cost__example-list">
                        </ul>
                    </div>
                </div>

                <div class="add-cost__input-area">
                    <div class="add-cost__input">
                        <!-- 상용구 들어갈 인풋 -->
                        <div class="c-text">
                            <input type="text" id="fdRepairRemark" class="keypad_remark" placeholder="수선 리스트 입력" />
                            <button onclick="onShowVKeyboard(3)">키보드</button>
                        </div>
                    </div>

                    <div class="add-cost__keypad">
                        <!-- 숫자패드 -->
                        <div class="vkey-num active">
                            <div class="vkey-num__input">
                                <input type="text" id="fdRepairAmt" value="0" class="keypad_field" />
                            </div>
                            <div class="vkey-num__pad">
                                <button type="button" class="keypad_btn" value="1">1</button>
                                <button type="button" class="keypad_btn" value="2">2</button>
                                <button type="button" class="keypad_btn" value="3">3</button>
                                <button type="button" class="keypad_btn" value="4">4</button>
                                <button type="button" class="keypad_btn" value="5">5</button>
                                <button type="button" class="keypad_btn" value="6">6</button>
                                <button type="button" class="keypad_btn" value="7">7</button>
                                <button type="button" class="keypad_btn" value="8">8</button>
                                <button type="button" class="keypad_btn" value="9">9</button>
                                <button type="button" class="keypad_btn" value="00">00</button>
                                <button type="button" class="keypad_btn" value="0">0</button>
                                <button type="button" class="keypad_btn_backspace">←</button>
                            </div>
                        </div>
                    </div>

                    <ul class="pop__console pop__console--center">
                        <li><button class="c-button pop__close" id="fdRepairCancel">취소</button></li>
                        <li><button class="c-button c-button--dark pop__close" id="fdRepairComplete">추가</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- 추가요금 팝업 -->
    <div class="pop" id="fdAddPop">
        <div class="pop__box">
            <div class="add-cost">
                <div class="add-cost__example">
                    <div class="add-cost__example-header">
                        <h3 class="add-cost__example-heading"><span>추가요금 리스트</span></h3>
                    </div>
                    <div class="add-cost__example-content">
                        <ul id="addCostBoilerList" class="add-cost__example-list">
                        </ul>
                    </div>
                </div>

                <div class="add-cost__input-area">
                    <div class="add-cost__input">
                        <!-- 상용구 들어갈 인풋 -->
                        <div class="c-text">
                            <input type="text" id="fdAdd1Remark" class="keypad_remark" placeholder="추가요금 리스트 입력" />
                            <button onclick="onShowVKeyboard(4)">키보드</button>
                        </div>
                    </div>

                    <div class="add-cost__keypad">
                        <!-- 숫자패드 -->
                        <div class="vkey-num active">
                            <div class="vkey-num__input">
                                <input type="text" id="fdAdd1Amt" class="keypad_field" value="0" />
                            </div>
                            <div class="vkey-num__pad">
                                <button type="button" class="keypad_btn" value="1">1</button>
                                <button type="button" class="keypad_btn" value="2">2</button>
                                <button type="button" class="keypad_btn" value="3">3</button>
                                <button type="button" class="keypad_btn" value="4">4</button>
                                <button type="button" class="keypad_btn" value="5">5</button>
                                <button type="button" class="keypad_btn" value="6">6</button>
                                <button type="button" class="keypad_btn" value="7">7</button>
                                <button type="button" class="keypad_btn" value="8">8</button>
                                <button type="button" class="keypad_btn" value="9">9</button>
                                <button type="button" class="keypad_btn" value="00">00</button>
                                <button type="button" class="keypad_btn" value="0">0</button>
                                <button type="button" class="keypad_btn_backspace">←</button>
                            </div>
                        </div>
                    </div>

                    <ul class="pop__console pop__console--center">
                        <li><button class="c-button pop__close" id="fdAddCancel">취소</button></li>
                        <li><button class="c-button c-button--dark pop__close" id="fdAddComplete">추가</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 오염 팝업 -->
	<div id="fdPollutionPop" class="pop">
		<div class="pop__box pop__box--flex">
			<div class="pop__example">
				<div class="pop__example-header">
					<h3 class="pop__example-heading">오염크기</h3>
				</div>
				<div class="pop__example-content">
					<ul class="pop__example-list">
						<li class="pop__example-item">
							<div class="choice">
								<input type="radio" name="cleanDirt" id="pollution00" value="0" checked="" />
								<label for="pollution00">없음</label>
							</div>
						</li>
						<li class="pop__example-item">
							<div class="choice">
								<input type="radio" name="cleanDirt" id="pollution01" value="1" />
								<label for="pollution01">1cm 미만</label>
							</div>
						</li>
						<li class="pop__example-item">
							<div class="choice">
								<input type="radio" name="cleanDirt" id="pollution02" value="2" />
								<label for="pollution02">1cm ~ 3cm 미만</label>
							</div>
						</li>
						<li class="pop__example-item">
							<div class="choice">
								<input type="radio" name="cleanDirt" id="pollution03" value="3" />
								<label for="pollution03">3cm ~ 7cm 미만</label>
							</div>
						</li>
						<li class="pop__example-item">
							<div class="choice">
								<input type="radio" name="cleanDirt" id="pollution04" value="4" />
								<label for="pollution04">7cm ~ 10cm 미만</label>
							</div>
						</li>
						<li class="pop__example-item">
							<div class="choice">
								<input type="radio" name="cleanDirt" id="pollution05" value="5" />
								<label for="pollution05">10cm 이상</label>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="pop__example">
				<div class="pop__example-header">
					<h3 class="pop__example-heading">오염위치</h3>
				</div>
				<div class="pop__example-content">
					<div class="pop__pollution-header">
						<div class="choice">
							<input type="radio" name="fb" id="foreLoc" checked="" />
							<label for="foreLoc">앞</label>
						</div>
						<div class="choice">
							<input type="radio" name="fb" id="backLoc" />
							<label for="backLoc">뒤</label>
						</div>
					</div>
					<div class="pop__pollution-content">
						<div class="pop__position neck foreLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocFcn">
								<label for="fdPollutionLocFcn">앞 - 목</label>
							</div>
						</div>
						<div class="pop__position neck backLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocBcn">
								<label for="fdPollutionLocBcn">뒤 - 목</label>
							</div>
						</div>
						<div class="pop__position left-sleeve foreLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocFrh">
								<label for="fdPollutionLocFrh">앞 - 오른손</label>
							</div>
						</div>
						<div class="pop__position left-sleeve backLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocBlh">
								<label for="fdPollutionLocBlh">뒤 - 왼손</label>
							</div>
						</div>
						<div class="pop__position right-sleeve foreLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocFlh">
								<label for="fdPollutionLocFlh">앞 - 왼손</label>
							</div>
						</div>
						<div class="pop__position right-sleeve backLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocBrh">
								<label for="fdPollutionLocBrh">뒤 - 오른손</label>
							</div>
						</div>
						<div class="pop__position body foreLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocFcs">
								<label for="fdPollutionLocFcs">앞 - 배</label>
							</div>
						</div>
						<div class="pop__position body backLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocBcs">
								<label for="fdPollutionLocBcs">뒤 - 배</label>
							</div>
						</div>
						<div class="pop__position left-leg foreLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocFrf">
								<label for="fdPollutionLocFrf">앞 - 오른발</label>
							</div>
						</div>
						<div class="pop__position left-leg backLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocBlf">
								<label for="fdPollutionLocBlf">뒤 - 왼발</label>
							</div>
						</div>
						<div class="pop__position right-leg foreLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocFlf">
								<label for="fdPollutionLocFlf">앞 - 왼발</label>
							</div>
						</div>
						<div class="pop__position right-leg backLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocBrf">
								<label for="fdPollutionLocBrf">뒤 - 오른발</label>
							</div>
						</div>
						<div class="pop__position groin foreLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocFcb">
								<label for="fdPollutionLocFcb">앞 - 하의</label>
							</div>
						</div>
						<div class="pop__position groin backLoc">
							<div class="c-checkbox c-checkbox--non-title">
								<input type="checkbox" name="pollutionLoc" id="fdPollutionLocBcb">
								<label for="fdPollutionLocBcb">뒤 - 하의</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<ul class="pop__console pop__console--center pop__console--nonbg">
				<li><button class="c-button" onclick="resetPollutionPop()">초기화</button></li>
				<li><button class="c-button c-button--dark" onclick="confirmPollutionPop()">선택완료</button></li>
			</ul>
		</div>
	</div>

    <!-- 카메라 팝업 -->
    <div class="pop" id="cameraPop">
        <div class="pop__box">
            <div class="photo">
                <div class="photo__article">
                    <div class="photo__haed">
                        <h4>카메라</h4>
                    </div>
                    <div class="photo__content">
                        <div class="photo__take">
                            <!-- 캠 영상 들어갈 곳 -->
                            <video id="cameraScreen" playsinline autoplay></video>
                            <canvas id="cameraCanvas" style="display: none"></canvas>
                        </div>
                        <div class="photo__add">
                            <div class="photo__add-item">
                                <div class="photo__add-title">특이사항</div>
                                <div class="photo__add-console">
                                    <div class="c-text">
                                        <input type="text" id="ffRemark" />
                                        <button onclick="onShowVKeyboard(5)">키보드</button>
                                    </div>
                                </div>
                            </div>
                            <div class="photo__add-item">
                                <div class="photo__add-title">상용구</div>
                                <div class="photo__add-console">
                                    <div class="photo__btns">
                                        <button class="c-button c-button--small camBoiler">구멍</button>
                                        <button class="c-button c-button--small camBoiler">찢어짐</button>
                                        <button class="c-button c-button--small camBoiler">얼룩</button>
                                        <button class="c-button c-button--small c-button--solid" onclick="onTakePicture()">촬영</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="photo__article">
                    <div class="photo__haed">
                        <h4>촬영된 사진</h4>
                    </div>
                    <div id="photoList" class="photo__list">
                        
                    </div>
                    <ul class="pop__console pop__console--center">
                        <li><button class="c-button" onclick="onCloseTakePicture()">닫기</button></li>
                    </ul>
                </div>
            </div>



        </div>
    </div>

<!--

    &lt;!&ndash; 카메라 팝업 &ndash;&gt;
    <div class="pop">
        <div>
            카메라
            촬영된 사진
            사진클릭시 크게보기기능
        </div>

        &lt;!&ndash; 카메라 컨트롤 &ndash;&gt;

        &lt;!&ndash; 복수 카메라중 선택하여 촬영할 경우 해제하여 작업 &ndash;&gt;
        &lt;!&ndash;<select id="cameraList" onchange="onChangeCamera(this.value)"></select>&ndash;&gt;
        <video id="cameraScreen" playsinline autoplay></video>
        <canvas id="cameraCanvas"></canvas>

        <div>
            <span>특이사항</span>
            <input type="text">
            <button type="button" onclick="onShowVKeyboard(9)">VKEY</button>
        </div>
        <div>
            <span>상용구</span>
            <input type="radio" value="구멍">
            <input type="radio" value="찢어짐">
            <input type="radio" value="얼룩">
            <button type="" onclick="">촬영</button>
            <button type="" onclick="">닫기</button>
        </div>
        <div>
            <img />
            <span>구멍</span>
            <button type="" onclick="">삭제</button>
            <img />
            <span>얼룩</span>
            <button type="" onclick="">삭제</button>
        </div>
    </div>
-->


    <!-- 임시저장 조회창 -->
    <div class="pop" id="tempSaveListPop">
        <div class="pop__box">
            <div class="pop__article">
                <h3 class="pop__article-header">고객선택</h3>
                <div class="pop__aricle-content">
                    <div id="grid_tempSaveList"></div>
                </div>
            </div>

            <ul class="pop__console">
                <li><button class="c-button pop__close">닫기</button></li>
                <li><button class="c-button c-button--dark" onclick="onSelectTempSave()">선택</button></li>
            </ul>
        </div>
    </div>

    <!-- 결제팝업 -->
    <div class="pop" id="paymentPop">
        <div class="pop__box">
            <div class="pop__article">
                <div class="pop__pay">
                    <div class="pop__pay-article hold">
                        <h3 class="pop__article-header">결제창</h3>
                        <div class="pop__pay-list">
                            <dl>
                                <dt>전일미수금</dt>
                                <dd class="color--red"><span id="beforeUncollectMoney">0</span>원</dd>
                                <dt>적립금</dt>
                                <dd class="color--blue"><span id="saveMoney">0</span>원</dd>
                            </dl>
                        </div>
                        <button class="c-button c-button--small c-button--darksolid" onclick="onPayUncollectMoney()">미수전액완납</button>
                    </div>

                    <div class="pop__pay-article estimate">
                        <h3 class="pop__article-header">접수금액</h3>
                        <div class="pop__pay-list">
                            <dl>
                                <dt>접수금액</dt>
                                <dd><span id="payNormalAmt">0</span>원</dd>
                                <dt>추가/할인금액</dt>
                                <dd><span id="payChangeAmt">0</span>원</dd>
                                <dt>결제예정금액<span class="color--blue">(A)</span></dt>
                                <dd class="color--red"><span id="payRequestAmt">0</span>원</dd>
                                <dt>적립금사용<span class="color--blue">(B)</span></dt>
                                <dd class="color--blue"><button class="c-keybtn" onclick="onKeypad(0)">키보드</button>
                                    <span id="applySaveMoney">0</span>원</dd>
                                <dt>전일미수금결제<span class="color--blue">(C)</span></dt>
                                <dd class="color--red"><button class="c-cancelbtn" onclick="cancelPayUncollectMoney()">취소</button><span id="applyUncollectAmt">0</span>원</dd>
                                <dt class="final">최종결제금액<span class="bold">(A - B + C - D)</span></dt>
                                <dd class="final"><span id="totalAmt">0</span>원</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="pop__pay-tabs">
                        <button class="pop__pay-tabs-item active" data-id="tabCash">현금결제</button>
                        <button class="pop__pay-tabs-item" data-id="tabCard">카드결제</button>
                    </div>
                </div>
            </div>

            <div class="pop__article">
                <div class="pop__pay">
                    <div class="pop__pay-article half">
                        <h3 class="pop__article-header">결제내역<span class="color--blue">(D)</span></h3>
                        <div class="pop__pay-details">
                            <div id="grid_payment"></div>
                        </div>
                    </div>
                    <div class="pop__pay-article half">
                        <div class="pop__tabs-content pop__cash active" id="tabCash">
                            <!-- <div class="pop__pay-cash">
                                <input type="checkbox" id="cash" />
                                <label for="cash">현금영수증발행</label>
                            </div> -->
                            <div class="pop__pay-list pop__pay-list--cash">
                                <dl>
                                    <dt>받은돈</dt>
                                    <dd class="color--blue"><button class="c-keybtn" onclick="onKeypad(1)">키보드</button>
                                        <span id="receiveCash">0</span>원</dd>
                                    <dt>거스름돈</dt>
                                    <dd class="color--blue"><span id="changeCash">0</span>원</dd>
                                    <dt class="final">미수발생금액</dt>
                                    <dd class="final"><span id="uncollectAmtCash">0</span>원</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="pop__tabs-content pop__card" id="tabCard">
                            <div class="pop__card-period">
                                <div class="c-select">
                                    <select id="installmentMonth">
                                        <option value="0">일시불</option>
                                        <option value="2">2 개월</option>
                                        <option value="3">3 개월</option>
                                        <option value="4">4 개월</option>
                                        <option value="5">5 개월</option>
                                        <option value="6">6 개월</option>
                                        <option value="7">7 개월</option>
                                        <option value="8">8 개월</option>
                                        <option value="9">9 개월</option>
                                        <option value="10">10 개월</option>
                                        <option value="11">11 개월</option>
                                        <option value="12">12 개월</option>
                                    </select>
                                </div>
                            </div>
                            <div class="pop__pay-list">
                                <dl>
                                    <dt>결제금액</dt>
                                    <dd class="color--blue"><button class="c-keybtn" onclick="onKeypad(2)">키보드</button>
                                        <span id="receiveCard">0</span>원</dd>
                                    <dt class="final">미수발생금액</dt>
                                    <dd class="final"><span id="uncollectAmtCard">0</span>원</dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <ul class="pop__console">
                <li class="pop__console-left">
                    <div class="c-checkbox">
                        <input type="checkbox" id="autoPrintReceipt" checked="" />
                        <label for="autoPrintReceipt">완료시 영수증 자동인쇄 후 닫기</label></div>
                </li>
                <li><button class="c-button" onclick="onClosePayment()">닫기</button></li>
                <li><button class="c-button c-button--darksolid" onclick="onPrintReceipt()">영수증 출력</button></li>
                <li><button class="c-button c-button--dark" onclick="onPaymentStageOne()">결제하기</button></li>
            </ul>
        </div>
    </div>

    <!-- 택번호 저장 팝업 -->
    <div class="pop" id="fdTagChange">
        <div class="pop__box pop__box--small">
            <div class="pop__article">
                <h3 class="pop__article-header">택번호 변경을 위한 비밀번호 확인</h3>
                <div class="pop__article-content">
                    <div class="c-text">
                        <input id="fdTagPassword" type="password" placeholder="비밀번호 입력" />
                        <button class="c-search__key" type="button" onclick="onShowVKeyboard(6)">키보드</button>
                    </div>
                </div>
            </div>

            <ul class="pop__console">
                <li>
                    <button class="c-button c-button--red" onclick="onCloseFdTag()">취소</button>
                </li>
                <li>
                    <button class="c-button c-button--darksolid" onclick="onConfirmFdTag()">확인</button>
                </li>
            </ul>
        </div>
    </div>

    <div id="windowMask"></div>
    <div id="mask">운동화 세탁에는<br />고객의 서명이 필요합니다.<br /><br />
        운동화 세탁 접수의뢰 동의서<br />에 대하여 안내해 주시고,<br /><br />
        고객께서 동의하시면<br />운동화 접수가 진행 됩니다.</div>
    <div id="resultmsg" style="display: none">결과메세지</div>

    <div id ="payStatus" style="position: absolute; left: 0; top: 0; height: 1024px; width: 1280px;
        z-index: 100; background-color: transparent; display: none;" >
    </div>

    <input type="hidden" id="hiddenKeypad" />
</div>
</html>
