<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/assets/css/nak_css_dir/VKeyboard.css" />
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

	<script type="text/javascript">
		let vkey;
		document.addEventListener('DOMContentLoaded', function() {
			vkey = new VKeyboard();
		}, false);
	</script>

</th:block>

<div layout:fragment="content" class="content padding-zero content--main">
	<input type="text" id="targetField">
	<input type="button" value="⌨" onclick="vkey.showKeyboard('targetField', '제목 테스트', ['상용구', '테스트', '스페 이스', '&ㅁㅁ&'])">
</html>
