<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script type="text/javascript">

        // AUIGrid 생성 후 반환 ID
        let myGridID;
        let myData;

        const columnLayout = [{
            dataField : "testName",
            headerText : "이름",
        }, {
            dataField: "testOld",
            headerText: "나이",
            editable : true,
        }, {
            dataField: "testGender",
            headerText: "성별",
            editable : true,
        },{
            dataField: "testMoney",
            headerText: "요금",
            editable : true,
        }];

        $(function() {
            createAUIGrid(columnLayout);
            // account_list();
        });

        // AUIGrid 를 생성합니다.
        function createAUIGrid(columnLayout) {

            // 그리드 속성 설정
            const gridPros = {
                // 편집 가능 여부 (기본값 : false)
                editable: true,

                // 엔터키가 다음 행이 아닌 다음 칼럼으로 이동할지 여부 (기본값 : false)
                enterKeyColumnBase: true,

                // 셀 선택모드 (기본값: singleCell)
                selectionMode: "multipleCells",

                // 컨텍스트 메뉴 사용 여부 (기본값 : false)
                useContextMenu: true,

                // 필터 사용 여부 (기본값 : false)
                enableFilter: true,

                // 그룹핑 패널 사용
                useGroupingPanel: true,

                // 상태 칼럼 사용
                showStateColumn: true,

                // 그룹핑 또는 트리로 만들었을 때 펼쳐지게 할지 여부 (기본값 : false)
                displayTreeOpen: true,
                noDataMessage: "출력할 데이터가 없습니다.",
                groupingMessage: "여기에 칼럼을 드래그하면 그룹핑이 됩니다."
            };
            // 실제로 #grid_wrap 에 그리드 생성
            myGridID = AUIGrid.create("#girdtest_list", columnLayout, gridPros);
        }

        function account_list(){
            $(document).ajaxSend(function(e, xhr) { xhr.setRequestHeader("Authorization",localStorage.getItem('Authorization')); });
            $.ajax({
                url: "/api/test/list",
                type: 'GET',
                cache: false,
                error: function (req) {
                    ajaxErrorMsg(req);
                },
                success: function (req) {
                    console.log("사용자 리스트 : "+req.sendData.accountListData);

                    // 서버 사이드에서 매핑한 데이터
                    myData = req.sendData.accountListData;
                    AUIGrid.setGridData(myGridID, myData);
                }
            });
        }

        // 유니폼 테스트
        function JSONType() {

            console.log("문서출력 테스트 데이터 : "+myData);

            //프로젝트 명
            const projectName = "sample";

            //서식 명
            const formName = "JSONType";

            //데이터 셋
            const datasetList = {};

            // var dataset_0 = [{"no":1,"nm":"홍길동","position":"사장","addr":"서울시 성동구 성수일로251"},{"no":2,"nm":"김철수","position":"이사","addr":"서울시 성동구 성수일로252"},{"no":3,"nm":"김영희","position":"상무","addr":"서울시 성동구 성수일로253"},{"no":4,"nm":"이영신","position":"부장","addr":"서울시 성동구 성수일로254"},{"no":5,"nm":"김현석","position":"팀장","addr":"서울시 성동구 성수일로255"},{"no":6,"nm":"김현우","position":"과장","addr":"서울시 성동구 성수일로256"},{"no":7,"nm":"강성진","position":"사원","addr":"서울시 성동구 성수일로257"}];
            // datasetList.dataset_0 = JSON.stringify(dataset_0);
            datasetList.dataset_0 = JSON.stringify(myData);

            //파라메터
            var paramList = {};
            paramList.stDt = "2019-01-01";
            paramList.endDt = "2019-12-31";

            fn_viewer_open(projectName, formName, datasetList, paramList);
        }

        function fn_viewer_open(projectName, formName, datasetList, paramList) {
            const _params = {"projectName":projectName 			//프로젝트명
                ,"formName":formName 	          //서식명
            };

            console.log("datasetList : "+datasetList);

            for (const datasetValue in datasetList) {
                _params[datasetValue] = encodeURIComponent(datasetList[datasetValue]);
            }

            for (const paramValue in paramList) {
                _params[paramValue] = paramList[paramValue];
            }

            const contextPath = '<%=request.getContextPath()%>';
            const _url = "http://192.168.0.197:8080/UBIFORM/UView5/index.jsp?projectName=sample&formName=TableRowAutoHeight";

            const d = new Date();
            const n = d.getTime();

            const name = "UBF_" + n;

            //팝업 오픈 Option 해당 설정은 window.open 설정을 참조
            const windowoption = 'location=0, directories=0,resizable=0,status=0,toolbar=0,menubar=0, width=1280px,height=650px,left=0, top=0,scrollbars=0';  //팝업사이즈 window.open참고
            const form = document.createElement("form");

            form.setAttribute("method", "post");
            form.setAttribute("action", _url);

            for (const i in _params)
            {
                if (_params.hasOwnProperty(i))
                {
                    const param = document.createElement('input');
                    param.type = 'hidden';
                    param.name = i;
                    param.value = encodeURI( _params[i] );
                    form.appendChild(param);
                }
            }

            document.body.appendChild(form);
            form.setAttribute("target", name);
            window.open("", name, windowoption);
            form.submit();
            document.body.removeChild(form);

        }

    </script>
</th:block>

<div layout:fragment="content" class="content padding-zero content--main">

    <div class="desc">
        <p>사용자 조회리스트</p>
    </div>
    <div>
        <!-- 사용자리스트. -->
        <div id="girdtest_list"></div>
    </div>
    <div class="desc">
        <input type="button" value="조회" onclick="account_list()">
        <input type="button" value="출력" onclick="JSONType()">
    </div>
</div>

</html>