<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaultmanager}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

	<script type="text/javascript">

		$(function() {
			$('.gnb').on('mouseenter', function () {
				$('.gnb__layer').stop().slideDown(200);
				$('.gnb__depth2').stop().slideDown(200);
			});

			$('.header').on('mouseleave', function(){
				$('.gnb__layer').stop().slideUp(200);
				$('.gnb__depth2').stop().slideUp(200);
			});
		});

	</script>
</th:block>

<div layout:fragment="content" class="content">
    <section class="section">
        <article class="article">
            <div class="article__header">
                <h3 class="article__heading">지사출고</h3>
            </div>
            <div class="article__body">
                <div class="inquiry">
                    <div class="inquiry__condition">
                        <ul>
                            <li>
                                <div class="inquiry__title">가맹점</div>
                                <div class="inquiry__input">
                                    <div class="c-select">
                                        <select>
                                            <option>서정마을점</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inquiry__title">택번호(앞 3자리)</div>
                                <div class="inquiry__input">
                                    <div class="inquiry__input-tag">
                                        <input type="text" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inquiry__title">택번호(뒤 4자리)</div>
                                <div class="inquiry__input">
                                    <div class="inquiry__input-tag">
                                        <input type="text" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="inquiry__title">출고일자</div>
                                <div class="inquiry__input">
                                    <div class="c-period">
                                        <!-- 시작일 -->
                                        <input type="text" id="filterFromDt">
                                        <span class="c-period__code">-</span>
                                        <!-- 종료일 -->
                                        <input type="text" id="filterToDt">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="inquiry__button">
                        <button class="c-button c-button--small c-button--darksolid">조회</button>
                    </div>
                </div>
            </div>
        </article>

        <article class="article">
            <div style="height: 600px; margin-top: 20px; border: 1px solid #ddd">
                grid area
            </div>
        </article>

    </section>
</div>
</html>
