<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaultmanager}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
		.colorSquare {
			height: 20px;
			width: 20px;
			border-radius: 5px;
			display: inline-block;
		}
    </style>

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="/assets/js/toppos/CommonPC.js"></script>
    <script src="/assets/js/toppos/manager/releasemanagement/release.js"></script>
</th:block>

<div layout:fragment="content" class="content">
    <section class="section">
        <article class="article">
            <div class="article__header">
                <h3 class="article__heading">지사출고</h3>
            </div>
            <div class="article__body">
                <div class="inquiry">
                    <div class="inquiry__condition">
                        <ul>
                            <li>
                                <div class="inquiry__title">출고작업유형</div>
                                <div class="inquiry__input">
                                    <div class="c-radio">
                                        <input type="radio" name="type" id="type01" value="" checked=""/>
                                        <label for="type01">통합출고</label>
                                    </div>
                                    <div class="c-radio">
                                        <input type="radio" name="type" id="type02" value="" />
                                        <label for="type02">가맹점선택출고</label>
                                    </div>
                                </div>
                            </li>
                            <li id="frSelectUI" style="display: none;">
                                <div class="inquiry__title">가맹점</div>
                                <div class="inquiry__input">
                                    <div class="c-select">
                                        <select id="frList">
                                            <option value="0">전체</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="inquiry__title">입고일자</div>
                                <div class="inquiry__input">
                                    <div class="c-period">
                                        <!-- 시작일 -->
                                        <input type="text" id="filterFromDt">
                                        <span class="c-period__code">-</span>
                                        <!-- 종료일 -->
                                        <input type="text" id="filterToDt">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inquiry__input">
                                    <div class="c-checkbox">
                                        <input type="checkbox" id="isUrgent" />
                                        <label for="isUrgent">급세탁</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="inquiry__button">
                        <button id="getListBtn" class="c-button c-button--small c-button--darksolid">조회</button>
                    </div>
                </div>
            </div>
        </article>

        <article class="article">
            <div class="release-console">
                <div class="release-console__tag">
                    <div class="release-console__tag-title">택번호</div>
                    <div class="release-console__tag-input">
                        <input id="inputTagNo" type="text" />
                    </div>
                    <button id="inputTagBtn" class="c-button c-button--small">조회</button>
                </div>
                <div id="listStatBar" class="release-console__list" style="display: none;">
                    <div class="release-console__comment">[<span id="frName">전체</span>] 상품이 <span id="numOfList">0</span>건 조회되었습니다.</div>
                    <ul class="release-console__btn-list">
                        <li id="addAll"><button class="release-console__btn">전체리스트 보기</button></li>
                        <li id="clearAll"><button class="release-console__btn">전체리스트 숨기기</button></li>
                    </ul>
                </div>
            </div>
        </article>

        <div class="article article--flex article--non-margin">
            <div class="article__body">
                <!-- <ul class="article__console article__console--left article__console--non-border">
                    <li>
                        <button class="c-button c-button--solid">전체선택</button>
                    </li>
                    <li>
                        <button class="c-button c-button--darksolid">선택취소</button>
                    </li>
                </ul> -->
                <div style="width: 100%; height: 530px; border: 1px solid #bdbdbd;">
                    <div id="grid_main" style="height: 530px;"></div>
                </div>
            </div>

            <div class="article__body" style="flex: 0 1 auto; width: 17.5rem;">
                <div class="article__header">
                    <h3 class="article__heading">출고 선택 품목 요약</h3>
                </div>
                <div class="article__body">
                    <div id="grid_selected" style="width: 100%; height: 378px; border: 1px solid #bdbdbd;"></div>
                    <div class="process">
                        <div class="process__count">
                            <div class="process__count-input"><input id="miDegree" type="text" value="1" maxlength="2" /></div>
                            <span>차 출고</span>
                        </div>
                        <div class="process__btn">
                            <button id="sendOutBtn" class="c-button">출고처리</button>
                            <span>(출고증 인쇄)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
