<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaultmanager}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<script src="/assets/js/toppos/manager/inandout/tag.js"></script>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <style>
        .color_and_name {
            text-align: left;
            margin-left: 10px;
        }
    </style>
</th:block>

<div layout:fragment="content" class="content content--padding">
    <section class="section">
        <article class="article">
            <div class="article__header">
                <h3 class="article__heading">TAG 번호조회</h3>
            </div>
            <div class="article__body">
                <div class="inquiry">
                    <div class="inquiry__condition">
                        <ul>
                            <li>
                                <div class="inquiry__title">가맹점</div>
                                <div class="inquiry__input">
                                    <div class="c-select">
                                        <select id="frList">
                                            <option value="" data-tagno="">가맹점 선택</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="frTagNo" class="inquiry__title">택번호(앞 3자리)</div>
                                <div class="inquiry__input">
                                    <div class="inquiry__input-tag">
                                        <input id="foreTag" type="text" style="color: black;" readonly/>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inquiry__title">택번호(뒤 4자리)</div>
                                <div class="inquiry__input">
                                    <div class="inquiry__input-tag">
                                        <input id="aftTag" type="text" maxlength="4" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="inquiry__button">
                        <button id="searchListBtn" class="c-button c-button--small c-button--darksolid">조회</button>
                    </div>
                </div>
            </div>
        </article>

        <div class="article">
            <div class="article__body">
                <div style="height: 570px; margin-top: 20px; border: 1px solid #ddd">
                    <div id="grid_main" style="height: 570px;"></div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
