@charset "utf-8";

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/* css reset */
*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}
::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}
:where(:root) {
	cursor: default;
	line-height: 1.5;
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
}
:where(body) {
	margin: 0;
	color: #333;
	font-family: 'Noto Sans KR';
}
:where(a) {
	text-decoration: none;
}
:where(h1) {
	font-size: 2rem;
}
:where(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}
:where(h2) {
	font-size: 1.75rem;
}
:where(h3) {
	font-size: 1.5rem;
}
:where(h4) {
	font-size: 1.25rem;
}
:where(dl, ol, ul) {
	list-style: none;
	padding: 0;
	margin: 0;
}
:where(hr) {
	color: inherit;
	height: 0;
}
:where(pre) {
	font-family: monospace, monospace;
	font-size: 1rem;
	overflow: auto;
}
:where(abbr[title]) {
	text-decoration: underline;
	text-decoration: underline dotted;
}
:where(b, strong) {
	font-weight: bolder;
}
:where(code, kbd, samp) {
	font-family: monospace, monospace;
	font-size: 1em;
}
:where(small) {
	font-size: 80%;
}
:where(audio, canvas, iframe, img, svg, video) {
	vertical-align: middle;
}
:where(iframe) {
	border-style: none;
}
:where(svg:not([fill])) {
	fill: currentColor;
}
:where(table) {
	border-collapse: collapse;
	border-color: inherit;
text-indent: 0;
}
:where(button, input, select, p) {
	margin: 0;
}
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
	-webkit-appearance: button;
}
:where(fieldset) {
	border: 1px solid #a0a0a0;
}
:where(progress) {
	vertical-align: baseline;
}
:where(textarea) {
	margin: 0;
	resize: vertical;
}
:where([type="search" i]) {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
:where(dialog) {
	background-color: white;
	border: solid;
	color: black;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -moz-fit-content;
	width: fit-content;
}
:where(dialog:not([open])) {
	display: none;
}
:where(details > summary:first-of-type) {
	display: list-item;
}
:where([aria-busy="true" i]) {
	cursor: progress;
}
:where([aria-controls]) {
	cursor: pointer;
}
:where([aria-disabled="true" i], [disabled]) {
	cursor: not-allowed;
}
:where([aria-hidden="false" i][hidden]) {
	display: initial;
}
:where([aria-hidden="false" i][hidden]:not(:focus)) {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}
:where(button, input, select, textarea) {
	background-color: transparent;
	border: 1px solid WindowFrame;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: 0.25em 0.375em;
}
:where(select) {
	appearance: none;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center / 1em;
	border-radius: 0;
	padding-right: 1em;
}
:where(select[multiple]) {
	background-image: none;
}
:where([type="color" i], [type="range" i]) {
	border-width: 0;
	padding: 0;
}
iframe,
img,
input,
select,
textarea {
	height: auto;
	max-width: 100%;
}


@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}
/* /reset end */

.wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	min-width: 90rem;
	height: 100vh;
}

/* header */
.header {
	width: 100%;
	height: 4.375rem;
	background-color: #fff;
	border-bottom: 0.063rem solid #d7d7d8;
	z-index: 1;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100rem;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0 1.25rem;
	background-color: #fff;
	border-bottom: 0.063rem solid #d7d7d8;
	color: #fff;
	z-index: 1;
}
.header .logo {
	display: block;
	width: 8.875rem;
	height: 2.25rem;
	margin-top: 1.063rem;
}
.header .logo img {
	width: 100%;
}
.header .info {
	display: flex;
	margin-left: auto;
}
.info__user {
	display: flex;
	align-items: center;
}
.info__icon {
	display: block;
	width: 1.875rem;
	height: 1.875rem;
	background: #e7f4ff url(/assets/images/icon__user.svg) no-repeat;
	background-position: center center;
	background-size: 1.25rem 1.25rem;
	border-radius: 0.938rem;
	text-indent: -9999rem;
}
.info__user-name {
	margin-left: 0.625rem;
	color: #0082f0;
	font-weight:700;
}
.header__link,
.header__btn {
	display: flex;
	align-items: center;
	margin-left: 1.25rem;
	border: 0 none;
	cursor: pointer;
}
.header__link img,
.header__btn img {
	width: 1.875em;
}
.header__link span,
.header__btn span {
	margin-left: 0.75rem;
	color: #a2a2a2;
	font-weight: 700;
}
.header__link.active span,
.header__btn.active span {
	color: #2f73ea;
}

/* gnb */
.gnb {
	margin-left: 2.5rem;
}
.gnb__list {
	display: flex;
}
.gnb__depth1 {
	min-width: 9.375rem;
}
.gnb__depth1 a {
	display: block;;
	line-height: 4.375rem;
	color: #aaa;
	font-size: 1rem;
	font-weight: 700;
}
.gnb__depth2 {
	display: none;
	margin-top: 0;
}
.gnb__item:hover .gnb__depth1 a,
.gnb__depth2 > li > a:hover {
	color: #0082f0;
}
.gnb__depth2 > li {
	margin-top: 1.25rem;
}
.gnb__depth2 > li > a {
	color: #333;
	line-height: 1.5;
	letter-spacing: -1px;
}
.gnb__layer {
	display: none;
	position: fixed;
	top: 4.438rem;
	left: 0;
	width: 100%;
	height: 18rem;
	background-color: #fff;
	border-bottom: 0.063rem solid #d7d7d8;
}

/* content */
.content {
	overflow: auto;
	flex: 1;
	position: relative;
	min-width: 1600px;
	background-color: #f5f5f5;
}
.content.content--padding {
	padding: 2.5rem;
}
.content.content--main,
.content.content--board {
	background-color: #fff;
}
.content__heading {
	margin-bottom: 1.25rem;
}
.content__column {
	display: flex;
	flex-wrap: wrap;
}
.content__column .section {
	width: calc(50% - 0.625rem);
}
.content__column .section + .section {
	margin-top: 0;
	margin-left: 1.25rem;
}
.content__column .section:nth-child(2n - 1) {
	width: 31.25rem;
}
.content__column .section:nth-child(2n) {
	width: calc(100% - 32.5rem);
}

/* main */ 
.main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1440px;
	height: 100%;
	margin: 0 auto;
	padding: 2.5rem 5rem;
}
.main__board {
	position: relative;
	width: 38.75rem;
	margin-bottom: 3.75rem;
}
.main__board-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.125rem;
	border-bottom: 0.125rem solid #c8c8c8;
}
.main__board-header h3 a {
	color: #333;
	font-size: 1.5rem;
	font-weight: 700;
}
.main__board-contents {
	margin-top: 0.625rem;
}
.main__board-contents li {
	border-bottom: 0.063rem solid #eaeaea;
}
.main__board-contents li a {
	display: flex;
	align-items: center;
	height: 3.125rem;
	padding: 0.625rem;
}
.main__board-title {
	flex: 1;
	width: 100%;
}
.main__board-title span {
	overflow: hidden;
	display: block;
	width: 23.75rem;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.main__board-title.name span {
	width: 12.5rem;
}
.main__board-date {
	flex: 0 0 auto;
	width: 5rem;
}
.main__board-date span {
	color: #8d9db0;
	font-size: 0.875rem;
}
.main__board-stamp {
	width: 5rem;
}


/* section */
.section {
	position: relative;
	width: 100rem;
	margin: 1.25rem auto 0 auto;
	padding: 2.5rem 4.375rem;
	background-color: #fff;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
	-webkit-box-shadow: 0 .188rem 0.063rem rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 .188rem 0.063rem rgba(0, 0, 0, .15);
	box-shadow: 0 .188rem 0.063rem rgba(0, 0, 0, .15);
}
.section:first-child {
	margin-top: 0;
}
.section__head {
	position: relative;
	padding-bottom: 0.625rem;
	margin-bottom: 0.625rem;
	border-bottom: 0.063rem solid #c8c8c8;
}
.article + .article {
	margin-top: 2rem;
}
.article.article--non-margin {
	margin-top: 0;
}
.article + .article.article--non-margin {
	margin-top: 1.25rem;
}
.article.article--flex {
	display: flex;
	flex-wrap: wrap;
}
.article__header {
	margin-bottom: 1.25rem;
	padding-bottom: 0.625rem;
	border-bottom: 0.125rem solid #c8c8c8;
}
.article__heading {
	font-size: 1.25rem;
	font-weight: 700;
}
.article__body {
	position: relative;
	width: 100%;
}
.article.article--flex .article__body {
	flex: 1;
}
.article.article--flex .article__body + .article__body {
	margin-left: 1.25rem;
}
.article.article--flex .article__body.flex-auto {
	flex: 0 1 auto;
}
.article__content {
	position: relative;
}
.article__console {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 0.625rem;
	padding-top: 1.25rem;
	border-top: 0.063rem solid #c8c8c8;
}
.article__console.article__console--right {
	justify-content: flex-end;
}
.article__console.article__console--left {
	justify-content: flex-start;
}
.article__console.article__console--non-border {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.article__console > li + li {
	margin-left: 0.625rem;
}

/* inquiry 검색조건 */
.inquiry {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	width: 100%;
	padding: 1.25rem;
	background-color: #f1f8fe;
	border: 0.063rem solid #d9e5ff;
	border-radius: 0.313rem;
}
.inquiry__condition {
	flex: 1;
}
.inquiry__condition > ul {
	display: flex;
	flex-wrap: wrap;
}
.inquiry__condition > ul + ul {
	margin-top: 1.25rem;
}
.inquiry__condition > ul > li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 2.5rem;
}
.inquiry__condition > ul > li:last-child {
	margin-right: 0;
}
.inquiry__title {
	margin-right: 1.25rem;
}
.inquiry__input-tag {
	width: 5rem;
}
.inquiry__button {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.inquiry__button.inquiry__button--row {
	flex-direction: row;
}
.inquiry__button .c-button + .c-button {
	margin-top: 0.625rem;
}
.inquiry__button.inquiry__button--row .c-button + .c-button {
	margin-top: 0;
	margin-left: 0.625rem;
}

/* release-console */
.release-console {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.release-console__tag {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.release-console__tag-title {
	margin-right: 1.25rem;
}
.release-console__tag-input {
	width: 7.5rem;
	margin-right: 1.25rem;
}
.release-console__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 51.875rem;
	height: 3.125rem;
	padding: 0 2.5rem;
	border: 0.063rem solid #bdbdbd;
	border-radius: 2.5rem;
}
.release-console__comment {
	padding-left: 2.125rem;
	background: url(/assets/images/icon__exclamation.svg) no-repeat;
	background-position: left center;
	background-size: 1.5rem 1.5rem;
	color: #aaa;
	font-size: 1.125rem;
	font-weight: 700;
}
.release-console__btn-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.release-console__btn-list > li {
	position: relative;
}
.release-console__btn-list > li + li {
	margin-left: 2.5rem;
}
.release-console__btn-list > li + li:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0.5rem;
	left: -1.25rem;
	width: 0.063rem;
	height: 1rem;
	background-color: #bdbdbd;
}
.release-console__btn {
	padding: 0 0 0.125rem 0;
	border: 0 none;
	border-bottom: 0.063rem solid #0082f0;
	color: #0082f0;
	font-weight: 700;
	cursor: pointer;
}

/* process */
.process {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 5.625rem;
	padding: 0 1.25rem;
	background-color: #004a98;
}
.process__count {
	display: flex;
	align-items: center;
}
.process__count-input {
	width: 2.5rem;
	margin-right: 0.625rem;
}
.process__count-input + span {
	color: #fff;
	font-size: 1rem;
	font-weight: 700;
}
.process__btn span {
	display: block;
	color: #fff;
	font-size: 0.875rem;
	font-weight: 700;
	text-align: center;
}


.form {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.form__list {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.form__list.form__list--100 {
	flex: 0 1 auto;
	width: 100%;
}
.form__heading {
	margin-right: 1.25rem;
}
.form__list:before,
.form__item:before {
	content: " ";
	display: table;
}
.form__list:after,
.form__item:after {
	content: " ";
	display: table;
	clear: both;
}
.form__item {
	flex: 1;
	display: flex;
	align-items: stretch;
	width: 100%;
	border-bottom: 0.063rem solid #eaeaea;
}
.form__title {
	width: 11.25rem;
	padding: 0.875rem 0.625rem;
	background-color: #f8f8f8;
}
.form__input {
	flex: 1;
	/*width: calc(100% - 8.125rem);*/
	padding: 0.625rem;
}
.form__input input[type="text"],
.form__input input[type="password"] {
	flex: 1;
	max-width: 100%;
}
.form__input .c-select {
	width: 100%;
}
.text-color--red {
	color: #dd5257;
}

.search-form {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.search-form.search-form--right {
	justify-content: flex-end;
}
.search-form.search-form--left {
	justify-content: flex-start;
}
.search-form__list {
	display: flex;
	flex-wrap: wrap;
}
.search-form__item {
	flex: 1;
	padding: 0 0.313rem;
}
.search-form__title {
	height: 0.875rem;
	margin-bottom: 0.313rem;
	font-size: 0.875rem;
	line-height: 1;
}
.seach-form__console {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end
}
.search-form__btn + .search-form__btn {
	margin-left: 0.625rem;
}

/* contract 계약 */
.contract {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #ededed;
}
.contract__list-area {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	overflow: auto;
	width: calc(50% - 0.313rem);
	height: 51.25rem;
	padding: 2.5rem;
	background-color: #fff;
}
.contract__list-area.contract__list-area--flex .contract__list {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.contract__list + .contract__list {
	margin-top: 1.25rem;
}
.contract__search {
	margin-bottom: 1.25rem;
}
.contract__regist {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: calc(50% - 0.313rem);
	height: 51.25rem;
	margin-left: 0.625rem;
	padding: 2.5rem;
	background-color: #fff;
}
.contract__head {
	padding-bottom: 0.625rem;
	border-bottom: 0.125rem solid #c8c8c8;
}
.contract__head h3 {
	color: #000;
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-weight: 700;
}
.contract__body {
	overflow: auto;
	/* padding: 0.625rem;
	border: 0.063rem solid #c4c4c4; */
}
.contract__regist .contract__body,
.contract__list-area.contract__list-area--flex .contract__list .contract__body {
	flex: 1;
}
.contract__body .inquiry {
	margin: 1.25rem 0;
}

/* 우편번호 */
.address {
	position: relative;
	width: 100%;
}
.address > ul > li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.address > ul > li + li {
	margin-top: 0.625rem;
}
.address__postcode {
	max-width: 7.5rem !important;
	margin-right: 0.625rem;
}

.percent {
	display: flex;
	flex-wrap: wrap;
}
.percent > li + li {
	margin-left: 1.254rem;
}
.percent__title {
	font-size: 0.875rem;
	margin-bottom: 0.313rem;
}
.percent__input > input[type="number"] {
	width: 6.25rem;
}


/* float layout */
.float {
	display: block;
	position: relative;
	width: 100%;
	padding: 1.25rem;
	background-color: #fff;
}
.float:before {
	content: " ";
	display: table;
}
.float:after {
	content: " ";
	display: table;
	clear: both;
}
.float.float--auto {
	width: auto;
}
.float__content {
	float: left;
	width: calc(50% - 0.625rem);
}
.float__content:nth-child(2n) {
	margin-left: 1.25rem;
}

/* type */
.type {
	position: relative;
	width: 100%;
	background-color: #fff;
}
.type + .type {
	margin-top: 1.25rem;
}
.type.type--padding {
	padding: 1.25rem;
}
.type__head {
	background-color: #c4c4c4;
	padding: 0.125rem 0;
}
.type__heading {
	color: #fff;
	text-align: center;
}
.type__content {
	position: relative;
	width: 100%;
	padding: 1.25rem;
	background-color: #fff;
	border: 0.063rem solid #c4c4c4;
}
.article__console + .type__grid,
.search-form + .type__grid {
	margin-top: 1.25rem;
}
.type__grid + .article__console {
	margin-top: 1.25rem;
}



/* 지사 */
.businessday {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.businessday__month {
	padding: 0.625rem;
}
.calendar_label {
	margin-bottom: 0.313rem;
	color: #333;
	font-size: 0.875rem;
	font-weight: 700;
}

/* 게시판 */
.board,
.board-view,
.reply {
	width: 80rem;
	margin: 0 auto;
	padding: 2.5rem 3.75rem;
	background-color: #fff;
}
.board.board--bottom-nonpadding {
	padding-bottom: 0;
}
.board-view {
	padding: 0 3.75rem;
}
.reply {
	padding: 1.25rem 3.75rem;
}
.board__header {
	margin-bottom: 1.25rem;
}
.board__title {
	margin-bottom: 1.25rem;
	color: #000;
	font-size: 1.5rem;
	font-weight: 700;
}
.board__header-console {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.board__header-console .c-select {
	width: auto;
}
.board__header-input {
	flex: 1;
	margin-left: 1.25rem;
}
.board__header-input input {
	max-width: 100%;
}
.board-view__header {
	margin-bottom: 1.25rem;
}
.board-view__category {
	margin-bottom: 0.625rem;
	color: #0082f0;
	font-size: 1rem;
}
.board-view__heading {
	color: #000;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.5;
}
.board-view__info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.board-view__info > li {
	position: relative;
	padding: 0 1.25rem;
	border-left: 0.063rem solid #ddd;
	color: #8d9db0;
	font-size: 1rem;
	font-weight: 700;
}
.board-view__info > li:first-child {
	padding-left: 0;
	border-left: 0 none;
}
.board-view__info > li:last-child {
	padding-right: 0;
}
.board-view__info > li.board-view__info-file {
	margin-left: auto;
	border-left: 0 none;
}
.board-view__btn {
	border: 0 none;
	padding: 0 0 0 ;
	color: #0082f0;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
	cursor: pointer;
}
.board-view__file-box {
	display: none;
	position: absolute;
	top: 1.75rem;
	right: 0;
	width: 20rem;
	padding: 0.625rem 1.25rem;
	border: 0.063rem solid #d9e5ff;
	background-color: #f1f8fe;
	border-radius: 0.313rem;
}
.board-view__file-box.active {
	display: block;
}
.board-view__file-box > ul > li + li {
	margin-top: 0.313rem;
}
.board-view__file {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
}
.board-view__filename {
	overflow: hidden;
	display: block;
	width: 13.625rem;
	padding-left: 1rem;
	background: url(/assets/images/icon__filedown.svg) no-repeat;
	background-position: left center;
	background-size: 0.875rem 0.875rem;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.board-view__filesize {
	display: block;
	width: 3.75rem;
	color: #888;
	text-align: right;
}
.board-view__content {
	overflow-y: auto;
	height: 34.625rem;
	padding: 1.25rem;
	border-top: 0.125rem solid #333;
	border-bottom: 0.125rem solid #c8c8c8;
}
.board-view__footer {
	position: relative;
}
.board-view__links {
	width: 100%;
	padding: 0.625rem 1.25rem;
	border-bottom: 0.063rem solid #eaeaea;
}
.board__link {
	display: flex;
	align-items: center;
	width: 100%;
}
.board__turn {
	padding-left: 1.5rem;
	background-position: left center;
	background-size: 1rem 0.625rem;
	color: #8d9db0;
	font-size: 1rem;
}
.board__link.board__link--prev .board__turn {
	background-image: url(/assets/images/icon__up--gray.svg);
}
.board__link.board__link--next .board__turn {
	background-image: url(/assets/images/icon__down--gray.svg);
}
.board__link-category {
	margin-left: 2.5rem;
	color: #0082f0;
	font-size: 1rem;
}
.board__link-title {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 2.5rem;
	color: #333;
	font-size: 1rem;
}
.board__link-date {
	margin-left: 2.5rem;
	color: #8d9db0;
	font-size: 1rem;
	font-weight: 700;
}
.board__console {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 100%;
	margin: 1.25rem 0;
}
.board-view__console {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80rem;
	margin: 0 auto;
	padding: 2.5rem 3.75rem 1.25rem;
}
.board-view__console.board-view__console--bottom {
	padding-top: 1.25rem;
}
.reply__write {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.reply__write textarea {
	width: 100%;
}
.reply__write .c-button {
	margin-top: 0.625rem;
}
.reply__list {
	overflow-y: auto;
	margin-top: 1.25rem;
	border-top: 0.125rem solid #333;
}
.reply__item {
	width: 100%;
	padding: 1.25rem 0;
}
.reply__item + .reply__item {
	border-top: 0.063rem solid #c8c8c8;
}
.reply__item .reply__item {
	margin-top: 1.25rem;
	padding: 1.25rem 1.25rem 1.25rem 2.5rem;
	border-top: 0.063rem solid #eaeaea;
	background-color: #f1f8fe;
	background-image: url(/assets/images/icon__reply.svg);
	background-repeat: no-repeat;
	background-size: 0.625rem 0.625rem;
	background-position: 1rem 1.5rem;
}
.reply__info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1.25rem;
	padding: 0 1.25rem;
}
.reply__name {
	color: #333;
	font-size: 1rem;
	font-weight: 700;
}
.reply__date {
	color:#8d9db0;
	font-size: 1rem;
	font-weight: 700;
}
.reply__comment {
	padding: 0 1.25rem;
	color: #333;
	line-height: 1.5;
}
.reply__console {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.25rem;
}
.reply__item .reply__console {
	padding: 0 1.25rem;
}
.reply__item .reply__item .reply__info,
.reply__item .reply__item .reply__comment,
.reply__item .reply__item .reply__console {
	padding: 0;
}
.reply__console-right {
	margin-left: auto;
}

.board__upload {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	margin: 1.25rem 0;
	border-top: 0.125rem solid #333;
	border-bottom: 0.063rem solid #eaeaea;
}
.board__upload-title {
	width: 12.5rem;
	padding: 1rem 1.25rem;
	background-color: #f8f8f8;
}
.board__upload-input {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	padding: 0 1.25rem;
}
.board__upload-count {
	margin-left: auto;
	padding: 0;
	padding-right: 1.5rem;
	border: 0 none;
	background: url(/assets/images/icon__down--one.svg) no-repeat;
	background-position: right center;
	background-size: 1.25rem 1.25rem;
	color: #aaa;
	font-size: 0.875rem;
}
.board__upload-list {
	display: none;
	position: absolute;
	top: 2.75rem;
	right: 1.25rem;
	width: 20rem;
	padding: 0.625rem 1.25rem;
	border: 0.063rem solid #d9e5ff;
	background-color: #f1f8fe;
	border-radius: 0.313rem;
	z-index: 1;
}
.board__upload-list.active {
	display: block;
}
.board__upload-list > ul > li + li {
	margin-top: 0.313rem;
}
.board__upload-file-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
}
.board__upload-filename {
	overflow: hidden;
	display: block;
	width: 13.625rem;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.board__upload-filesize {
	display: block;
	width: 3.75rem;
	color: #888;
	text-align: right;
}
.board__upload-delete {
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	margin-left: 0.875rem;
	text-indent: -9999rem;
	background: url(/assets/images/icon__X.svg) no-repeat;
	background-position: center center;
	background-size: 1.25rem 1.25rem;
}

/* grid 페이징 */
/* 페이징 패널 스타일 */
.aui-grid-paging-panel {
	margin-top: 2.5rem;
	background: #fff;
	border-top: 0 none;
	text-align: center;
	box-sizing: border-box;
}
/* 페이징 넘버링 */
.aui-grid-paging-panel .aui-grid-paging-number {
	display: inline-block;
	border: 1px solid #d4d9e1;
	border-radius: 0.313rem;
	min-width: 2.5rem;
	color: #9a9fa8;
	line-height: 2.375rem;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	margin: 0 3px;
}
.aui-grid-paging-panel .aui-grid-paging-number:hover {
	background-color: #eaeaea;
	border: 1px solid #aaa;
	cursor: pointer;
}
/* 페이징 현재 페이지 선택 넘버링 */
.aui-grid-paging-panel .aui-grid-paging-number-selected {
	background: #d9e5ff !important;
	border: 1px solid #0082f0 !important;
	color: #0082f0 !important;
}
/* 페이징 이전 버튼 */
.aui-grid-paging-panel .aui-grid-paging-prev {
	background: url(/assets/images/icon__arrow--left.svg) 50% 50% no-repeat;
	text-indent: -99999px;
}
/* 페이징 다음 버튼 */
.aui-grid-paging-panel .aui-grid-paging-next {
	background: url(/assets/images/icon__arrow--right.svg) 50% 50% no-repeat;
	text-indent: -99999px;
}
/* 페이징 처음 버튼 */
.aui-grid-paging-panel .aui-grid-paging-first {
	background: url(/assets/images/icon__arrow--left2.svg) 50% 50% no-repeat;
	text-indent: -99999px;
}
/* 페이징 마지막 버튼 */
.aui-grid-paging-panel .aui-grid-paging-last {
	background: url(/assets/images/icon__arrow--right2.svg) 50% 50% no-repeat;
	text-indent: -99999px;
}

/* summernote */
/* .note-tooltip {
	position:absolute;
	z-index:1070;
	display:block;
	font-size:13px;
	transition:opacity .15s;
	-webkit-opacity:0;
	-khtml-opacity:0;
	-moz-opacity:0;
	opacity:0;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter:alpha(opacity=0)
}
.note-tooltip.in {
	-webkit-opacity:.9;
	-khtml-opacity:.9;
	-moz-opacity:.9;
	opacity:.9;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	filter:alpha(opacity=90)
}
.note-tooltip.top {
	margin-top:-3px;
	padding:5px 0
}
.note-tooltip.right {
	margin-left:3px;
	padding:0 5px
}
.note-tooltip.bottom {
	margin-top:3px;
	padding:5px 0
}
.note-tooltip.left {
	margin-left:-3px;
	padding:0 5px
}
.note-tooltip.bottom .note-tooltip-arrow {
	top:0;
	left:50%;
	margin-left:-5px;
	border-width:0 5px 5px;
	border-bottom-color:#000
}
.note-tooltip.top .note-tooltip-arrow {
	bottom:0;
	left:50%;
	margin-left:-5px;
	border-width:5px 5px 0;
	border-top-color:#000
}
.note-tooltip.right .note-tooltip-arrow {
	top:50%;
	left:0;
	margin-top:-5px;
	border-width:5px 5px 5px 0;
	border-right-color:#000
}
.note-tooltip.left .note-tooltip-arrow {
	top:50%;
	right:0;
	margin-top:-5px;
	border-width:5px 0 5px 5px;
	border-left-color:#000
}
.note-tooltip-arrow {
	position:absolute;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid
}
.note-tooltip-content {
	max-width:200px;
	font-family:sans-serif;
	padding:3px 8px;
	color:#fff;
	text-align:center;
	background-color:#000
} */



/* popup */
.l-popup,
.pop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(86, 86, 86, 0.8);
	z-index: 10;
}
.l-popup.active,
.l-popup.open,
.pop.active {
	display: block;
}
.l-popup__container,
.pop__box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 62.5rem;
	padding: 2.5rem;
	background-color: #f5f5f5;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 1.25rem;
	-moz-border-radius: 1.25rem;
	border-radius: 1.25rem;
	-webkit-box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.pop__article {
	width: 100%;
	padding: 2.5rem 2.5rem 1.25rem 2.5rem;
	background-color: #fff;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.pop__article + .pop__article {
	margin-top: 1.25rem;
}
.pop__article.pop__article--flex {
	display: flex;
	flex-wrap: wrap;
}
.pop__article-head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.pop__article-header {
	margin-bottom: 0.625rem;
	color: #000;
	font-size: 1.25rem;
	line-height: 1.688rem;
}
.pop__article-content.photo {
	width: 368px;
}
.pop__article-content.flex1 {
	flex: 1;
}
.pop__article-content.photo + .pop__article-content.flex1 {
	margin-left: 1.25rem;
}
.pop__article-photo {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	margin-top: 0.5rem;
}
.pop__article-photo video,
.pop__article-photo img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.pop__article-haedconsole {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0.313rem;
}
.pop__message {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.pop__message-text {
	flex: 1;
}
.pop__message-textbox > textarea {
	width: 100%;
	height: 11.25rem;
	padding: 1.25rem;
	background-color: #f2f2f6;
	border: 0 none;
	resize: none;
	color: #555;
	line-height: 1.5;
	-webkit-border-radius: 0.313rem;
	-moz-border-radius: 0.313rem;
	border-radius: 0.313rem;
}
.pop__message-text > .c-textarea textarea {
	height: 143px;
}
.pop__message-img {
	overflow: hidden;
	position: relative;
	width: 20rem;
	height: 11.25rem;
	margin-left: 1.25rem;
}
.pop__message-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pop__console {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 1.25rem 2.5rem;
	background-color: #ebebeb;
}
.pop__box.pop__box--small .pop__console {
	padding: 1.25rem 2.375rem;
}
.pop__console.pop__console--center {
	justify-content: center;
	background-color: transparent;
}
.pop__console.pop__console--nonbg {
	width: 100%;
	background-color: transparent;
}
.pop__console li + li {
	margin-left: 1.25rem;
}
.pop__console-left {
	margin-right: auto;
}
.pop__console-cost {
	display: flex;
	align-items: center;
}
.pop__console-cost + .pop__console-cost {
	margin-top: 0.625rem;
}
.pop__console-title {
	width: 7.5rem;
	color: #444;
	font-weight: 700;
}
.pop__console-input .c-text {
	width: 7.5rem;
}


.l-popup__head {
	margin-bottom: 0.625rem;
	padding: 1.25rem 1.25rem 0 1.25rem;
}
.l-popup__content {
	overflow-y: auto;
	position: relative;
	max-height: 42.5rem;
	padding: 0 1.25rem 1.25rem 1.25rem;
}
.l-popup__section {
	width: 100%;
	padding: 1.25rem;
	background-color: #fff;
	border: 0.063rem solid #bdbdbd;
}
.l-popup__section + .l-popup__section {
	margin-top: 0.625rem;
}
.l-pop__comment {
	position: relative;
	margin-top: 1.25rem;
	color: #aaa;
	font-size: 14px;
}
.l-pop__comment .c-button {
	position: absolute;
	right: 0;
	bottom: 0;
}
.l-popup__console {
	display: flex;
	justify-content: flex-end;
	width: calc(100% - 2.5rem);
	padding: 1.25rem 0;
	margin: 0 auto;
	border-top: 0.063rem solid #dbdbdb;
}
.l-popup__console button + button {
	margin-left: 0.625rem;
}

/* grid 컬러박스 */
.colorSquare {
	height: 20px;
	width: 20px;
	border-radius: 5px;
	display: inline-block;
}
.color_and_name {
	text-align: left;
	margin-left: 10px;
}
.aui-grid .aui-grid-table, .aui-grid .aui-grid-table tr, .aui-grid .aui-grid-table td {
    font-size: 14px;
}