@charset "utf-8";

/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/notosanskr/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


/* css reset */
*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}
::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}
:where(:root) {
	cursor: default;
	line-height: 1.5;
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	tab-size: 4;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
}
:where(body) {
	margin: 0;
	color: #333;
	font-family: 'Noto Sans KR';
}
:where(a) {
	text-decoration: none;
}
:where(h1) {
	font-size: 2rem;
}
:where(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}
:where(h2) {
	font-size: 1.75rem;
}
:where(h3) {
	font-size: 1.5rem;
}
:where(h4) {
	font-size: 1.25rem;
}
:where(dl, ol, ul) {
	list-style: none;
	padding: 0;
	margin: 0;
}
:where(hr) {
	color: inherit;
	height: 0;
}
:where(pre) {
	font-family: monospace, monospace;
	font-size: 1rem;
	overflow: auto;
}
:where(abbr[title]) {
	text-decoration: underline;
	text-decoration: underline dotted;
}
:where(b, strong) {
	font-weight: bolder;
}
:where(code, kbd, samp) {
	font-family: monospace, monospace;
	font-size: 1em;
}
:where(small) {
	font-size: 80%;
}
:where(audio, canvas, iframe, img, svg, video) {
	vertical-align: middle;
}
:where(iframe) {
	border-style: none;
}
:where(svg:not([fill])) {
	fill: currentColor;
}
:where(table) {
	border-collapse: collapse;
	border-color: inherit;
text-indent: 0;
}
:where(button, input, select, p) {
	margin: 0;
}
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
	-webkit-appearance: button;
}
:where(fieldset) {
	border: 1px solid #a0a0a0;
}
:where(progress) {
	vertical-align: baseline;
}
:where(textarea) {
	margin: 0;
	resize: vertical;
}
:where([type="search" i]) {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
:where(dialog) {
	background-color: white;
	border: solid;
	color: black;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -moz-fit-content;
	width: fit-content;
}
:where(dialog:not([open])) {
	display: none;
}
:where(details > summary:first-of-type) {
	display: list-item;
}
:where([aria-busy="true" i]) {
	cursor: progress;
}
:where([aria-controls]) {
	cursor: pointer;
}
:where([aria-disabled="true" i], [disabled]) {
	cursor: not-allowed;
}
:where([aria-hidden="false" i][hidden]) {
	display: initial;
}
:where([aria-hidden="false" i][hidden]:not(:focus)) {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}
:where(button, input, select, textarea) {
	background-color: transparent;
	border: 1px solid WindowFrame;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
	padding: 0.25em 0.375em;
}
:where(select) {
	appearance: none;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center / 1em;
	border-radius: 0;
	padding-right: 1em;
}
:where(select[multiple]) {
	background-image: none;
}
:where([type="color" i], [type="range" i]) {
	border-width: 0;
	padding: 0;
}
iframe,
img,
input,
select,
textarea {
	height: auto;
	max-width: 100%;
}


@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}
/* /reset end */

.wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	height: 100vh;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 4.375em;
	padding: 0 2.5rem;
	background-color: #fff;
	border-bottom: 0.063rem solid #d7d7d8;
	color: #fff;
}
.header .logo {
	display: block;
	width: 8.875rem;
	height: 2.25rem;
	margin-top: 1.063rem;
}
.header .logo img {
	width: 100%;
}
.header .info {
	display: flex;
}
.header__link,
.header__btn {
	display: flex;
	align-items: center;
	margin-left: 2.5rem;
	border: 0 none;
	cursor: pointer;
}
.header__link img,
.header__btn img {
	width: 1.875em;
}
.header__link span,
.header__btn span {
	margin-left: 0.75rem;
	color: #a2a2a2;
	font-weight: 700;
}
.header__link.active span,
.header__btn.active span {
	color: #2f73ea;
}

/* content */
.content {
	overflow: auto;
	flex: 1;
	position: relative;
	background-color: #f5f5f5;
}
.content.content--padding {
	padding: 1.25rem;
}
.content__heading {
	margin-bottom: 1.25rem;
}
.content__column {
	display: flex;
	flex-wrap: wrap;
}
.content__column .section {
	width: calc(50% - 0.625rem);
}
.content__column .section + .section {
	margin-top: 0;
	margin-left: 1.25rem;
}
.content__column.content__column--3-7 .section:nth-child(2n - 1) {
	width: 50rem;
}
.content__column.content__column--3-7 .section:nth-child(2n) {
	width: calc(100% - 51.25rem);
}

/* main */ 
.main {
	position: relative;
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}
.main h1 {
	color: #888;
	font-size: 48px;
	line-height: 1.6;
	text-align: center;
}
.main ul {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.main ul:before {
	content: " ";
	display: table;
}
.main ul:after {
	content: " ";
	display: table;
	clear: both;
}
.main ul li {
	overflow: hidden;
	float: left;
	width: 320px;
	height: 320px;
	padding: 10px;
}
.main ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #d9e5ff;
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
}
.main ul li a:hover {
	background-color: #0082f0;
}
.main ul li:first-child {
	border-top-left-radius: 180px;
}
.main ul li:nth-child(2) {
	border-top-right-radius: 180px;
}
.main ul li:nth-child(3) {
	border-bottom-left-radius: 180px;
}
.main ul li:nth-child(4) {
	border-bottom-right-radius: 180px;
}
.main ul li:last-child {
	position: absolute;
	top: 160px;
	left: 160px;
	padding: 0;
	border: 20px solid #f5f5f5;
	-webkit-border-radius: 160px;
	-moz-border-radius: 160px;
	border-radius: 160px;
}
.main ul li:last-child a {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}


/* section */
.section {
	position: relative;
	width: 100%;
	padding: 1.25rem;
	background-color: #fff;
	-webkit-border-radius: 0.625rem;
	-moz-border-radius: 0.625rem;
	border-radius: 0.625rem;
	-webkit-box-shadow: 0 .25rem 0.625rem rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 .25rem 0.625rem rgba(0, 0, 0, .4);
	box-shadow: 0 .25rem 0.625rem rgba(0, 0, 0, .4);
}
.section + .section {
	margin-top: 2.5rem;
}
.section__head {
	position: relative;
	padding-bottom: 0.625rem;
	margin-bottom: 0.625rem;
	border-bottom: 0.063rem solid #c8c8c8;
}
.article + .article {
	margin-top: 1.25rem;
	padding-top: 1.25rem;
	border-top: 0.063rem solid #d6d6d6;
}
.article__content {
	position: relative;
}
.article__console {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 0.625rem;
	padding-top: 1.25rem;
	border-top: 0.063rem solid #c8c8c8;
}
.article__console.article__console--right {
	justify-content: flex-end;
}
.article__console.article__console--non-border {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.article__console > li + li {
	margin-left: 0.625rem;
}

.form {
	position: relative;
}
.form__list:before,
.form__item:before {
	content: " ";
	display: table;
}
.form__list:after,
.form__item:after {
	content: " ";
	display: table;
	clear: both;
}
.form__item {
	float: left;
	display: flex;
	align-items: center;
	width: 50%;
	padding: 0.313rem 0;
}
.form__item.form__item--100,
.form__list.form__list--wide .form__item {
	width: 100%;
}
.form__title {
	width: 8.125rem;
}
.form__list.form__list--wide .form__title {
	width: 12.5rem;
}
.form__input {
	flex: 1;
	/*width: calc(100% - 8.125rem);*/
	padding-right: 1.25rem;
}

.search-form {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.search-form.search-form--right {
	justify-content: flex-end;
}
.search-form__list {
	display: flex;
	flex-wrap: wrap;
}
.search-form__item {
	flex: 1;
	padding: 0 0.313rem;
}
.search-form__title {
	height: 0.875rem;
	margin-bottom: 0.313rem;
	font-size: 0.875rem;
	line-height: 1;
}
.seach-form__console {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end
}
.search-form__btn + .search-form__btn {
	margin-left: 0.625rem;
}

/* contract 계약 */
.contract {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.contract__list-area {
	width: calc(50% - 0.625rem);
	height: 46.25rem;
}
.contract__list-area.contract__list-area {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.contract__list-area.contract__list-area--flex .contract__list {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.contract__list + .contract__list {
	margin-top: 1.25rem;
}
.contract__search {
	margin-bottom: 1.25rem;
}
.contract__regist {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: calc(50% - 0.625rem);
	height: 46.25rem;
	margin-left: 1.25rem;
}
.contract__head {
	background-color: #c4c4c4;
	padding: 0.125rem 0;
}
.contract__head h3 {
	color: #fff;
	text-align: center;
}
.contract__body {
	padding: 0.625rem;
	border: 0.063rem solid #c4c4c4;
}
.contract__regist .contract__body,
.contract__list-area.contract__list-area--flex .contract__list .contract__body {
	flex: 1;
}

.percent {
	display: flex;
	flex-wrap: wrap;
}
.percent > li {
	
}
.percent > li + li {
	margin-left: 1.254rem;
}
.percent__title {
	font-size: 0.875rem;
	margin-bottom: 0.313rem;
}
.percent__input > input[type="number"] {
	width: 6.25rem;
}


/* float layout */
.float {
	display: blcok;
	position: relative;
	width: 100%;
	padding: 1.25rem;
	background-color: #fff;
}
.float:before {
	content: " ";
	display: table;
}
.float:after {
	content: " ";
	display: table;
	clear: both;
}
.float__content {
	float: left;
	width: calc(50% - 0.625rem);
}
.float__content:nth-child(2n) {
	margin-left: 1.25rem;
}

/* type */
.type {
	position: relative;
	width: 100%;
	background-color: #fff;
}
.type + .type {
	margin-top: 1.25rem;
}
.type.type--padding {
	padding: 1.25rem;
}
.type__head {
	background-color: #c4c4c4;
	padding: 0.125rem 0;
}
.type__heading {
	color: #fff;
	text-align: center;
}
.type__content {
	position: relative;
	width: 100%;
	padding: 1.25rem;
	background-color: #fff;
	border: 0.063rem solid #c4c4c4;
}
.article__console + .type__grid,
.search-form + .type__grid {
	margin-top: 1.25rem;
}
.type__grid + .article__console {
	margin-top: 1.25rem;
}







/* popup */
.l-popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(86, 86, 86, 0.8);
}
.l-popup.active,
.l-popup.open {
	display: block;
}
.l-popup__container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 62.5rem;
	background-color: #f5f5f5;
	border: 0.063rem solid #bdbdbd;
	-webkit-border-radius: 1.25rem;
	-moz-border-radius: 1.25rem;
	border-radius: 1.25rem;
	-webkit-box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	box-shadow: 0 0.375rem 0.25rem rgba(0, 0, 0, 0.4);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.l-popup__head {
	margin-bottom: 0.625rem;
	padding: 1.25rem 1.25rem 0 1.25rem;
}
.l-popup__content {
	overflow-y: auto;
	position: relative;
	max-height: 42.5rem;
	padding: 0 1.25rem 1.25rem 1.25rem;
}
.l-popup__section {
	width: 100%;
	padding: 1.25rem;
	background-color: #fff;
	border: 0.063rem solid #bdbdbd;
}
.l-popup__section + .l-popup__section {
	margin-top: 0.625rem;
}
.l-pop__comment {
	position: relative;
	margin-top: 1.25rem;
	color: #aaa;
	font-size: 14px;
}
.l-pop__comment .c-button {
	position: absolute;
	right: 0;
	bottom: 0;
}
.l-popup__console {
	display: flex;
	justify-content: flex-end;
	width: calc(100% - 2.5rem);
	padding: 1.25rem 0;
	margin: 0 auto;
	border-top: 0.063rem solid #dbdbdb;
}
.l-popup__console button + button {
	margin-left: 0.625rem;
}





