<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaultmanager}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/toppos/index/managerIndex.js"></script>

	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>

	<script>
		function pieGraph(data) {
			am5.ready(function () {

				var root = am5.Root.new("franchiseOpen");

				root.setThemes([
					am5themes_Animated.new(root)
				]);

				var chart = root.container.children.push(am5percent.PieChart.new(root, {
					layout: root.verticalLayout
				}));

				var series = chart.series.push(am5percent.PieSeries.new(root, {
					valueField: "value",
					categoryField: "category"
				}));

				series.data.setAll(data);

				var legend = chart.children.push(am5.Legend.new(root, {
					centerX: am5.percent(50),
					x: am5.percent(50),
					marginTop: 15,
					marginBottom: 15
				}));

				legend.data.setAll(series.dataItems);
				series.appear(1000, 100);

			}); // end am5.ready()
		}

		function barGraph(data, num) {
			am5.ready(function () {

				let root;
				if(num === "0"){
					root = am5.Root.new("franchiseWeekReceipt");
				}else{
					root = am5.Root.new("franchiseWeekAmount");
				}

				root.setThemes([
					am5themes_Animated.new(root)
				]);

				var chart = root.container.children.push(am5xy.XYChart.new(root, {
					panX: true,
					panY: true,
					wheelX: "panX",
					wheelY: "zoomX"
				}));

				var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
				cursor.lineY.set("visible", false);

				var xRenderer = am5xy.AxisRendererX.new(root, { minGridDistance: 30 });
				xRenderer.labels.template.setAll({
					rotation: -90,
					centerY: am5.p50,
					centerX: am5.p100,
					paddingRight: 15
				});

				var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
					maxDeviation: 0.3,
					categoryField: "name",
					renderer: xRenderer,
					tooltip: am5.Tooltip.new(root, {})
				}));

				var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
					maxDeviation: 0.3,
					renderer: am5xy.AxisRendererY.new(root, {})
				}));

				var series = chart.series.push(am5xy.ColumnSeries.new(root, {
					name: "Series 1",
					xAxis: xAxis,
					yAxis: yAxis,
					valueYField: "value",
					sequencedInterpolation: true,
					categoryXField: "name",
					tooltip: am5.Tooltip.new(root, {
						labelText:"{valueY}"
					})
				}));

				series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5 });
				series.columns.template.adapters.add("fill", function(fill, target) {
					return chart.get("colors").getIndex(series.columns.indexOf(target));
				});

				series.columns.template.adapters.add("stroke", function(stroke, target) {
					return chart.get("colors").getIndex(series.columns.indexOf(target));
				});

				xAxis.data.setAll(data);
				series.data.setAll(data);

				series.appear(1000);
				chart.appear(1000, 100);

			});
		}

	</script>

</th:block>

<div layout:fragment="content" class="content content--main">
	<div class="main">
		<div class="main__board">
			<div class="main__board-header">
				<h3><a href="#">공지사항</a></h3>
			</div>
			<ul id="noticeList" class="main__board-contents">
				<li>
					<a href="#">
						<div class="main__board-title">
							<span></span>
						</div>
						<div class="main__board-date">
							<span></span>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="main__board-title">
							<span></span>
						</div>
						<div class="main__board-date">
							<span></span>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="main__board-title">
							<span></span>
						</div>
						<div class="main__board-date">
							<span></span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		
		<div class="main__board">
			<div class="main__board-header">
				<h3><a href="#">확인품</a></h3>
			</div>
			<ul class="main__board-contents">
				<li>
					<a href="#">
						<div class="main__board-title">
							<span>청바지 오염 요청의 건.</span>
						</div>
						<div class="main__board-date">
							<span>2021-07-21</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="main__board-title">
							<span>오리털 코트 구멍 확인 바랍니다.</span>
						</div>
						<div class="main__board-date">
							<span>2021-07-21</span>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="main__board-title">
							<span>-</span>
						</div>
						<div class="main__board-date">
							<span>2021-07-21</span>
						</div>
					</a>
				</li>
			</ul>
		</div>

		<div class="main__board">
			<div class="main__board-header">
				<h3><a href="#">1주일간의 가맹점 접수금액</a></h3>
			</div>
			<div class="main__board-contents">
				<div id="franchiseWeekReceipt" style="width: 100%; height: 280px"></div>
			</div>
		</div>

		<div class="main__board">
			<div class="main__board-header">
				<h3><a href="#">가맹점 오픈 현황</a></h3>
			</div>
			<div class="main__board-contents">
				<div id="franchiseOpen" style="width: 100%; height: 280px"></div>
			</div>
		</div>

		<div class="main__board">
			<div class="main__board-header">
				<h3><a href="#">1주일간의 지사 출고 금액</a></h3>
			</div>
			<div class="main__board-contents">
				<div id="franchiseWeekAmount" style="width: 100%; height: 280px"></div>
			</div>
		</div>
	</div>
</div>
</html>
