<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaultmanager}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

	<script type="text/javascript">

		$(function() {

		});

	</script>
</th:block>

<div layout:fragment="content" class="content padding-zero content--main">
	<div class="main">
		<h1>지사 메인페이지입니다.</h1>
		<a href="/manager/businessday" class="main__link">영업일관리</a>
	</div>
	
</div>
</html>
