<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaulttest}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/toppos/index/userIndex.js"></script>
	<script>
		$(document).ready(function() {
			
		})
	</script>
</th:block>

<div layout:fragment="content" class="content">
	<div class="main">
		<div class="main__header">
			
			<div class="marquee">
				<div class="marquee__fade-left"></div>
				<div class="marquee__fade-right"></div>
				<!-- 슬라이딩 텍스트 div -->
				<span class="marquee__text" id="slidingText">슬라이딩 텍스트 영역</span>
			</div>

			<div class="main__store">
				<div class="main__storename">
					<span id="brName" class="main__branch"></span>
					<span id="frName" class="main__name"></span>
				</div>
				<ul class="main__storeinfo">
					<li>
						<div class="storeinfo">
							<div class="storeinfo__title">대표이사</div>
							<div id="userName" class="storeinfo__value"><span></span></div>
						</div>
					</li>
					<li>
						<div class="storeinfo">
							<div class="storeinfo__title">매장번호</div>
							<div id="userTel" class="storeinfo__value"><span></span></div>
						</div>
					</li>
				</ul>
			</div>
			<ul class="main__current">
				<li>
					<span class="main__currentnum">100</span>
					<span class="main__currenttitle">무인수거함</span>
				</li>
				<li>
					<span class="main__currentnum">100</span>
					<span class="main__currenttitle">수거</span>
				</li>
				<li>
					<span class="main__currentnum">100</span>
					<span class="main__currenttitle">배달</span>
				</li>
			</ul>
		</div>
		
		<div class="main__contents">
			<ul class="main__quickmenu">
				<li><a href="/user/receiptreg" class="main__quickbtn active">세탁접수</a></li>
				<li><a href="/user/customerlist" class="main__quickbtn">고객관리</a></li>
				<li><a href="/user/customerreg" class="main__quickbtn">고객등록</a></li>
				<li><a href="/user/integrate" class="main__quickbtn">통합조회</a></li>
				<li><a href="/user/unpaid" class="main__quickbtn">미수조회</a></li>
				<li><a href="/user/delivery" class="main__quickbtn">세탁인도</a></li>
				<!-- <li><a href="#" class="main__quickbtn">무인보관함</a></li> -->
				<li><a href="/user/closed" class="main__quickbtn closing">수기마감</a></li>
			</ul>
			<div class="main__column-area">
				<div class="main__board-area">
					<div class="main__board">
						<div class="main__board-header">
							<h3><a href="#">History</a></h3>
							<div><input type="text" class="c-date" id="historyDate" /></div>
						</div>
						<ul id="historyList" class="main__board-contents">
							<li>
								<a href="#">
									<div class="main__board-badge">
										<span></span>
									</div>
									<div class="main__board-time">
										<span></span>
									</div>
									<div class="main__board-title name">
										<span></span>
									</div>
									<div class="main__board-phone">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-badge">
										<span></span>
									</div>
									<div class="main__board-time">
										<span></span>
									</div>
									<div class="main__board-title name">
										<span></span>
									</div>
									<div class="main__board-phone">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-badge">
										<span></span>
									</div>
									<div class="main__board-time">
										<span></span>
									</div>
									<div class="main__board-title name">
										<span></span>
									</div>
									<div class="main__board-phone">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-badge">
										<span></span>
									</div>
									<div class="main__board-time">
										<span></span>
									</div>
									<div class="main__board-title name">
										<span></span>
									</div>
									<div class="main__board-phone">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-badge">
										<span></span>
									</div>
									<div class="main__board-time">
										<span></span>
									</div>
									<div class="main__board-title name">
										<span></span>
									</div>
									<div class="main__board-phone">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-badge">
										<span></span>
									</div>
									<div class="main__board-time">
										<span></span>
									</div>
									<div class="main__board-title name">
										<span></span>
									</div>
									<div class="main__board-phone">
										<span></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					
					<div class="main__board">
						<div class="main__board-header">
							<h3><a href="./user/taglostlist">택 분실 게시판</a></h3>
						</div>
						<ul id="taglostList" class="main__board-contents">
							<li>
								<a href="#">
									<div class="main__board-title">
										<span></span> <span class="numOfComment"></span>
									</div>
									<div class="main__board-date">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-title">
										<span></span> <span class="numOfComment"></span>
									</div>
									<div class="main__board-date">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-title">
										<span></span> <span class="numOfComment"></span>
									</div>
									<div class="main__board-date">
										<span></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="main__board-area">
					<div class="main__board">
						<div class="main__board-header">
							<h3><a href="./user/noticelist">공지사항</a></h3>
						</div>
						<ul id="noticeList" class="main__board-contents">
							<li>
								<a href="#">
									<div class="main__board-title">
										<span></span>
									</div>
									<div class="main__board-date">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-title">
										<span></span>
									</div>
									<div class="main__board-date">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-title">
										<span></span>
									</div>
									<div class="main__board-date">
										<span></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					
					<div class="main__board">
						<div class="main__board-header">
							<h3><a href="#">확인품 요청</a></h3>
						</div>
						<ul id="inspectList" class="main__board-contents">
							<li>
								<a href="#">
									<div class="main__board-bcname">
										<span></span>
									</div>
									<div class="main__board-bgname">
										<span></span>
									</div>
									<div class="main__board-afttag">
										<span></span>
									</div>
									<div class="main__board-confirm">
										<span></span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-bcname">
										<span></span>
									</div>
									<div class="main__board-bgname">
										<span></span>
									</div>
									<div class="main__board-afttag">
										<span></span>
									</div>
									<div class="main__board-confirm">
										<span></span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					
					<div class="main__board">
						<div class="main__board-header">
							<h3><a href="#">교육 콘텐츠</a></h3>
						</div>
						<ul class="main__board-contents">
							<li>
								<a href="#">
									<div class="main__board-title">
										<span>2022년 상반기 교육 안내입니다.</span>
									</div>
									<div class="main__board-date">
										<span>2021-07-21</span>
									</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="main__board-title">
										<span>-</span>
									</div>
									<div class="main__board-date">
										<span>2021-07-21</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
</div>
</html>
