<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/defaultmobile}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="/assets/js/toppos/mobile/unAuth/inspectresponse.js"></script>
</th:block>

<div layout:fragment="content" class="content">
    <div class="inspect">
        <h2 class="inspect__logo">
            <img src="/assets/images/circle-logo.png" alt="TOPPOS" />
            <span>[검수 내역]</span>
        </h2>

        <p id="introduce" class="inspect__text">검수과정 중 <span id="fiComment">오염, 탈색, 찍힘</span>이 발견되었습니다. 확인 요청 드리며 아래의 진행여부를 체크 부탁드립니다.</p>

        <ul id="photoList" class="inspect__img-list">
        </ul>
        <p class="inspect__comment">사진을 터치하면 크게 보실 수 있습니다.</p>
    </div>

    <ul class="inspect__btn-list">
        <li><button class="c-button c-button--solid" id="btnCustomerConfirm" type="button">세탁진행</button></li>
        <li><button class="c-button c-button--red" id="btnCustomerDeny" type="button">반품요청</button></li>
        <li><button class="c-button" id="btnCallFranchise" type="button">가맹점 전화하기<br>(02-457-5576)</button></li>
    </ul>





</div>
</html>