<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/defaultmobile}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/toppos/mobile/unAuth/receipt.js"></script>
</th:block>

<div layout:fragment="content" class="content content--column" style="padding: 20px 0;">
    <div id="receiptList" class="receipt">
        <h2 class="receipt__logo"><img src="/assets/images/circle-logo.png" alt="TOPPOS"><span>[고객용 영수증]</span></h2>
        <!-- 가맹점 정보 -->
        <dl class="receipt__frinfo">
            <dt>구분</dt>
            <dd>접수증 <span id="requestDt"></span></dd>
            <dt>대리점명</dt>
            <dd><span id="franchiseName"></span></dd>
            <dt>영업시간</dt>
            <dd>평일 : 09:30 ~ 20:00 까지<br>공휴일(토요일) : 10:30~18:00 까지</dd>
            <dt>사업자번호</dt>
            <dd><span id="businessNO"></span></dd>
            <dt>대표자</dt>
            <dd><span id="repreName"></span></dd>
            <dt>전화</dt>
            <dd><span id="franchiseTel"></span></dd>
        </dl>

        <!-- 접수물품 정보 -->
        <div class="receipt__tag">
            <table>
                <colgroup>
                    <col style="width: 54px;">
                    <col>
                    <col style="width: 50px;">
                    <col style="width: 78px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>택번호</th>
                        <th>상품</th>
                        <th>색상</th>
                        <th>금액</th>
                    </tr>
                </thead>
                <tbody id="itemList">
                </tbody>
            </table>
        </div>

        <!-- 소계 -->
        <div class="receipt__sub">
            <h3>소계</h3>
            <dl>
                <dt>기본금액</dt>
                <dd><span id="normalAmount"></span></dd>
                <dt>추가금액</dt>
                <dd><span id="changeAmount"></span></dd>
                <dt>합계금액</dt>
                <dd><span id="totalAmount"></span></dd>
                <dt>완료예정일</dt>
                <dd><span id="estimateDt">2022-04-04</span></dd>
            </dl>
            <p>(완료예정일이 공휴일인 경우 다음날 가져가실 수 있습니다.)</p>
        </div>

        <!-- 미수금정보 -->
        <div class="receipt__sub">
            <h3>&lt;미수금정보&gt;</h3>
            <dl>
                <dt>미수금전체</dt>
                <dd><span id="totalUncollectAmount"></span></dd>
                <dt>미수금상환</dt>
                <dd><span id="uncollectPayment">0</span></dd>
            </dl>
        </div>

        <!--    결제정보    -->
        <div class="receipt__sub">
            <h3>&lt;결제정보&gt;</h3>
            <dl>
                <dt>총접수항목</dt>
                <dd><span id="qty"></span></dd>
                <dt>총접수금액</dt>
                <dd><span id="paymentAmount"></span></dd>
            </dl>
        </div>

        <!-- 현금 & 적립금 & 카드 -->
    </div>

</div>
</html>