<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}" xmlns="http://www.w3.org/1999/html">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/toppos/account.js"></script>
</th:block>

<div layout:fragment="content" class="content padding-zero content--main">
	<h1>사용자등록 페이지</h1>
	<!--우측-->
	<div>
		<div style="font-size: 20px;margin: 10px;">
			사용자 정보
		</div>
		<div>
			<form id="accountFormData" autocomplete="off" enctype="multipart/form-data">
				<div>
					아이디
					<input type="text" name="userid" id="userid" />
					<input type="hidden" id="useridChecked" value="0" />
					<button type="button" id="useridCheckedBtn" onclick="useridOverlap()">중복확인</button>
					이름
					<input type="text" name="username" id="username" />
				</div>
				<div>
					암호<input type="password" id="password" name="password" />
					권한
					<select id="role" name="role">
						<option value="">선택</option>
						<option th:each ="role : ${roles}"
								th:value="${role.getCode()}"
								th:text="${role.getDesc()}">
						</option>
					</select>
				</div>
				<div>
					전화번호<input type="text" id="usertel" name="usertel" />
					이메일<input type="text" id="useremail" name="useremail" />
				</div>
				<div>
					가맹점코드 3자리<input type="text" id="frCode" maxlength="3" name="frCode" readonly/><button id="frCodeBtn" type="button" onclick="frListPop()">가맹점선택</button>
					지사코드 2자리<input type="text" id="brCode" maxlength="2" name="brCode" readonly/><button id="brCodeBtn" type="button" onclick="brListPop()">지사선택</button>
				</div>
				<div>
					특이사항
					<textarea  id="userremark" name="userremark"></textarea>
				</div>
			</form>
			<button type="button" onclick="createNewPost(0)">신규</button>
			<button onclick="accountSave()">저장</button>
			<button>삭제</button>
		</div>
	</div>


	<div>
		<div style="font-size: 20px;margin: 10px;">사용자 리스트 조회</div>
		<div>
			<div>
				아이디
				<input type="text" name="s_userid" id="s_userid" />
				이름
				<input type="text" name="s_username" id="s_username" />
				권한
				<select id="s_role" name="s_role">
					<option value="">모두</option>
					<option th:each ="role : ${roles}"
							th:value="${role.getCode()}"
							th:text="${role.getDesc()}">
					</option>
				</select>
				가맹점코드
				<input type="text" name="s_frCode" id="s_frCode" maxlength="3" />
				지사코드
				<input type="text" name="s_brCode" id="s_brCode" maxlength="2" />
				<button type="button" onclick="accountList()">검색</button>
			</div>
			<div id="grid_accountList"></div>
		</div>
	</div>






	<!-- 지사 팝업 -->
	<div class="l-popup" id="branch_popup">
		<div class="l-popup__container">
			<div class="l-popup__head">
				<h3 class="l-popup__heading">지사 리스트 조회</h3>
			</div>
			<div class="l-popup__content">
				<div class="l-popup__section">
					<table class="c-table c-table--non-border">
						<colgroup>
							<col style="width: 80px;"/>
							<col/>
							<col style="width: 80px;"/>
							<col/>
							<col style="width: 80px;"/>
							<col/>
							<col style="width: 60px;"/>
						</colgroup>
						<tbody>
						<tr>
							<th>지사명</th>
							<td>
								<div class="c-text">
									<input type="text" id="pop_s_brName" class="c-text__input"/>
								</div>
							</td>
							<th>지사코드</th>
							<td>
								<div class="c-text">
									<input type="text" id="pop_s_brCode" maxlength="2" class="c-text__input"/>
								</div>
							</td>
							<th>계약상태</th>
							<td>
								<select id="pop_s_brContractState" name="pop_s_brContractState">
									<option value="">모두</option>
									<option value="01">진행중</option>
									<option value="02">계약완료</option>
								</select>
							</td>
							<td>
								<button class="c-button c-button--point" type="button" onclick="brPopList(1)">조회</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="l-popup__section">
					<div id="grid_branchList"></div>
				</div>
			</div>
			<a href="#" onclick="branchClose()" class="l-popup__close">팝업닫기</a>
		</div>
	</div>

	<!-- 가맹점 팝업 -->
	<div class="l-popup" id="franchise_popup">
		<div class="l-popup__container">
			<div class="l-popup__head">
				<h3 class="l-popup__heading">가맹점 리스트 조회</h3>
			</div>
			<div class="l-popup__content" style="width: 100%;">

				<div class="l-popup__section">
					<table class="c-table c-table--non-border">
						<colgroup>
							<col style="width: 80px;"/>
							<col/>
							<col style="width: 80px;"/>
							<col/>
							<col style="width: 80px;"/>
							<col/>
							<col style="width: 80px;"/>
						</colgroup>
						<tbody>
						<tr>
							<th>가맹점명</th>
							<td>
								<input type="text" id="pop_s_frName" class="c-text__input" />
							</td>
							<th>가맹점코드</th>
							<td>
								<input type="text" id="pop_s_frCode" maxlength="3" class="c-text__input" />
							</td>
							<th>게약상태</th>
							<td>
								<select id="pop_s_frCㅁontractState" name="pop_s_frContractState">
									<option value="">모두</option>
									<option value="01">진행중</option>
									<option value="02">계약완료</option>
								</select>
							</td>
							<td>
								<button type="button" onclick="frPopList(2)" class="c-button c-button--point">조회</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="l-popup__section">
					<div id="grid_franchList"></div>
				</div>

			</div>
			<a href="#" onclick="franchiseClose()" class="l-popup__close">팝업닫기</a>
		</div>
	</div>

</div>
</html>
