<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}" xmlns="http://www.w3.org/1999/html">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

	<script src="/assets/js/toppos/contract.js"></script>
</th:block>

<div layout:fragment="content" class="content padding-zero content--main">
	<h1>계약관리 페이지</h1>

	<!-- 지사계약관리-->
	<!--좌측-->
	<div>
		<div>
			계약 지사 리스트
		</div>
		<div id="grid_contract_0">
		</div>
	</div>

	<!--우측-->
	<div>
		<div>
			지사 계약 정보
		</div>
		<div>
			<form id="brFormData" enctype="multipart/form-data">
				<div>
					지사코드
					<input type="text" name="brCode" id="brCode" maxlength="2" />
					<input type="hidden" id="brCodeChecked" value="0">
					<button type="button" id="brCodeChkBtn" onclick="codeOverlap(1)">중복확인</button>
					지사명
					<input type="text" name="brName" id="brName" />
				</div>
				<div>
					계약일자
					<input type="text" id="brContractDt" name="brContractDt" maxlength="10" placeholder="연 - 월 - 일">
					계약기간
					<input type="text" id="brContractFromDt" name="brContractFromDt" maxlength="10" placeholder="연 - 월 - 일">
					~
					<input type="text" id="brContractToDt" name="brContractToDt" maxlength="10" placeholder="연 - 월 - 일">
				</div>
				<div>
					계약상태
					<select id="brContractState" name="brContractState">
						<option value="01">진행중</option>
						<option value="02">계약완료</option>
					</select>
					정산비율
					본사 : <input type="text" id="brCarculateRateHq" name="brCarculateRateHq" />%
					지사 : <input type="text" id="brCarculateRateBr" name="brCarculateRateBr" />%
					가맹 : <input type="text" id="brCarculateRateFr" name="brCarculateRateFr" />%
					특이사항
					<textarea  id="brRemark" name="brRemark"></textarea>
					<button type="button" onclick="createNewPost(0)">신규</button>
					<button type="button" onclick="branchSave()">저장</button>
					<button type="button" >삭제</button>
					<button type="button" onclick="fromToValidation(0)">테스트용</button>
				</div>
			</form>
		</div>
	</div>


	<!--가맹점계약관리-->
	<!--좌측-->
	<div>
		<div>
			가맹점 리스트
		</div>
		<div>
			가맹점명
			<input type="text">
			<button>검색</button>
		</div>
		<div id="grid_contract_1">
		</div>
	</div>

	<!--우측-->
	<div>
		<div>
			가맹점 계약 정보
		</div>
		<div>
			<form id="frFormData" enctype="multipart/form-data">
				<div>
					가맹점코드
					<input type="text" id="frCode" name="frCode" maxlength="3" />
					<input type="hidden" id="frCodeChecked" value="0">
					<button type="button" id="frCodeChkBtn" onclick="codeOverlap(2)">중복확인</button>
					가맹점명
					<input type="text" id="frName" name="frName" />
				</div>
				<div>
					계약일자
					<input id="frContractDt" name="frContractDt" type="text" maxlength="10" placeholder="연 - 월 - 일">
					계약기간
					<input id="frContractFromDt" name="frContractFromDt" type="text" maxlength="10" placeholder="연 - 월 - 일">
					~
					<input id="frContractToDt" name="frContractToDt" type="text" maxlength="10" placeholder="연 - 월 - 일">
				</div>
				<div>
					계약상태
					<select id="frContractState" name="frContractState">
						<option value="01">진행중</option>
						<option value="02">계약완료</option>
					</select>
					특이사항
					<textarea id="frRemark" name="frRemark"></textarea>
					<button type="button" onclick="createNewPost(1)">신규</button>
					<button type="button" onclick="franchiseSave()">저장</button>
					<button type="button">삭제</button>
				</div>
			</form>
		</div>
	</div>


	<!--가맹점 지사 배정관리-->
	<!--좌측-->
	<div>
		<div>
			배정상태
			<select>
				<option value="배정완료"></option>
			</select>
			가맹점명
			<input type="text">
			<button>검색</button>
		</div>
		<div>
			계약 지사 리스트
		</div>
		<div id="grid_contract_2">
		</div>
		<div>
			계약 가맹점 리스트
		</div>
		<div id="grid_contract_3">
		</div>
	</div>

	<!--우측-->
	<div>
		<div>
			지사 계약 정보
		</div>
		<div>
			<div>
				가맹점코드
				<input type="text" readonly>
				가맹점명
				<input type="text">
			</div>
			<div>
				계약일자
				<input type="text">
				계약기간
				<input type="text">
				~
				<input type="text">
			</div>
			<div>
				계약상태
				<select>
					<option>계약완료/계약진행중</option>
				</select>
				지사
				<input type="text" readonly>
				<input type="text">
				<button>지사변경</button>
				배정상태
				<select>
					<option>배정완료/미배정</option>
				</select>
				정산비율
				본사 : <input type="text">%
				지사 : <input type="text">%
				가맹 : <input type="text">%
				<button>저장</button>
			</div>
		</div>
	</div>

</div>
</html>
