<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/default}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

	<script type="text/javascript">

		let gridID = [];
		let targetDiv = [];
		let gridData = [];
		let columnLayout = [];

		let gridOption = {
			editable : false,
			selectionMode : "multipleCells",
			noDataMessage : "출력할 데이터가 없습니다."
		};

		targetDiv = [
			"grid_contract_one", "grid_contract_two", "grid_contract_three", "grid_contract_four"
		]

		columnLayout[0] = [
			{
				dataField: "",
				headerText: "순번",
			}, {
				dataField: "brName",
				headerText: "지사명",
			}, {
				dataField: "brContractFromDt",
				headerText: "계약시작일",
			}, {
				dataField: "brContractToDt",
				headerText: "계약종료일",
			},
		];

		columnLayout[1] = [
			{
				dataField: "",
				headerText: "순번",
			}, {
				dataField: "frName",
				headerText: "가맹점명",
			}, {
				dataField: "frContractFromDt",
				headerText: "계약시작일",
			}, {
				dataField: "frContractToDt",
				headerText: "계약종료일",
			}, {
				dataField: "",
				headerText: "배정지사명",
			},
		];

		columnLayout[2] = [
			{
				dataField: "",
				headerText: "순번",
			}, {
				dataField: "brName",
				headerText: "지사명",
			}, {
				dataField: "brContractFromDt",
				headerText: "계약시작일",
			}, {
				dataField: "brContractToDt",
				headerText: "계약종료일",
			},
		];

		columnLayout[3] = [
			{
				dataField: "",
				headerText: "순번",
			}, {
				dataField: "frName",
				headerText: "가맹점명",
			}, {
				dataField: "frContractFromDt",
				headerText: "계약시작일",
			}, {
				dataField: "frContractToDt",
				headerText: "계약종료일",
			}, {
				dataField: "",
				headerText: "배정지사명",
			},
		];

		$(function (){
			createGrid(columnLayout, gridOption);
		});


		function createGrid(columnLayout, gridOption) {
			for (const i in columnLayout) {
				gridID[i] = AUIGrid.create(targetDiv[i], columnLayout[i], gridOption);
			}

			/* <=========================> */
			/* 각 그리드의 url */
			const gridUrl = [
					"url1", "url2", "url3", "url4"
			]

			for (let i=0; i<2; i++) {
				setData(gridUrl[i], i);
			}
		}

		function setData(url, numOfGrid) {
			$(document).ajaxSend(function(e, xhr)
				{ xhr.setRequestHeader("Authorization",localStorage.getItem('Authorization')); });
			$.ajax({
				url: url,
				type: 'GET',
				cache: false,
				error: function (req) {
					ajaxErrorMsg(req);
				},
				success: function (req) {
					gridData[numOfGrid] = req.sendData.gridListData;
					AUIGrid.setGridData(gridID[numOfGrid], gridData[numOfGrid]);
				}
			});
		}

	</script>
</th:block>

<div layout:fragment="content" class="content padding-zero content--main">
	<h1>계약관리 페이지</h1>

	<!-- 지사계약관리-->
	<!--좌측-->
	<div>
		<div>
			계약 지사 리스트
		</div>
		<div id="grid_contract_one">
		</div>
	</div>

	<!--우측-->
	<div>
		<div>
			지사 계약 정보
		</div>
		<div>
			<div>
				지사코드
				<input type="text" readonly>
				<input type="button" value="중복확인">
				지사명
				<input type="text">
			</div>
			<div>
				계약일자
				<input type="text">
				계약기간
				<input type="text">
				~
				<input type="text">
			</div>
			<div>
				계약상태
				<select>
					<option>계약완료/진행중</option>
				</select>
				정산비율
				본사 : <input type="text">%
				지사 : <input type="text">%
				가맹 : <input type="text">%
				특이사항
				<textarea></textarea>
				<input type="button" value="신규">
				<input type="button" value="저장">
				<input type="button" value="삭제">
			</div>
		</div>
	</div>


	<!--가맹점계약관리-->
	<!--좌측-->
	<div>
		<div>
			가맹점 리스트
		</div>
		<div>
			가맹점명
			<input type="text">
			<input type="button" value="검색">
		</div>
		<div id="grid_contract_two">
		</div>
	</div>

	<!--우측-->
	<div>
		<div>
			가맹점 계약 정보
		</div>
		<div>
			<div>
				가맹점코드
				<input type="text" readonly>
				<input type="button" value="중복확인">
				가맹점명
				<input type="text">
			</div>
			<div>
				계약일자
				<input type="text">
				계약기간
				<input type="text">
				~
				<input type="text">
			</div>
			<div>
				계약상태
				<select>
					<option>계약완료/계약진행중</option>
				</select>
				특이사항
				<textarea></textarea>
				<input type="button" value="신규">
				<input type="button" value="저장">
				<input type="button" value="삭제">
			</div>
		</div>
	</div>


	<!--가맹점 지사 배정관리-->
	<!--좌측-->
	<div>
		<div>
			배정상태
			<select>
				<option value="배정완료"></option>
			</select>
			가맹점명
			<input type="text">
			<input type="button" value="검색">
		</div>
		<div>
			계약 지사 리스트
		</div>
		<div id="grid_contract_three">
		</div>
		<div>
			계약 가맹점 리스트
		</div>
		<div id="grid_contract_four">
		</div>
	</div>

	<!--우측-->
	<div>
		<div>
			지사 계약 정보
		</div>
		<div>
			<div>
				가맹점코드
				<input type="text" readonly>
				가맹점명
				<input type="text">
			</div>
			<div>
				계약일자
				<input type="text">
				계약기간
				<input type="text">
				~
				<input type="text">
			</div>
			<div>
				계약상태
				<select>
					<option>계약완료/계약진행중</option>
				</select>
				지사
				<input type="text" readonly>
				<input type="text">
				<input type="button" value="지사변경">
				배정상태
				<select>
					<option>배정완료/미배정</option>
				</select>
				정산비율
				본사 : <input type="text">%
				지사 : <input type="text">%
				가맹 : <input type="text">%
				<input type="button" value="저장">
			</div>
		</div>
	</div>

</div>
</html>
