<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaulthead}" xmlns="http://www.w3.org/1999/html">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		/* 경고창이 팝업창에 가려지는걸 방지 */
		#popupId {
			z-index: 1001;
		}
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/toppos/head/pricemanagement.js"></script>
</th:block>

<div layout:fragment="content" class="content content--padding">
    <section class="section">
        <article class="article">
            <div class="article__head">
                <h3 class="article__heading">가격기본정보</h3>
            </div>
            <div class="article__body">
                <form  id="priceManagementForm" enctype="multipart/form-data">
                    <table class="c-table">
                        <colgroup>
                            <col style="width: 200px;">
                            <col>
                            <col style="width: 100px;">
                            <col style="width: 200px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>가격비율</th>
                                <td colspan="4">
                                    <ul class="percent">
                                        <li>
                                            <div class="percent__title">고급 : </div>
                                            <div class="percent__input">
                                                <input type="number" id="bcHighRt" name="bcHighRt" />
                                                <span>%</span>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="percent__title">명품 : </div>
                                            <div class="percent__input">
                                                <input type="number" id="bcPremiumRt" name="bcPremiumRt" />
                                                <span>%</span>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="percent__title">아동 : </div>
                                            <div class="percent__input">
                                                <input type="number" id="bcChildRt" name="bcChildRt" />
                                                <span>%</span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>급세탁 가격</th>
                                <td colspan="4">
                                    <ul class="percent">
                                        <li>
                                            <div class="percent__title">당일세탁 : </div>
                                            <div class="percent__input">
                                                <input type="number" id="bcUrgentRate1" name="bcUrgentRate1" />
                                                <span>%</span>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="percent__title">특급세탁(1박2일) : </div>
                                            <div class="percent__input">
                                                <input type="number" id="bcUrgentRate2" name="bcUrgentRate2" />
                                                <span>%</span>
                                            </div>

                                        </li>
                                        <li>
                                            <div class="percent__title">급세탁(2박3일) : </div>
                                            <div class="percent__input">
                                                <input type="text" id="bcUrgentAmt1" name="bcUrgentAmt1" />
                                                <span>원</span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>VIP 고객 할인율</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="number" class="discountRate" id="bcVipDcRt" name="bcVipDcRt" min="0" max="100" />
                                        <span>%</span>
                                    </div>
                                </td>
                                <th rowspan="5">오염</th>
                                <th>오염 1cm 이하</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcPollution1" name="bcPollution1" />
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>VVIP 고객 할인율</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="number" class="discountRate" id="bcVvipDcRt" name="bcVvipDcRt" min="0" max="100" />
                                        <span>%</span>
                                    </div>
                                </td>
                                <th>오염 1cm ~ 3cm 이하</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcPollution2" name="bcPollution2" />
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>다림질 추가요금</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcPressed" name="bcPressed" />
                                        <span>원</span>
                                    </div>
                                </td>
                                <th>오염 3cm ~ 7cm 이하</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcPollution3" name="bcPollution3" />
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>표백 추가요금</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcWhitening" name="bcWhitening" />
                                        <span>원</span>
                                    </div>
                                </td>
                                <th>오염 7cm ~ 10cm 이하</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcPollution4" name="bcPollution4" />
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>발수가공 추가요금</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcWaterRepellent" name="bcWaterRepellent" />
                                        <span>원</span>
                                    </div>
                                </td>
                                <th>오염 10cm 초과</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcPollution5" name="bcPollution5" />
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>풀먹임 추가요금</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcStarch" name="bcStarch" />
                                        <span>원</span>
                                    </div>
                                </td>
                                <th colspan="2">메시지 건당 전송 정산 요금</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcSmsUnitPrice" name="bcSmsUnitPrice" />
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>전산사용료(지사)</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcProgramFeeBr" name="bcProgramFeeBr" />
                                        <span>원</span>
                                    </div>
                                </td>
                                <th colspan="2">전산사용료(가맹)</th>
                                <td>
                                    <div class="percent__input">
                                        <input type="text" id="bcProgramFeeFr" name="bcProgramFeeFr" />
                                        <span>원</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="article__console">
                        <li><button type="button" class="c-button c-button--solid c-button--large" style="width: 200px;" onclick="onSave()">저장</button></li>
                    </ul>
                </form>
            </div>
        </article>
    </section>

</div>
</html>
