<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaulttest}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<!-- 사용자 스크립트 추가 -->
	<!-- 주소 검색 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/assets/js/toppos/user/mypage/mypage.js"></script>
	<script type="text/javascript">

		function printingReport() {
			$("#qrPop").addClass("active");
		}
	</script>
</th:block>

<div layout:fragment="content" class="content content--padding">
	<div class="c-tabs">
		<div class="c-tabs__head">
			<button class="c-tabs__btn active">가맹점 정보</button>
			<button class="c-tabs__btn">비밀번호 변경</button>
			<button class="c-tabs__btn" data-index="0">상용구 수정</button>
			<button class="c-tabs__btn" data-index="1">수선항목 수정</button>
			<button class="c-tabs__btn" data-index="2">추가항목 수정</button>
		</div>
		<div class="c-tabs__body">
			<div class="c-tabs__content active">
				<div class="c-tabs__content-header">
					<h3 class="c-tabs__content-heading">가맹점 정보</h3>
				</div>
				<div class="c-tabs__content-body">
					<div class="form">
						<div class="form__item">
							<div class="form__title">가맹점코드</div>
							<div class="form__input">
								<div class="c-text">
									<input type="text" readonly name="frCode" />
								</div>
							</div>
						</div>
						<div class="form__item">
							<div class="form__title">가맹점명</div>
							<div class="form__input">
								<div class="c-text">
									<input type="text" readonly name="frName" />
								</div>
							</div>
						</div>
						<div class="form__item">
							<div class="form__title">계약일자</div>
							<div class="form__input">
								<div class="c-text">
									<input type="text" readonly name="frContractDt" />
								</div>
							</div>
						</div>
						<div class="form__item">
							<div class="form__title">계약기간</div>
							<div class="form__input">
								<div class="c-text c-text--flex">
									<input type="text" readonly name="frContractFromDt" />
									<input type="text" readonly name="frContractToDt" />
								</div>
							</div>
						</div>
						<div class="form__item">
							<div class="form__title">담당지사</div>
							<div class="form__input">
								<div class="c-text">
									<input type="text" readonly name="brName" />
								</div>
							</div>
						</div>
						<div class="form__item">
							<div class="form__title">정산비율</div>
							<div class="form__input">
								<div class="form">
									<div class="form__item">
										<div class="form__title">본사 :</div>
										<div class="form__input">
											<div class="c-text">
												<input type="text" readonly name="brCarculateRateHq" />
												<span>%</span>
											</div>
										</div>
									</div>
									<div class="form__item">
										<div class="form__title">지사 :</div>
										<div class="form__input">
											<div class="c-text">
												<input type="text" readonly name="brCarculateRateBr" />
												<span>%</span>
											</div>
										</div>
									</div>
									<div class="form__item">
										<div class="form__title">가맹 :</div>
										<div class="form__input">
											<div class="c-text">
												<input type="text" readonly name="brCarculateRateFr" />
												<span>%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<form id="frInfo" class="form">
							<div class="form__item">
								<div class="form__title">사업자번호</div>
								<div class="form__input">
									<div class="c-text">
										<input type="text" name="frBusinessNo" id="frBusinessNo" maxlength="12" />
										<button type="button" class="keypadBtn" data-keyIndex="0">키보드</button>
									</div>
								</div>
							</div>
							<div class="form__item">
								<div class="form__title">대표자</div>
								<div class="form__input">
									<div class="c-text">
										<input type="text" name="frRpreName" id="frRpreName" />
										<button type="button" class="keyboardBtn" data-keyIndex="0">키보드</button>
									</div>
								</div>
							</div>
							<div class="form__item">
								<div class="form__title">매장전화</div>
								<div class="form__input">
									<div class="c-text">
										<input type="text" name="frTelNo" id="frTelNo" />
										<button type="button" class="keypadBtn" data-keyIndex="1">키보드</button>
									</div>
								</div>
							</div>
							<div class="form__item">
								<div class="form">
									<div class="form__item">
										<div class="form__title">가맹점 택코드(3자리)</div>
										<div class="form__input">
											<div class="c-text">
												<input type="text" name="frTagNo" id="frTagNo" class="keyboardBtn" data-keyIndex="1" />
											</div>
										</div>
									</div>
									<div class="form__item">
										<div class="form__title">출고예정일계산</div>
										<div class="form__input">
											<div class="c-text">
												<input type="text" name="frEstimateDuration" id="frEstimateDuration" class="keypadBtn" data-keyIndex="2" />
												<span>일 후 출고</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form__item">
								<div class="form__title">멀티스크린</div>
								<div class="form__input">
									<div class="c-radio">
										<input type="radio" name="frMultiscreenYn" id="frMultiscreenYn_Y" value="Y" />
										<label for="frMultiscreenYn_Y">사용</label>
									</div>
									<div class="c-radio">
										<input type="radio" name="frMultiscreenYn" id="frMultiscreenYn_N" value="N" />
										<label for="frMultiscreenYn_N">미사용</label>
									</div>
								</div>
							</div>
							<div class="form__item form__item--100">
								<div class="form__title">주소</div>
								<div class="form__input">
									<div class="address">
										<ul>
											<li>
												<div class="c-text address__postcode">
													<input type="text" name="frPostNo" id="frPostNo" placeholder="우편번호" />
												</div>
												<button type="button" class="c-button c-button--small" onclick="execDaumPostcode()">우편번호 검색</button>
											</li>
											<li>
												<div class="c-text">
													<input type="text" name="frAddress" id="frAddress" placeholder="주소" />
												</div>
											</li>
											<li>
												<div class="c-text">
													<input type="text" name="frAddressDetail" id="frAddressDetail" placeholder="상세주소 입력" />
													<button type="button" class="keypadBtn">키보드</button>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="c-tabs__content-footer">
						<div class="c-tabs__console">
                            <button class="c-button" onclick="printingReport()">QR코드</button>
							<button class="c-button c-button--solid" id="saveFrInfo">저장</button>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 비밀번호 변경 -->
			<div class="c-tabs__content">
				<div class="c-tabs__content-header">
					<h3 class="c-tabs__content-heading">비밀번호 변경</h3>
				</div>
				<div class="c-tabs__content-body">
					<div class="form">
						<div class="form__item">
							<div class="form__title">현재 비밀번호</div>
							<div class="form__input">
								<div class="c-text">
									<input type="password" id="oldpassword" name="oldpassword" />
									<button class="keyboardBtn" data-keyIndex="2">키보드</button>
								</div>
							</div>
						</div>
						<div class="form__item">
						</div>
						<div class="form__item">
							<div class="form__title">신규 비밀번호</div>
							<div class="form__input">
								<div class="c-text">
									<input type="password" id="newpassword" name="newpassword" />
									<button class="keyboardBtn" data-keyIndex="3">키보드</button>
								</div>
							</div>
						</div>
						<div class="form__item">
						</div>
						<div class="form__item">
							<div class="form__title">신규 번호확인</div>
							<div class="form__input">
								<div class="c-text">
									<input type="password" id="passwordconfirm" name="passwordconfirm" />
									<button class="keyboardBtn" data-keyIndex="4">키보드</button>
								</div>
							</div>
						</div>
						<div class="form__item">
						</div>
					</div>
					<div class="c-tabs__content-footer">
						<div class="c-tabs__console">
							<button onclick="passwordUpdate()" class="c-button c-button--solid">저장</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="c-tabs__content">
				<div class="c-tabs__content-header">
					<h3 class="c-tabs__content-heading">상용구 수정</h3>
				</div>
				<div class="c-tabs__content-body">
					<div class="c-tabs__body-console c-tabs__body-console--right">
						<button class="c-button c-button--small c-button--solid openItemPop" data-index="0" id="createRow0">라인추가</button>
						<button class="c-button c-button--small c-button--red removeRow" data-index="0" id="removeRow0">라인삭제</button>
						<div class="c-elevator c-elevator--left-border">
							<button class="c-elevator__btn up upRows" data-index="0" id="upRows0">위</button>
							<button class="c-elevator__btn down downRows" data-index="0" id="downRows0">아래</button>
						</div>
					</div>
					<!-- grid -->
					<div id="grid_keyWord" style="height: 530px;"></div>
				</div>
				<div class="c-tabs__content-footer">
					<div class="c-tabs__console">
						<button class="c-button c-button--solid gridSave" data-gridnum="0">저장</button>
					</div>
				</div>
			</div>
			
			<div class="c-tabs__content">
				<div class="c-tabs__content-header">
					<h3 class="c-tabs__content-heading">수선항목 수정</h3>
				</div>
				<div class="c-tabs__content-body">
					<div class="c-tabs__body-console c-tabs__body-console--right">
						<button class="c-button c-button--small c-button--solid openItemPop" data-index="1" id="createRow1">라인추가</button>
						<button class="c-button c-button--small c-button--red removeRow" data-index="1" id="removeRow1">라인삭제</button>
						<div class="c-elevator c-elevator--left-border">
							<button class="c-elevator__btn up upRows" data-index="1" id="upRows1">위</button>
							<button class="c-elevator__btn down downRows" data-index="1" id="downRows1">아래</button>
						</div>
					</div>
					<!-- grid -->
					<div id="grid_repair" style="height: 530px;"></div>
				</div>
				<div class="c-tabs__content-footer">
					<div class="c-tabs__console">
						<button class="c-button c-button--solid gridSave" data-gridnum="1">저장</button>
					</div>
				</div>
			</div>
			
			<div class="c-tabs__content">
				<div class="c-tabs__content-header">
					<h3 class="c-tabs__content-heading">추가항목 수정</h3>
				</div>
				<div class="c-tabs__content-body">
					<div class="c-tabs__body-console c-tabs__body-console--right">
						<button class="c-button c-button--small c-button--solid openItemPop" data-index="2" id="createRow2">라인추가</button>
						<button class="c-button c-button--small c-button--red removeRow" data-index="2" id="removeRow2">라인삭제</button>
						<div class="c-elevator c-elevator--left-border">
							<button class="c-elevator__btn up upRows" data-index="2" id="upRows2">위</button>
							<button class="c-elevator__btn down downRows" data-index="2" id="downRows2">아래</button>
						</div>
					</div>
					<!-- grid -->
					<div id="grid_addAmount" style="height: 530px;"></div>
				</div>
				<div class="c-tabs__content-footer">
					<div class="c-tabs__console">
						<button class="c-button c-button--solid gridSave" data-gridnum="2">저장</button>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- QR코드 팝업 -->
    <div id="qrPop" class="pop">
        <div class="pop__box">
            <!-- iframe src에 주소 넣어주세요 -->
            <iframe id="qrcode" src="" frameborder="0" cellspacing="0" style="width: 100%; height: 770px; border: 0 none;"></iframe>
            <ul class="pop__console">
				<li><button class="c-button pop__close">닫기</button></li>
			</ul>
        </div>
    </div>
	
	<!-- 라인 추가 팝업 -->
	<div class="pop">
		<div class="pop__box">
			<div class="pop__article">
				<h3 class="pop__article-header">항목 추가 입력</h3>
				<div class="pop__article-content">
					<ul class="customer__form-list">
						<li class="customer__form-item">
							<h4 class="customer__form-title">항목</h4>
							<div class="customer__form-input">
								<div class="c-text">
									<input type="text" id="baName" />
									<button class="keyboardBtn" data-keyIndex="5">키보드</button>
								</div>
							</div>
						</li>
						<li class="customer__form-item customer__form-item--100">
							<h4 class="customer__form-title">비고</h4>
							<div class="customer__form-input">
								<div class="c-textarea">
									<textarea id="baRemark"></textarea>
									<button class="keyboardBtn" data-keyIndex="6">키보드</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<ul class="pop__console">
				<li><button class="c-button pop__close">닫기</button></li>
				<li><button class="c-button c-button--dark pop__close" data-ismodify="" id="sendItemValue">입력</button></li>
			</ul>
		</div>
	</div>

</div>
</html>
