<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment" class="footer">
<!--    <ul>-->
<!--        <li>-->
<!--            <p>상호 : 주식회사 베터라이프</p>-->
<!--        </li>-->
<!--        <li>-->
<!--            <p>사업자등록번호 : 612-81-54782</p>-->
<!--        </li>-->
<!--        <li>-->
<!--            <p>대표자 : 최용진</p>-->
<!--        </li>-->
<!--        <li>-->
<!--            <p>주소 : 경기도 고양시 덕양구 충경로 96, 102호 (행신동, 소만빌딩)</p>-->
<!--        </li>-->
<!--        <li>-->
<!--            <p>전화번호 1670-0407</p>-->
<!--        </li>-->
<!--    </ul>-->

    <!-- loading -->
    <div id="loadingScreen" class="loader-wrap" style="display: none;">
        <div class="loader">
            <div class="loader__dot"></div>
            <div class="loader__dot"></div>
            <div class="loader__dot"></div>
            <div class="loader__dot"></div>
            <div class="loader__dot"></div>
            <div class="loader__dot"></div>
            <div class="loader__text">서버와 통신중 입니다.</div>
        </div>
    </div>

</footer>

</html>
