<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="header">
	<div class="logo"><img src="/assets/images/logo.svg" alt="TopPos Cleaning Up Megashop" /></div>
	
	<div class="info" id="logout_Form">
		<a href="/" class="header__link active"><img src="/assets/images/icon__home--b.svg" alt="홈" /><span>홈</span></a>
		<button class="header__btn">
			<img src="/assets/images/icon__menu--g.svg" alt="메뉴" /><span>메뉴</span>
		</button>
		<button class="header__btn"onclick="logout()">
			<img src="/assets/images/icon__logout--g.svg" alt="로그아웃" /><span>로그아웃</span>
		</button>
		<!-- <input type="button" value="로그아웃" onclick="logout()" /> -->
	</div>
<!--	<script type="text/javascript">-->
<!--		$(function() {-->
<!--			// 저장된 쿠키의 insert_id 받아오기-->
<!--			insert_id_Check();-->
<!--			// 로그아웃-->
<!--			$("#logout").on('click',function(){-->
<!--				logout();-->
<!--			});-->
<!--		});-->

<!--		function insert_id_Check(){-->
<!--			const insert_id = getCookie("insert_id");-->
<!--			if(insert_id===null){-->
<!--				$("#logout_Form").css('display','none');-->
<!--				$("#login_Form").css('display','block');-->
<!--				$("#loginBtn").css('display','block');-->
<!--				$("#registerBtn").css('display','block');-->
<!--			}else{-->
<!--				// $("#insert_id").text(insert_id);-->
<!--				$("#loginBtn").css('display','none');-->
<!--				$("#registerBtn").css('display','none');-->
<!--				$("#login_Form").css('display','none');-->
<!--				$("#logout_Form").css('display','block');-->
<!--			}-->
<!--		}-->
<!--		function logout(){-->
<!--			setCookie("JwtAccessToken",null, 0);-->
<!--			setCookie("JwtRefreshAccessToken",null, 0);-->
<!--			setCookie("JwtRefreshToken",null, 0);-->
<!--			setCookie("insert_id",null, 0);-->
<!--			location.href="/index"-->
<!--		}-->
<!--	</script>-->
</header>
</html>
