<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="header">
	<div class="header__inner">
		<div class="logo">
			<a href="/manager/"><img src="/assets/images/logo.svg" alt="TopPos Cleaning Up Megashop" /></a>
		</div>

		<nav class="gnb">
			<ul class="gnb__list">
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">출고 관리</a></div>
					<ul class="gnb__depth2">
						<li><a href="/manager/release">지사 출고</a></li>
						<li><a href="/manager/releasecancel">지사 출고 취소</a></li>
						<li><a href="/manager/forcerelease">가맹점 강제 출고</a></li>
					</ul>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">반송 / 검품</a></div>
					<ul class="gnb__depth2">
						<li><a href="/manager/returnproduct">가맹점 반송</a></li>
						<li><a href="/manager/checkregist">확인품 등록</a></li>
						<li><a href="/manager/checkstate">확인품 현황</a></li>
					</ul>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">입출고 현황</a></div>
					<ul class="gnb__depth2">
						<li><a href="#">지사 강제 출고 현황</a></li>
						<li><a href="#">가맹 반송 현황</a></li>
						<li><a href="#">지사 출고 현황</a></li>
						<li><a href="#">체류 세탁물 현황</a></li>
						<li><a href="#">지사 입고 현황</a></li>
						<li><a href="/manager/tag">TAG 번호 조회</a></li>
					</ul>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">미납 관리</a></div>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">매출 현황</a></div>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">설정</a></div>
					<ul class="gnb__depth2">
						<li><a href="/manager/businessday">영업일 관리</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	
		<div class="info" id="logout_Form">
			<div class="info__user">
				<span class="info__icon">user image</span>
				<span class="info__user-name">고양지사 - 홍길동</span>
			</div>
			<button class="header__btn" onclick="logout()">
				<img src="/assets/images/icon__logout--g.svg" alt="로그아웃" /><span>로그아웃</span>
			</button>
		</div>
	</div>
	<div class="gnb__layer"></div>
</header>


</html>
