<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="header">
	<div class="header__inner">
		<h1 class="logo"><a href="/head/"><img src="/assets/images/logo.svg" alt="TopPos Cleaning Up Megashop" /></a></h1>
	
		<nav class="n-gnb">
			<ul class="n-gnb__list">
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">DashBoard</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">매출 및 접수 현황</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/monthlysales" class="n-gnb__link">월간 매출 현황</a></li>
								<li><a href="/head/itemsales" class="n-gnb__link">품목별 매출 현황</a></li>
								<li><a href="/head/monthlyreg" class="n-gnb__link">월간 접수 현황</a></li>
								<li><a href="/head/itemreg" class="n-gnb__link">품목별 접수 현황</a></li>
							</ul>
						</div>
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">객단가 현황</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/unitprice" class="n-gnb__link">객단가 현황</a></li>
							</ul>
						</div>
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">고객 현황</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">고객 활성화도</a></li>
								<li><a href="/head/" class="n-gnb__link">고객DB 등록 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">개인 특성 정보</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">입출고 현황</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">실시간 품목별 입출고 현황</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/receiptstat" class="n-gnb__link">실시간 접수 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">TAG 번호 조회</a></li>
								<li><a href="/head/" class="n-gnb__link">지사 입고 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">지사 출고 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">강제 출고 현황(지사)</a></li>
								<li><a href="/head/" class="n-gnb__link">강제 입고 현황(가맹점)</a></li>
								<li><a href="/head/" class="n-gnb__link">미출고 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">재세탁 입고 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">반품 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">초특급세탁 처리 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">특급세탁 처리 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">급세탁 처리 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">일반 처리 현황</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">정산 및 미수금 현황</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">가맹점 정산 및 미수금 현황</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">가맹점 일 정산 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">가맹점별 일 정산 입금 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">가맹점 로열티 정산 현황</a></li>
								<li><a href="/head/" class="n-gnb__link">가맹점별 월 정산 현황</a></li>
							</ul>
						</div>
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">지사 정산 및 미수금 현황</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">지사 로열티 정산 내역</a></li>
								<li><a href="/head/" class="n-gnb__link">지사 정산액 입금 현황</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">일일 정산서</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">일일 정산 일보(가맹점)</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">일일 정산 일보(가맹점)</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">고객 현황</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">고객리스트</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">고객 현황</a></li>
							</ul>
						</div>
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">단가 현황</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">단가 현황</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">지사 현황</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">일반정보</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">지사 정보 현황</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">가맹점 현황</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">마케팅 활동 현황</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">SMS 발송 내역</a></li>
							</ul>
						</div>
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">가맹점별 정보</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/" class="n-gnb__link">가맹점 정보 현황</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">시스템 관리</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">시스템 관리</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/contract" class="n-gnb__link">계약 관리</a></li>
								<li><a href="/head/accountreg" class="n-gnb__link">사용자등록</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">상품 관리</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">상품 관리</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/itemgroup" class="n-gnb__link">상품 그룹 관리</a></li>
								<li><a href="/head/itemprice" class="n-gnb__link">상품 가격 관리</a></li>
								<li><a href="/head/franchiseprice" class="n-gnb__link">특정 품목 가격 관리</a></li>
								<li><a href="/head/pricemanagement" class="n-gnb__link">가격 기본 정보</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li class="n-gnb__item">
					<a href="#" class="n-gnb__depth1">설정</a>
					<div class="n-gnb__dim">
						<div class="n-gnb__group">
							<h4 class="n-gnb__title">설정</h4>
							<ul class="n-gnb__depth2">
								<li><a href="/head/mypage" class="n-gnb__link">나의 정보 관리</a></li>
								<li><a href="/head/mastercode" class="n-gnb__link">마스터코드 등록</a></li>
								<li><a href="/head/message" class="n-gnb__link">문자메세지</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</nav>

		<div class="info" id="logout_Form">
			<div class="info__user">
				<span class="info__icon">user image</span>
				<span id="headerUserName" class="info__user-name"></span>
			</div>
			<button class="header__btn" onclick="logout()">
				<img src="/assets/images/icon__logout--g.svg" alt="로그아웃" /><span>로그아웃</span>
			</button>
		</div>
	</div>
	<script type="text/javascript">
		$(function () {
			try {
				const token = window.localStorage.getItem('Authorization');
				const parsedToken = readToken(token);
			} catch (e) {
				console.log(e);
			}

			getHeaderData();
		});

		function getHeaderData() {
			CommonUI.ajax("/api/head/headHeaderData", "GET", false, function (res) {
				const data = res.sendData;
				$("#headerUserName").html(data.accountHeaderData.username);
			});
		}

		function readToken (token) {
			let base64 = token.split('.')[1].replace(/-/g, '+').replace(/_/g, '/');
			return JSON.parse(decodeURIComponent(atob(base64).split('').map(function(c) {
				return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
			}).join('')));
		}
	</script>
</header>
</html>
