<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="header">
	<div class="header__inner">
		<div class="logo"><img src="/assets/images/logo.svg" alt="TopPos Cleaning Up Megashop" /></div>
	
		<nav class="gnb">
			<ul class="gnb__list">
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">시스템 관리</a></div>
					<ul class="gnb__depth2">
						<li class="btnSubmenu"><a href="/head/contract">계약관리</a></li>
						<li class="btnSubmenu"><a href="/head/accountreg">사용자등록</a></li>
					</ul>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">상품 관리</a></div>
					<ul class="gnb__depth2">
						<li class="btnSubmenu"><a href="/head/itemgroup">상품그룹관리</a></li>
						<li class="btnSubmenu"><a href="/head/itemprice">상품가격관리</a></li>
						<li class="btnSubmenu"><a href="/head/franchiseprice">특정품목가격관리</a></li>
						<li class="btnSubmenu"><a href="/head/pricemanagement">가격기본정보</a></li>
					</ul>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="#">설정</a></div>
					<ul class="gnb__depth2">
						<li class="btnSubmenu"><a href="/head/">나의정보관리</a></li>
						<li class="btnSubmenu"><a href="/head/mastercode">마스터코드 등록</a></li>
					</ul>
				</li>
			</ul>
		</nav>

		<div class="info" id="logout_Form">
			<div class="info__user">
				<span class="info__icon">user image</span>
				<span id="headerUserName" class="info__user-name"></span>
			</div>
			<button class="header__btn" onclick="logout()">
				<img src="/assets/images/icon__logout--g.svg" alt="로그아웃" /><span>로그아웃</span>
			</button>
		</div>
	</div>
	<div class="gnb__layer"></div>
	<script type="text/javascript">
		$(function () {
			try {
				const token = window.localStorage.getItem('Authorization');
				const parsedToken = readToken(token);
			} catch (e) {
				console.log(e);
			}

			getHeaderData();
		});

		function getHeaderData() {
			CommonUI.ajax("/api/head/headHeaderData", "GET", false, function (res) {
				const data = res.sendData;
				$("#headerUserName").html(data.accountHeaderData.username);
			});
		}

		function readToken (token) {
			let base64 = token.split('.')[1].replace(/-/g, '+').replace(/_/g, '/');
			return JSON.parse(decodeURIComponent(atob(base64).split('').map(function(c) {
				return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
			}).join('')));
		}
	</script>
</header>
</html>
