<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="header">
	<div class="header__inner">
		<div class="logo"><img src="/assets/images/logo.svg" alt="TopPos Cleaning Up Megashop" /></div>
	
		<nav class="gnb">
			<ul class="gnb__list">
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="/head/accountreg">사용자등록</a></div>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="/head/contract">계약관리</a></div>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="/head/itemgroup">상품그룹관리</a></div>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="/head/itemprice">상품가격관리</a></div>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="/head/franchiseprice">특정품목가격</a></div>
				</li>
				<li class="gnb__item">
					<div class="gnb__depth1"><a href="/head/pricemanagement">가격기본정보</a></div>
				</li>
			</ul>
		</nav>

		<div class="info" id="logout_Form">
			<div class="info__user">
				<span class="info__icon">user image</span>
				<span class="info__user-name">홍길동(이름)</span>
			</div>
			<button class="header__btn" onclick="logout()">
				<img src="/assets/images/icon__logout--g.svg" alt="로그아웃" /><span>로그아웃</span>
			</button>
		</div>
	</div>
</header>
</html>
