<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/defaulttest}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="/assets/js/toppos/user/manage/closed.js"></script>
    <script type="text/javascript">

        $(function() {

        });

    </script>
</th:block>

<div layout:fragment="content" class="content content--column">
	<div class="content__header">
        <!-- menu명 -->
        <h2 class="content__heading"><spans class="content__heading-home">Home</spans>&nbsp;&gt;&nbsp;영업관리&nbsp;&gt;&nbsp;가맹점 수기마감</h2>
		<div class="content__header-text">
			<h3>접수세탁물 마감 리스트 (<span id="totalNum">0</span>) 건</h3>
		</div>
		<div class="content__header-btns">
			<button class="c-button c-button--small c-button--darksolid" id="refresh">재조회</button>
		</div>
	</div>
	
    <div class="content__body">
    	<!-- grid -->
    	<div id="closedList" style="height: 706px;"></div>
    
        <div class="content__bottom">
        	<div class="content__bottom-total">
        		<div class="content__bottom-total-item">
        			<h4 class="content__bottom-total-title">총건수</h4>
        			<input type="text" class="content__bottom-total-input" id="checkedItems" value="0" readonly />
        		</div>
        		<div class="content__bottom-total-item">
        			<h4 class="content__bottom-total-title">접수총액</h4>
        			<input type="text" class="content__bottom-total-input content__bottom-total-input--amount" id="totalAmount" value="0" readonly />
        		</div>
        		<div class="content__bottom-total-item">
        			<h4 class="content__bottom-total-title">급세탁건수</h4>
        			<input type="text" class="content__bottom-total-input" id="fastItems" value="0" readonly />
        		</div>
        		<div class="content__bottom-total-item">
        			<h4 class="content__bottom-total-title">재세탁건수</h4>
        			<input type="text" class="content__bottom-total-input" id="retryItems" value="0" readonly />
        		</div>
        	</div>
        	<div class="content__bottom-btns">
        		<button class="c-button c-button--solid" id="saveClosed">수기마감</button>
        	</div>
        </div>
    </div>

    
    
</div>
</html>