1.	편의성 개선의견
- 자주 쓰는 접수품목의 자동 정렬 기능 :
많이 사용하는 품목을 자동으로 상위 노출. 해당 기능은 추후 (사용하는 점포가 많아졌을 때, 데이터가 많이 쌓였을 때 등) 개선하는 것으로 정리
- 고객등록시 핸드폰 번호 기본 010 세팅, 성향은 기본값을 별5개로 :
아직 011, 017 등 사용자가 있음. 이것도 일단 사용하다 필요시 추후 개선
- 가맹점 메인 히스토리 다른 기능으로 대체 원하고 검토 중
- 메인 히스토리 변경 : 검토 후 전달 예정
- 메인 가맹점별 순위, 해당 점포 순위 표시 : 역시 필요시 추후 개선
- 알림톡 영수증 여부 체크기능, 매장 보관용 영수증은 항상 출력

<!-- 완료 -->
2.	가맹점 – 나의 정보 관리
- 가맹점 보증금, 임대료, 재계약 일자 항목 추가
- 나의 정보 관리 화면 등록 전 비밀번호 확인 필요
- 사업자번호, 가맹점 택코드, 출고예정일 계산 readonly로 변경 : 본사에서 직접 관리

3.	세탁접수
- 명품도 사인 필요 : 사인이 필요한 항목은 정리해서 전달 예정
- 운동화용 영수증 따로 필요 : 양식 전달 예정
- 오염체크 기능 검품 등록 추가 : 보류
- 오염체크 태그 출력 기능(라벨 프린트)
- 고객 인도 건 표기, 바로 인도 가능한 버튼 추가

4.	가맹점 입고
- 리스트 안에 검품 등록 후 고객 수락일 시 특이사항 또는 다른 하나의 필드 안에 표시(수락 중, 거절 중)

5.	통합조회
- 인도취소 조건은 고객 인도 후 24시간까지로 변경
- 검품 확인 고객 수락, 거부 => 세탁, 반품으로 변경

<!-- 완료 -->
6.	세탁인도
- 미수금 존재 시 결제 관련 절차 간소화 요청
- 미수금은 전일미수금이 아닌 그냥 미수금 개념으로 변경(확실치 않음 확인 필요)

7.	물건 찾기 – 메뉴 추가
- 가맹점에 입고되지 않은 물건에 대해 지사에 요청한 영업일 기준으로 납기 차이 나는 리스트 출력
- 요청 후 언제 출고되는 지에 대해 커뮤니케이션
- 미출고에 대한 내용 정리 후 전달 예정
- 출고증에 미출고 건수 추가

8.	지사 – 공지사항
- 현재는 본사만 공지사항 작성, 지사 별 공지사항 작성 필요
- 지사에서 공지사항 작성 시 해당 지사가 관리하고 있는 가맹점들이 공지사항 열람 가능
- 가맹점 메인, 공지사항 게시판에 본사 작성인지 지사 작성인지 표기 필요

9.	확인품 등록
- 바코드 스캔으로 검색할 수 있도록 개선
- 확인품 등록 시 강제출고에서 반품 출고로 변경

<!-- 완료 -->
10.	지사 강제 출고
- 지사 반품 출고로 명칭 변경 필요
- 반품은 매출에서 잡히지 않고 강제출고는 매출로 잡힘
- 강제출고는 상태를 알 수 없지만 출고해야 하는 경우
- 고객이 확인품을 거절시 반품으로 처리
- 현재 페이지에 반품, 강제출고 버튼 따로 분리해서 관리(논의 필요)

<!-- 진행중 -->
11.	지사 출고
- 바코드를 찍었을 때 확인품도 출력, 강제출고 절차가 필요하다는 알림 출력
- 지사가 강제출고 여부를 결정할 수 있도록 하는 기능 필요
- 검품 내역, 특이사항 등 화면에 표기

12.	접수현황 – 메뉴 추가
- 모바일 페이지도 추가
- 본사나 지사의 접수현황 하루 통계

13.	손익계산서 – 메뉴추가
- 가맹점, 지사 둘 다 필요

14.	클레임건
- 기존 방식과 다르게 클레임건을 별도의 정산할 수 있도록 기능 개편
- 대리점에서 등록된 클레임은 지사의 클레임 등록 현황에서 심의를 보내고 처리하도록 할 것. 출력기능 포함

15.	고객에게 문자 발송
- 수기로 고객에게 문자를 발송
- 문자를 보내고자 하는 고객은 마지막 방문일 기준으로 몇 개월, 며칠 이내 로 선택하여 일괄 발송

16.	행사 관련
- 본사, 지사, 가맹점 개별적인 행사를 할 수 있도록











