<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaulttest}" xmlns="http://www.w3.org/1999/html">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="module" src="/assets/js/toppos/user/calculate/frmonthbalance.js?22072510"></script>
    <!-- 엑셀 다운로드 기능을 사용하기 위함 -->
    <script src="/assets/js/filesaver/FileSaver.min.js"></script>
</th:block>

<div layout:fragment="content" class="content content--padding">

    <div class="content__header">
        <!-- menu명 -->
        <h2 class="content__heading"><spans class="content__heading-home">Home</spans>&nbsp;&gt;&nbsp;정산&nbsp;&gt;&nbsp;가맹점 월 정산 내역</h2>

        <!-- 검색조건 -->
        <div class="condition condition--non-margin">
            <div class="condition__date">
                <div class="condition__date-title">조회년도</div>
                <div class="c-select">
                    <select id="filterYear"></select>
                </div>
                <div class="c-select" style="display: none">
                    <select id="filterMonth">
                    </select>
                </div>
            </div>

            <div class="condition__console">
                <button id="searchListBtn" class="c-button c-button--small c-button--darksolid">조회</button>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="article">
            <div class="article__body">
                <div style="height: 700px; margin-top: 20px; border: 1px solid #ddd">
                    <div id="grid_main" class="grid--header-border" style="height: 700px;"></div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>
