<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate ="~{layout/defaulttest}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        #windowMask {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
            background-color: rgba(0, 0, 0, .4);
            display: none;
        }
        #mask{
            position: absolute;
            display: none;
            left: 50%;
            top: 50%;
            max-width: 1000px;
            padding: 20px;
            background-color: #ffffff;
            z-index: 100;
            font-size: 40px;
            line-height: 1.4;
            -webkit-border-radius: 0.625rem;
            -moz-border-radius: 0.625rem;
            border-radius: 0.625rem;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="/assets/js/toppos/user/customer/customerlist.js"></script>
    <script type="text/javascript">

        $(function() {

        });

    </script>
</th:block>

<div layout:fragment="content" class="content content--column">
	<div class="content__header">
		<div class="search">
			<div class="c-select">
                <select id="searchCustomerType">
                    <option value="0">통합검색</option>
                    <option value="1">고객명</option>
                    <option value="2">전화번호</option>
                    <!--<option value="3">주소</option>-->
                </select>
            </div>
            
            <div class="c-search">
	            <div class="c-search__input">
	                <input id="searchCustomerField" type="text" placeholder="검색어를 입력하세요" />
	                <button class="c-search__key" type="button" onclick="onShowVKeyboard(0)">키보드</button>
	            </div>
	            <button class="c-search__bth" onclick="onSearchCustomer()">조회</button>
            </div>
		</div>
	</div>
	
    <div class="content__body">
        <div id="grid_customerList" style="height: 776px;"></div>
    </div>

    <!-- 고객정보 수정 팝업 -->
    <div class="pop" id="showCustomerDetailPop">
        <div class="pop__box">
            <div class="pop__article">
                <h3 class="pop__article-header">고객정보 수정</h3>
                <div class="pop__aricle-content">
                    <!-- 이 안에 넣어주기 -->
                    <div class="customer__content">
                        <form id="userregForm" enctype="multipart/form-data">
                            <ul class="customer__form-list">
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">고객명</h4>
                                    <div class="customer__form-input">
                                        <div class="c-text">
                                            <input type="hidden" id="bcId" name="bcId" />
                                            <input type="text" id="bcName" name="bcName" />
                                            <button type="button" onclick="openVKeyboard(0)">키보드</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">휴대폰<span>※</span></h4>
                                    <div class="customer__form-input">
                                        <div class="c-text">
                                            <input type="text" id="bcHp" name="bcHp" placeholder="숫자만 입력해 주세요" onkeyup="onPhonenumChange(this)">
                                            <button type="button" onclick="openVKeyboard(1)">키보드</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">성별</h4>
                                    <div class="customer__form-input">
                                        <div class="c-radio">
                                            <input id="female" type="radio" name="bcSex" value="1" checked>
                                            <label for="female">여자</label>
                                        </div>
                                        <div class="c-radio">
                                            <input id="male" type="radio" name="bcSex" value="0">
                                            <label for="male">남자</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">주소</h4>
                                    <div class="customer__form-input">
                                        <div class="c-text">
                                            <input type="text" id="bcAddress" name="bcAddress">
                                            <button type="button" onclick="openVKeyboard(2)">키보드</button>
                                        </div>
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">생년월일</h4>
                                    <div class="customer__form-input">
                                        <div class="c-select">
                                            <select id="bcBirthYYYY" onchange="onYearChange(this.value)">
                                                <option value="">년도</option>
                                                <option th:each="i : ${#numbers.sequence(2010, 1950, -1)}"
                                                        th:value="${i}"
                                                        th:text="${i}">
                                                </option>
                                            </select>
                                        </div>

                                        <div class="c-select">
                                            <select id="bcBirthMM">
                                                <option value="">월</option>
                                                <option th:each="i : ${#numbers.sequence(1, 12, 1)}"
                                                        th:value="${#numbers.formatInteger(i, 2)}"
                                                        th:text="${i}">
                                                </option>
                                            </select>
                                        </div>

                                        <div class="c-select">
                                            <select id="bcBirthDD">
                                                <option value="">일</option>
                                                <option th:each="i : ${#numbers.sequence(1, 31, 1)}"
                                                        th:value="${#numbers.formatInteger(i, 2)}"
                                                        th:text="${i}">
                                                </option>
                                            </select>
                                        </div>

                                        <div class="c-select">
                                            <select id="bcAge" name="bcAge">
                                                <option value="">연령대</option>
                                                <option th:each="i : ${#numbers.sequence(10, 90, 10)}"
                                                        th:value="${i}"
                                                        th:text="${i}+' 대'">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">고객구분</h4>
                                    <div class="customer__form-input">
                                        <div class="c-text">
                                            <input type="text" id="bcGrade" readonly />
                                        </div>

                                        <!--							<div class="c-select">-->
                                        <!--								<select id="bcGrade" name="bcGrade">-->
                                        <!--									<option value="01">일반</option>-->
                                        <!--									<option value="02">VIP</option>-->
                                        <!--									<option value="03">VVIP</option>-->
                                        <!--								</select>-->
                                        <!--							</div>-->
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">성향</h4>
                                    <div class="customer__form-input">
                                        <div class="c-select c-select--blue">
                                            <select id="bcValuation" name="bcValuation">
                                                <option value="1">☆☆☆☆★</option>
                                                <option value="2">☆☆☆★★</option>
                                                <option value="3">☆☆★★★</option>
                                                <option value="4">☆★★★★</option>
                                                <option value="5">★★★★★</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">탈퇴</h4>
                                    <div class="customer__form-input">
                                        <div class="c-radio">
                                            <input id="yes" type="radio" name="bcQuitYn" value="Y">
                                            <label for="yes">Y</label>
                                        </div>

                                        <div class="c-radio">
                                            <input id="no" type="radio" name="bcQuitYn" value="N">
                                            <label for="no">N</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">문자수신</h4>
                                    <div class="customer__form-input">
                                        <div class="c-radio">
                                            <input id="yes2" type="radio" name="bcMessageAgree" value="Y">
                                            <label for="yes2">동의</label>
                                        </div>

                                        <div class="c-radio">
                                            <input id="no2" type="radio" name="bcMessageAgree" value="N" checked>
                                            <label for="no2">동의안함</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="customer__form-item">
                                    <h4 class="customer__form-title">동의타입</h4>
                                    <div class="customer__form-input">
                                        <div class="c-text">
                                            <input type="text" id="bcAgreeTypeName" readonly />
                                        </div>
                                        <!--
                                        <div class="c-select">
                                            <select id="bcAgreeType" name="bcAgreeType" onchange="onAgreeTypeChange(this.value)">
                                                <option value="1">온라인</option>
                                                <option value="2">서면</option>
                                            </select>
                                        </div>
                                        <button id="reqSign" class="c-button c-button&#45;&#45;small c-button&#45;&#45;darksolid" type="button"
                                                onclick="requestSign()">서명요청</button>
                                        -->
                                        <input type="hidden" id="bcSignImage" />
                                        <img id="signImage" />
                                    </div>
                                </li>
                                <li class="customer__form-item customer__form-item--100">
                                    <h4 class="customer__form-title">특이사항</h4>
                                    <div class="customer__form-input">
                                        <div class="c-textarea">
                                            <textarea id="bcRemark" name="bcRemark"></textarea>
                                            <button type="button" onclick="openVKeyboard(3)">키보드</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>

            <ul class="pop__console">
                <li><button class="c-button pop__close" onclick="cancelRegister()">취소</button></li>
                <li><button class="c-button c-button--dark pop__close" onclick="saveRegister()">저장</button></li>
            </ul>
        </div>
        <div id="windowMask"></div>
        <div id="mask">고객이 서명중입니다.<br />잠시만 기다려주세요...</div>
        <div id="resultmsg" style="display: none">결과메세지</div>
    </div>
    
    
    <!-- 적립금 조정 팝업 -->
    <div class="pop" id="modifySaveMoneyPop">
    	<div class="pop__box pop__box--small">
    		<div class="pop__article">
    			<h3 class="pop__article-header">적립금 조정</h3>
                <div class="pop__aricle-content">
                	<div class="pop__pay-list pop__pay-list--point">
                		<dl>
                			<dt>현재 적립금</dt>
                			<dd class="color--blue"><span id="currentSaveMoney">0</span>원</dd>
                			<dt>조정금액</dt>
                			<dd>
                				<button class="c-keybtn" onclick="openVKeypad(0)">키보드</button><span id="addSaveMoney">0</span>원
                			</dd>
                			<dt class="final">최종 적립금</dt>
                			<dd class="final"><span id="resultSaveMoney">0</span>원</dd>
                		</dl>
                	</div>
                </div>
    		</div>
    		<ul class="pop__console">
    			<li><button class="c-button pop__close">닫기</button></li>
    			<li><button class="c-button c-button--dark" onclick="onUpdateSaveMoney()">저장</button></li>
    		</ul>
    	</div>
    </div>
    <input type="hidden" id="tempKeypadField" /> 

</div>
</html>