<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate ="~{layout/defaulttest}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		#windowMask {
			position:absolute;
			left:0;
			top:0;
			z-index:9000;
			background-color:#000;
			opacity: 0.2;
			display:none;
		}
		#mask{
			background-color: #ffffff;
			position:absolute;
			display:none;
			left:350px;
			top:350px;
			z-index:10000;
			font-size: 40px;
		}
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/toppos/user/customer/customerreg.js"></script>
	<script type="text/javascript">
	</script>
</th:block>

<div layout:fragment="content" class="content content--padding">
	<!-- .customer 부분 팝업으로 재사용 -->
	<div class="customer">
		<div class="customer__header">
			<h3>고객등록</h3>
		</div>
		<div class="customer__content">
			<form id="userregForm" enctype="multipart/form-data">
				<ul class="customer__form-list">
					<li class="customer__form-item">
						<h4 class="customer__form-title">고객명</h4>
						<div class="customer__form-input">
							<div class="c-text">
								<input type="text" id="bcName" name="bcName" />
								<button type="button" onclick="openVKeyboard(0)">키보드</button>
							</div>
						</div>
					</li>
					<li class="customer__form-item">
						<h4 class="customer__form-title">휴대폰<span>※</span></h4>
						<div class="customer__form-input">
							<div class="c-text">
								<input type="text" id="bcHp" name="bcHp" placeholder="숫자만 입력해 주세요" onkeyup="onHpChange()">
								<button type="button" onclick="openVKeyboard(1)">키보드</button>
							</div>
						</div>
					</li>
					<li class="customer__form-item">
						<h4 class="customer__form-title">성별</h4>
						<div class="customer__form-input">
							<div class="c-radio">
								<input id="female" type="radio" name="bcSex" value="0" checked>
								<label for="female">여자</label>
							</div>
							<div class="c-radio">
								<input id="male" type="radio" name="bcSex" value="1">
								<label for="male">남자</label>
							</div>
						</div>
					</li>
					<li class="customer__form-item">
						<h4 class="customer__form-title">주소</h4>
						<div class="customer__form-input">
							<div class="c-text">
								<input type="text" id="bcAddress" name="bcAddress">
								<button type="button" onclick="openVKeyboard(2)">키보드</button>
							</div>
						</div>
					</li>
					<li class="customer__form-item">
						<h4 class="customer__form-title">생년월일/나이</h4>
						<div class="customer__form-input">
							<div class="c-select">
								<select id="bcBirthYYYY" onchange="onYearChange(this.value)">
									<option value="">년도</option>
									<option th:each="i : ${#numbers.sequence(2010, 1950, -1)}"
											th:value="${i}"
											th:text="${i}">
									</option>
								</select>
							</div>
							
							<div class="c-select">
								<select id="bcBirthMM">
									<option value="">월</option>
									<option th:each="i : ${#numbers.sequence(1, 12, 1)}"
											th:value="${#numbers.formatInteger(i, 2)}"
											th:text="${i}">
									</option>
								</select>
							</div>
							
							<div class="c-select">
								<select id="bcBirthDD">
									<option value="">일</option>
									<option th:each="i : ${#numbers.sequence(1, 31, 1)}"
											th:value="${#numbers.formatInteger(i, 2)}"
											th:text="${i}">
									</option>
								</select>
							</div>
							
							<div class="c-select">
								<select id="bcAge" name="bcAge">
									<option value="">연령대</option>
									<option th:each="i : ${#numbers.sequence(10, 90, 10)}"
											th:value="${i}"
											th:text="${i}+' 대'">
									</option>
								</select>
							</div>
						</div>
					</li>
					<li class="customer__form-item">
						<h4 class="customer__form-title">고객구분</h4>
						<div class="customer__form-input">
							<div class="c-text">
								<input type="text" value="일반" readonly />
							</div>
							
<!--							<div class="c-select">-->
<!--								<select id="bcGrade" name="bcGrade">-->
<!--									<option value="01">일반</option>-->
<!--									<option value="02">VIP</option>-->
<!--									<option value="03">VVIP</option>-->
<!--								</select>-->
<!--							</div>-->
						</div>
					</li>
					<li class="customer__form-item">
						<h4 class="customer__form-title">성향</h4>
						<div class="customer__form-input">
							<div class="c-select c-select--blue">
								<select id="bcValuation" name="bcValuation">
									<option value="1">☆☆☆☆★</option>
									<option value="2">☆☆☆★★</option>
									<option value="3" selected>☆☆★★★</option>
									<option value="4">☆★★★★</option>
									<option value="5">★★★★★</option>
								</select>
							</div>
						</div>
					</li>
					<li class="customer__form-item">
						<!-- 팝업 사용 시 주석 풀어주세요 -->
						<!-- 
						<h4 class="customer__form-title">탈퇴</h4>
						<div class="customer__form-input">
							<div class="c-radio">
								<input id="yes" type="radio" name="bcMessageAgree2" value="Y">
								<label for="yes">Y</label>
							</div>
							
							<div class="c-radio">
								<input id="no" type="radio" name="bcMessageAgree2" value="N" checked>
								<label for="no">N</label>
							</div>
						</div>
						 -->
					</li>
					<li class="customer__form-item">
						<h4 class="customer__form-title">문자수신동의</h4>
						<div class="customer__form-input">
							<div class="c-radio">
								<input id="yes2" type="radio" name="bcMessageAgree" value="Y">
								<label for="yes2">동의</label>
							</div>
							
							<div class="c-radio">
								<input id="no2" type="radio" name="bcMessageAgree" value="N" checked>
								<label for="no2">동의안함</label>
							</div>
						</div>
					</li>
					<li class="customer__form-item">
						<h4 class="customer__form-title">동의타입</h4>
						<div class="customer__form-input">
							<div class="c-select">
								<select id="bcAgreeType" name="bcAgreeType" onchange="onAgreeTypeChange(this.value)">
									<option value="1">온라인</option>
									<option value="2">서면</option>
								</select>
							</div>							
							<button id="requestSign" class="c-button c-button--small c-button--darksolid" type="button" onclick="requestSign()">서명요청</button>
							<input type="hidden" id="bcSignImage" />
							<img id="signImage" />
						</div>
					</li>
					<li class="customer__form-item customer__form-item--100">
						<h4 class="customer__form-title">특이사항</h4>
						<div class="customer__form-input">
							<div class="c-textarea">
								<textarea id="bcRemark" name="bcRemark"></textarea>
								<button type="button" onclick="openVKeyboard(3)">키보드</button>
							</div>
						</div>
					</li>
				</ul>

				<div class="customer__btns">
					<button class="c-button" type="button" onclick="saveRegister()">저장</button>
					<button class="c-button c-button--solid" type="button" onclick="cancelRegister()">취소</button>
				</div>
			</form>
		</div>
		<div id="windowMask"></div>
		<div id="mask">고객이 서명중입니다. 잠시만 기다려주세요...</div>

<!--		<div id="resultmsg" style="width:500px;height:100px ;background-color: #AAAAF0; word-break: break-all;">결과메세지</div>-->
	</div>

	<div id="VKEY"></div>
</div>
</html>
