@charset "utf-8";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* table */
.c-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    color: #222;
    font-size: 16px;
    border-top: 2px solid #181a1f;
    border-bottom: 2px solid #181a1f;
}
.c-table.align--center {
    text-align: center;
}
.c-table th {
    padding: 10px 3px;
    border-bottom: 1px solid #efefef;
    vertical-align: middle;
    line-height: 1.2;
    word-break: break-all;
    word-wrap: break-word;
}
.c-table td {
    height: 35px;
    padding: 5px 3px;
    border-bottom: 1px solid #efefef;
    vertical-align: middle;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-table td.align--right {
    text-align: right;
}
.c-table th.align--center,
.c-table td.align--center {
    text-align: center;
}
.c-table tr:last-child > th,
.c-table tr:last-child > td {
    border-bottom: none;
}
.c-table tr.align--center th,
.c-table tr.align--center td {
    text-align: center;
}
.c-table tr.align--right th,
.c-table tr.align--right td {
    text-align: right;
}

.c-table.c-table--non-border th,
.c-table.c-table--non-border td {
    border: 0;
    padding: 5px;
}
.c-table.c-table--non-border th {
    font-size: 14px;
}
.c-table thead + tbody {
    border-top: 1px solid #888;
}
.c-table__link {
    color: #555;
}
.c-table__link:hover {
    text-decoration: underline;
}
.c-table.c-table--hover tbody tr:hover,
.c-table tbody tr.bg-color {
    background-color: #efefef;
}
.c-table tr.border-top td{
    border-top: 1px solid #efefef;
}
.c-table.c-table--font-small th {
    font-size: 14px;
}
.c-table td.non-padding {
    padding: 5px 0;
}
.c-table__title {
	background-color: #efefef;
	border-top: 1px solid #181a1f !important;
	font-size: 12px !important;
	font-weight: 700;
	text-align: center;
}
.c-table.c-table--border {
	border-top: 2px solid #181a1f;
    border-bottom: 2px solid #181a1f;
}
.c-table.c-table--border thead {
	border-bottom: 2px solid #181a1f;
}
.c-table.c-table--border th,
.c-table.c-table--border td {
	border: 1px solid #ccc;
}
.c-table.c-table--border th:first-child,
.c-table.c-table--border td:first-child {
	border-left: 0 none;
}
.c-table.c-table--border th:last-child,
.c-table.c-table--border td:last-child {
	border-right: 0 none;
}
.c-table.c-table--in-border {
	border-top: 0 none;
	border-bottom: 0 none;
}

.c-table-caption {
	display: block;
	width: 100%;
	margin-top: 10px;
	text-align: center;
}

/* table scroll */
.table-scroll {
	width: 100%;
    overflow: hidden;
}
.table-scroll__head {
    width: 100%;
    overflow: hidden;
}
.table-scroll__body {
    width: 100%;
    overflow-x: auto;
}
.table-scroll.report-style {
	width: 100%;
}
.table-scroll.report-style .table-scroll__body {
	overflow-x: hidden;
    overflow-y: auto;
    max-height: 600px;
}
.table-scroll .table-scroll__head .c-table.c-table--head {
	/* width: 100%; */
}
.table-scroll .table-scroll__body .c-table,
.table-scroll.report-style .table-scroll__body .report-table {
    border-top: 0;
    /* overflow-x: auto; */
}

/* text ellipsis */
.c-ellipsis {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space:nowrap;
    line-height: 1.2;
}

/* radio */
.c-radio {
	line-height: 18px;

}
.c-radio__input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.c-radio__input:checked + label:before {
    border: 2px solid #3e4046;
}
.c-radio__input:checked + label:after {
    opacity: 1;
    visibility: visible;
}
.c-radio__label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: #222;
    font-size: 16px;
}
.c-radio__label:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transform: translateY(-50%);;
    transition: border-color .2s;
}
.c-radio__label:after {
    content: " ";
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #181a1f;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .2s;
}

/* radio-group */
.c-radio-group:before {
    content: " ";
    display: table;
}
.c-radio-group:after {
    content: " ";
    display: table;
    clear: both;
}
.c-radio-group__item {
    float: left;
}
.c-radio-group__item + .c-radio-group__item {
    margin-left: 20px;
}

/* btn-radio */
.c-btn-radio {
}
.c-btn-radio__list {
    display: inline-block !important;
    /* overflow: hidden; */
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
}
.c-btn-radio__list:before {
    content: " ";
    display: table;
}
.c-btn-radio__list:after {
    content: " ";
    display: table;
    clear: both;
}
.c-btn-radio__item {
    float: left;
}
.c-btn-radio__item:first-child .c-btn-radio__label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c-btn-radio__item:last-child .c-btn-radio__label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.c-btn-radio__item + .c-btn-radio__item .c-btn-radio__label {
    border-left: 0;
}
.c-btn-radio__input {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}
.c-btn-radio__label {
    display: block;
    min-width: 32px;
    height: 28px;
    padding: 0 10px;
    border: 1px solid #ddd;
    background-color: #efefef;
    color: #888;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s;
}
.c-btn-radio__label:hover {
    background-color: #ddd;
}
.c-btn-radio__input:checked + .c-btn-radio__label {
    background-color: #50b6d4;
    color: #fff;
}

/* input text */
.c-text {
    position: relative;
}
.c-text__input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
}
.c-text__input[type=number] {
	text-align: right;
	padding: 0 3px;
}
.c-text__input:focus,
.c-text__input:active {
    border-color: #181A1F;
}
.c-text__input::placeholder {
    color: #aaa;
}
.c-text__input[disabled],
.c-text__input[readonly] {
    background-color: #ddd;
    color: #888
}
.c-text.c-text--id:before {
    content: " ";
    display: table;
}
.c-text.c-text--id:after {
    content: " ";
    display: table;
    clear: both;
}
.c-text.c-text--id .c-text__input {
    float: left;
    width: calc(100% - 78px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.c-text.c-text--id .c-button {
    float: left;
    width: 78px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.c-text.c-text--duo {
	position: relative;
}
.c-text.c-text--duo:before {
    content: " ";
    display: table;
}
.c-text.c-text--duo:after {
    content: " ";
    display: table;
    clear: both;
}
.c-text.c-text--duo .c-text__input {
    float: left;
    /* width: 50%; */
}
.c-text.c-text--duo .c-text__input:first-child {
    width: 32%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.c-text.c-text--duo .c-text__input+.c-text__input[readonly] {
    border-left-color: #fff;
}
.c-text.c-text--duo .c-text__input+.c-text__input {
    width: 68%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.c-text.c-text--duo .c-text__input.only-child {
	width: 100% !important;
	padding-right: 50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.c-text--duo .c-text__button {
	display: inline-block;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 34px;
	height: 28px;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #97999f url(/assets/images/icon__search--b.png) no-repeat center center;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    text-indent:-9999px;
    cursor: pointer;
    transition: all .2s;
}
.c-text--duo .c-text__button:hover {
    background: #181a1f url(/assets/images/icon__search--w.png) no-repeat center center;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
}

.c-text.c-text--bridge:before {
    content: " ";
    display: table;
}
.c-text.c-text--bridge:after {
    content: " ";
    display: table;
    clear: both;
}
.c-text.c-text--bridge .c-text__input {
    float: left;
    width: 30px;
    border-radius: 0;
}
.c-text.c-text--bridge .c-text__input:first-child {
    width: calc(32% - 30px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c-text.c-text--bridge .c-text__input:last-child {
    width: 68%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.c-text.c-text--bridge .c-text__input:last-child[readonly] {
    border-left-color: #fff;
}
.c-text.c-text--unit {
    display: flex;
}
.c-text.c-text--unit:before {
    content: " ";
    display: table;
}
.c-text.c-text--unit:after {
    content: " ";
    display: table;
    clear: both;
}
.c-text.c-text--unit .c-text__input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.c-text.c-text--unit .c-text__unit {
    display: block;
    min-width: 50px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #555;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-text.c-text--unit .c-text__input + .c-text__unit {
    min-width: 40px;
    background-color: #d3d3d3;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.c-text.c-text--unit .c-text__unit + .c-text__input {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.c-text.c-text--small .c-text__input {
	height: 22px;
	font-size: 12px;
}
.c-text.c-text--label {
	
}
.c-text.c-text--label:before {
	content: " ";
	display: table;
}
.c-text.c-text--label:after {
	content: " ";
	display: table;
	clear: both;
}
.c-text.c-text--label label {
	float: left;
	width: 30px;
	color: #222;
	font-size: 14px;
	line-height: 30px;
}
.c-text.c-text--label .c-text__input {
	float: left;
	width: 80px;
	/*width: calc(100% - 40px);*/
}
.c-text.c-text--label.c-text--small label {
	font-size: 12px;
	line-height: 22px;
}
.c-text.c-text--inline {
	display: inline-block;
}
.c-text.c-text--inline .c-text__input {
	width: 50px;
}
.c-text__label {
	display: block;
	margin-bottom: 5px;
}

/* field */
.c-field {
	position: relative;
	width: 100%;
}
.c-field__label {
	display: block;
	cursor: text;
	font-size: 14px;
	color: rgba(0, 0, 0, .3);
	-webkit-transform: translateY(19.2px);
	-moz-transform: translateY(19.2px);
	-ms-transform: translateY(19.2px);
	-o-transform: translateY(19.2px);
	transform: translateY(19.2px);
	-webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
.c-field__label.filled {
	-webkit-transform: translateX(-24px) translateY(-3.2px) scale(0.8);
	-moz-transform: translateX(-24px) translateY(-3.2px) scale(0.8);
	-ms-transform: translateX(-24px) translateY(-3.2px) scale(0.8);
	-o-transform: translateX(-24px) translateY(-3.2px) scale(0.8);
	transform: translateX(-24px) translateY(-3.2px) scale(0.8);
}
.c-field__label.focused {
	color: #181a1f;
}
.c-field__input {
	height: 24px;
	border: none 0;
	border-bottom: 2px solid rgba(0, 0, 0, .3);
	font-size: 14px;
	outline: none;
	width: 100%;
}
.c-field__input:focus {
	border-color: #181a1f;
}

/* textarea */
.c-textarea {
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #222;
    font-size: 14px;
    resize: none;
    outline: none;
    transition: border-color .2s;
}
.c-textarea:focus,
.c-textarea:active {
    border-color: #181A1F;
}
.c-textarea::placeholder {
    color: #aaa;
}

/* calendar */
.c-calendar-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-calendar-layout .c-calendar {
    flex: 1;
}
.c-calendar {
}
.c-calendar__input {
    float: left;
    display: block;
    width: calc(100% - 30px);
    height: 30px;
    padding: 0 10px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
}
.c-text__input:active {
    border-color: #50b6d4;
}
.c-calendar + span {
    display: block;
    padding: 0 10px;
}
.c-calendar__input + .ui-datepicker-trigger {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #50b6d4;
    font-size: 14px;
    border: 1px solid #50b6d4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.c-calendar__input + .ui-datepicker-trigger img {
    width: 100%;
}

/* functions */
.c-function {
    margin-top: 10px;
}
.c-function:before {
    content: " ";
    display: table;
}
.c-function:after {
    content: " ";
    display: table;
    clear: both;
}
.c-function__group {
    float: left;
}
.c-function__group:before {
    content: " ";
    display: table;
}
.c-function__group:after {
    content: " ";
    display: table;
    clear: both;
}
.c-function__group.c-function__group--right {
    float: right;
}
.c-function__item {
    float: left;
    display: inline-block;
}
.c-function__item + .c-function__item {
    margin-left: 10px;
}

/* button */
.c-button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #fff;
    color: #888;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a.c-button {
	padding: 0 10px;
	line-height: 28px;
}
.c-button:hover {
    /* background-color: #888 */
    color: #555;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}
.c-button[disabled] {
    border-color: #ddd;
    background-color: #ddd;
    color: #888;
    cursor: no-drop;
}
.c-button.c-button--point {
    border-color: #456296;
    background-color: #456296;
    color: #fff;
    font-weight: 700;
}
.c-button.c-button--point:hover {
	background-color: ##1e3868;
	border-color: #1e3868;
}
.c-button.c-button--small {
    padding: 2px 5px;
    border-radius: 1px;
    font-size: 12px;
}

/* select */
.c-select {
    /* width: 100%; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-select__input {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 30px 0 10px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzQgMzQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM0IDM0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjMjIyMjIyIiBwb2ludHM9IjIxLjksMTQuOSAyMS4yLDE0LjIgMTcsMTguNCAxMi44LDE0LjIgMTIuMSwxNC45IDE3LDE5LjggMTcsMTkuOCAxNywxOS44ICIvPjwvc3ZnPg==);
    background-position: 100% 50%;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    color: #222;
    font-size: 14px;
    transition: border-color .2s;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.c-select__input::-ms-expand {
    display: none;
}
.c-select__input:focus {
    border-color: #50b6d4;
}
.c-select.c-select--small .c-select__input {
    height: 22px;
    padding: 0 22px 0 10px;
    -webkit-background-size: 22px 22px;
    background-size: 22px 22px;
}
.c-select.c-select--label {
	position: relative
}
.c-select__label {
	display: block;
	margin-bottom: 5px;
	color: rgba(0, 0, 0, .3);
	font-size: 11px;
}


/* paging */
.c-pager {
    position: relative;
    display: table;
    width: 100%;
    margin-top: 10px;
}
.c-paging {
    position: relative;
    display: table-cell;
    width: calc(100% - 100px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-paging:before {
    content: " ";
    display: table;
}
.c-paging:after {
    content: " ";
    display: table;
    clear: both;
}
.c-paging__wrapper {
    /* display: table-cell; */
    display: table;
    margin: 0 auto;
    vertical-align: middle;
}
.c-paging__item {
    /* display: inline-block; */
    display: table-cell;
    min-width: 25px;
    padding: 4px 8px;
    height: 25px;
    color: #888;
    font-size: 14px;
    /* line-height: 25px; */
    text-decoration: none;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    /* line-height: 1; */
}
.c-paging__item.c-paging__control {
    padding: 0;
}
.c-paging__item + .c-paging__item {
    margin-left: 4px;
}
.c-paging__item:hover {
    background-color: #eee;
    color: #555;
    font-weight: 700;
    letter-spacing: -0.4px;
}
.c-paging__item.check {
    background-color: #555;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.3px;
}
.c-paging__total {
    display: table-cell;
    width: 100px;
    /* float: left; */
    /* margin-left: 19px; */
}
.c-paging__total:before {
    content: " ";
    display: table;
}
.c-paging__total:after {
    content: " ";
    display: table;
    clear: both;
}
.c-paging__total-group {
    float: left;
    width: 50%;
    height: 30px;
    color: #555;
    font-size: 14px;
    text-align: right;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-paging__total-group:before {
    content: " ";
    display: table;
}

.c-paging__total-group:after {
    content: " ";
    display: table;
    clear: both;
}

.c-paging__total-group:first-child {
    font-weight: 700;
}
.c-paging__total-group .c-text {
    float: left;
    width: calc(100% - 35px);
    border: 0;
}
.c-paging__total-group .c-text__input {
    border: 0;
}
.c-paging__total-group .c-text__input:focus,
.c-paging__total-group .c-text__input:active {
    border: 0;
}

.c-paging__total-group .c-button {
    min-width: 35px;
    height: 30px;
    padding: 9px 10px;
    border: 0;
    background: #eee;
    border-radius: 0;
}
.c-paging__total-group .c-button:hover {
    box-shadow: none;
    background-color: #d6d6d6;
}
.c-paging__total-group + .c-paging__total-group {
    position: relative;
    padding-left: 20px;
}

/* .c-paging__total-group + .c-paging__total-group:before {
    content:"/";
    display: table;
    position: absolute;
    left: 10px;
    top: 6px;
} */
.c-paging__total-alarm {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 12px;
    color: #888;
}
.c-paging__total-arrow,
.c-paging__arrow {
    float: left;
}
.c-paging__group {
    float: left;
    margin: 0 5px;
}
.c-table + .c-paging {
    margin: 10px auto 0;
}

/* checkbox */
.c-checkbox {
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
    color: #222;
    line-height: 18px;
}
.c-checkbox__input {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}

.c-checkbox__input[disabled] ~ label {
    cursor: default;
}

.c-checkbox__input[disabled] ~ label:before {
  background-color: #ebebeb;
}

.c-checkbox__input[disabled] ~ label:after {
  border: 2px solid #ddd;
  background: #ebebeb url(/assets/images/icon__check.svg) no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
  color: #666;
}

.c-checkbox__input:checked ~ label:before {
  display: none;
}

.c-checkbox__input:checked ~ label:after {
  display: block;
}

.c-checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  color: #222;
  font-size: 14px;
  cursor: pointer;
}

.c-checkbox__label:before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-checkbox__label:after {
  content: " ";
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #181a1f url(/assets/images/icon__check--w.png) no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}







/* tree */
.c-tree {
	height: 100%;
	padding: 10px;
	border: 3px double #696b71;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-tree li {
    position: relative;
    padding: 5px 0 5px 20px;
}
.c-tree__nested {
    display: none;
}
.c-tree__toggle {
    color: #222;
    font-size: 16px;
}
.c-tree__toggle:before {
    content: " ";
    overflow: hidden;
    position: absolute;
    top: 6px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #222;
    background: #fff url(/assets/images/icon__plus.svg) no-repeat;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    background-position: center center;
}
.c-tree__toggle.c-tree__toggle--minus:before {
    background: #fff url(/assets/images/icon__minus.svg) no-repeat;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    background-position: center center;
}
.c-tree__link {
    color: #555;
    font-size: 14px;
}
.c-tree__link:before {
    content: " ";
    overflow: hidden;
    position: absolute;
    top: 8px;
    left: 2px;;
    width: 12px;
    height: 12px;
    background: #fff url(/assets/images/icon__minus.svg) no-repeat;
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    background-position: center center;
}


/* button file */
.c-file {
    overflow: hidden;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-file__input {
  /* -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; */
    float: left;
    width: calc(100% - 84px);
    height: 28px;
    padding: 0 10px;
    border: 0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}

.c-file__button {
    float: left;
    width: 84px;
    height: 28px;
    padding: 0 14px;
    border: 0;
    background-color: #eee;
    color: #222;
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
.c-file__button input[type="file"] {
  display: none;
}
.c-file__button:hover,
.c-file__button:focus {
  background-color: #d6d6d6;
}


/* thumb */
.c-thumb {
    margin: 0 -5px;
}
.c-thumb:before {
    content: " ";
    display: table;
}
.c-thumb:after {
    content: " ";
    display: table;
    clear: both;
}
.c-thumb li {
    float: left;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-thumb__img {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100px;
    height: 0;
    padding-bottom: 100%;
    border: 2px solid #efefef;
    border-radius: 3px;
    background-color: #fff;
}
.c-thumb__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.c-thumb__btn-delete {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: rgba(238, 238, 238, .5) url(/assets/images/icon__close.svg) no-repeat;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
    background-position: center center;
    text-indent: -9999px;
}
.c-thumb__btn-delete:hover {
    background-color: rgba(200, 200, 200, .8);
}

/* progress-pie */
.c-progress-pie {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 10px auto 0;
}
.c-progress-pie__comment {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    background: transparent;
    text-align: center;
}
.c-progress-pie__comment span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color: #888;
}
.c-progress-pie__percent {
  display: table-cell;
  vertical-align: middle;
}
.c-progress-pie__range {
    margin-top: 5px;
    font-size: 14px;
}
.c-progress-pie__base.blue + .c-progress-pie__comment span {
    color: #19a8ff;
}
.c-progress-pie__base.green + .c-progress-pie__comment span {
    color: #6ad44d;
}
.c-progress-pie__base.red + .c-progress-pie__comment span {
    color: #ff3333;
}

/* progress-bar */
.c-progress-bar {
    width: 100%;
    margin-top: 10px;
}
.c-progress-bar__base {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 3px;
}
.c-progress-bar__percent {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 20px;
    margin-left: 0;
    border-radius: 3px;
    background-color: #6ad44d;
    transition: margin-left 1s;
}
.c-progress-bar__percent.c-progress-bar__percent--blue {
    background-color: #19a8ff;
}
.c-progress-bar__percent.c-progress-bar__percent--red {
    background-color: #ff3333;
}
.c-progress-bar__range {
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}



.c-accordiion-table {

}
.c-accordion-table__head {
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-accordion-table__button-line {
    display: block;
    width: 100%;
}
.c-accordion-table__head ul,
.c-accordion-table__button-line ul {
    display: table-row;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-accordion-table__head ul li {
    display: table-cell;
    height: 30px;
    font-weight: 700;
    font-size: 14px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #666;
}
.c-accordion-table__button-line ul {
    display: flex;
    width: 100%;
}
.c-accordion-table__button-line > ul > li {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
    min-width: 0;
    /* display: table-cell; */
    height: 34px;
    padding: 5px;
    color: #333;
    font-size: 15px;
    line-height: 23px;
    vertical-align: bottom;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
}
.c-accordion-table__button-line ul li.flex-auto {
    flex: 0 1 auto;
}
.c-accordion-table__button-line ul li span.c-ellipsis {
    display: block;
    line-height: 23px;
}
.c-accordion-table__toggle {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #005000;
    border-radius: 3px;
    background-color: #58AA52;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s;
}
.c-accordion-table__toggle:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 10px;
    margin-top: -5px;
    margin-left: -1px;
    background-color: #fff;
}
.c-accordion-table__toggle:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    margin-top: -1px;
    margin-left: -5px;
    background-color: #fff;
}
.c-accordion-table__toggle.show {
    border: 2px solid #C90000;
    background-color: #FF7012;
}
.c-accordion-table__toggle.show:before {
    display: none;
}
.c-accordion-table__panel {
    overflow: hidden;
    display: none;
    position: relative;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-accordion-table__panel ul {
    display: table;
    width: 100%;
}
.c-accordion-table__panel li {
    display: table-row;
    width: 100%;
    color: #666;
    font-size: 14px;
}
.c-accordion-table__panel .c-thumb li {
    width: 33.3333%;
}
.c-accordion-table__panel .c-thumb li .c-thumb__img {
    width: 100%;
}
.c-accordion-table__title,
.c-accordion-table__data {
    display: table-cell;
    padding: 3px 0;
}
.c-accordion-table__panel li:last-child span {
    padding-bottom: 5px;
    border-bottom: 1px solid #666;
}
.c-accordion-table__title.textarea {
    vertical-align: top;
    padding-top: 10px;
}
.c-accordion-table__panel > .c-button:last-child {
    position: absolute;
    right: 5px;
    bottom: 8px;
}
.c-accordion-table__panel > .c-button:nth-last-child(2) {
    position: absolute;
    right: 5px;
    bottom: 35px;
}
.c-accordion-table__panel > .c-button:nth-last-child(3) {
    position: absolute;
    right: 5px;
    bottom: 62px;
}
.c-accordion-table__panel .article {
    padding: 0;
}
.c-accordion-table__panel .c-btn-radio__item {
    display: block;
    width: auto;
}
.c-accordion-table__panel .c-accordion-table__data span {
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
}

.c-arccordion {

}
.c-arccordion__head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 0;
}
.c-arccordion__head .article__heading {
    flex: 1;
}
.article__heading-toggle {
    color: #333;
    font-size: 14px;
    font-weight: 700;
}
.c-arccordion__content {
    overflow: hidden;
    display: none;
    position: relative;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-arccordion__content ul li + li {
    margin-top: 10px;
}

/* input */
.m-text {
    display: flex;
    position: relative;
    width: 100%;
}
.m-text__input {
    width: 100%;
    padding-left: 70px;
    padding-right: 20px;
    height: 30px;
    border: 1px solid #888;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
.m-text__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #888;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.m-text__reset {
    opacity: 0;
    visibility: visible;
    position: absolute;
    top: 7px;
    right: 0;
    width: 20px;
    height: 20px;
    color: #333;
    font-size: 14px;
    text-align: center;
    vertical-align: bottom;
    cursor: pointer;
    background-color: transparent;
}
input[type=text]-ms-clear {
    display: none;
}
.m-text__input:focus + .m-text__reset {
    opacity: 1;
    visibility: visible;
}

.c-noresult,
.c-start-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 20px 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.c-noresult img,
.c-start-search img {
    width: 30%;
}
.c-noresult p,
.c-start-search p {
    margin-top: 10px;
    color: #888;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
}

.c-flex {
    display: flex;
}
.c-flex__box {
    flex: 1;
    position: relative;
}
.c-flex__box > .c-function.position-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}
.c-flex__box-inner {
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-flex__box.c-flex__box--fixed {
	flex: 0 1 auto;
	width: 300px;
}
.c-flex__box.c-flex__box--border-right {
	margin-right: 20px;
	border-right: 2px dotted #696b71;
	padding-right: 20px;
}
.c-flex.c-flex--float {
	display: block;
}
.c-flex.c-flex--float:before {
	content: ' ';
	display: table;
}
.c-flex.c-flex--float:after {
	content: ' ';
	display: table;
	clear: both;
}
.c-flex.c-flex--float .c-flex__box {
	flex: 0 1 auto;
	overflow: hidden;
	float: left;
	width: 50%;
}
.c-flex__input {
	flex: 1;
}
.c-flex__input + .c-flex__input {
	margin-left: 10px;
}
@media(max-width: 1279px) {
	.c-flex.c-flex--float .c-flex__box {
		width: 100%;
	}
	.c-flex.c-flex--float .c-flex__box + .c-flex__box {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 2px dotted #696b71;
	}
	.c-flex.c-flex--float .c-flex__box .c-flex__box-inner {
		padding: 0;
	}
}


/* toggle */
.c-toggle {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #222;
	line-height: 18px;
}
.c-toggle__input {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
}
.c-toggle__input:checked ~ label:before {
	background-color: #17191e;
}
.c-toggle__input:checked ~ label:after {
	left: 20px;
	background-color: #E1E2E1;
}
.c-toggle__label {
	display: inline-block;
	position: relative;
	padding-left: 46px;
	color: #222;
	font-size: 14px;
	cursor: pointer;
}
.c-toggle__label:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 36px;
	height: 18px;
	background-color: #afb0af;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.c-toggle__label:after {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 2px;
	width: 14px;
	height: 14px;
	background-color: #17191e;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.iw-container {
	color: #333;
	font-size: 14px;
}
.iw-container h2 {
	padding: 5px 0;
	background-color: #181a1f;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}
.iw-container dl {
	overflow: hidden;
	margin-top: 10px;
}
.iw-container dt {
	float: left;
	width: 80px;
}
.iw-container dd {
	float: left;
	width: calc(100% - 80px);
}
.iw-container p {
	font-size: 12px;
	margin-top: 5px;
}
.iw-container p span {
	font-weight: 700;
}


/* input-list float */


.w-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #222;
    font-size: 14px;
    /*border: 1px solid #181a1f;*/
}
.w-table th,
.w-table td {
	padding: 3px;
	border: 1px solid #181a1f;
	vertical-align: middle;
	color: #333;
	font-size: 16px;
	line-height: 1.4;
}
.w-table th {
	background-color: #efefef;
}
.w-table td .weight__input {
	width: 80px;
}


/* input date */
.c-date {
	position: relative;
}
.c-date__label {
	display: block;
	margin-bottom: 3px;
	color: #787a7d;
	font-size: 12px;
}
.c-date__input {
	width: 100%;
	height: 28px;
	padding: 5px 10px;
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-date__input[readonly] {
	background-color: #efefef;
}
input[type="date"] {
  background:#fff url(/assets/images/icon__calendar--gray.png)  97% 50% no-repeat ;
  -webkit-background-size: 16px;
  background-size: 16px;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.c-date-group:before {
	content: " ";
	display: table;
}
.c-date-group:after {
	content: " ";
	display: table;
	clear: both;
}
.c-date-group .c-date {
	float: left;
	width: 130px;
}
.c-date-group .c-date + .c-date {
	margin-left: 20px;
}
.c-date-group .c-date + .c-date:before {
	content: "-";
	position: absolute;
	bottom: 0;
	left: -13px;
	font-size: 16px;
	line-height: 27px;
}
.c-date-group.c-date-group--flex {
	display: flex;
}
.c-date-group.c-date-group--flex .c-date {
	flex: 1;
	float: none;
	width: auto;
}

/* tooltip */
.c-tooltip {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #1e3868;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 20px;
	/*z-index: 1;*/
}
.c-tooltip__text {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -10px;
	left: 30px;
	width: 500px;
	padding: 5px 10px;
	background-color: #555;
	text-align: left;
	line-height: 1.6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}
.c-tooltip.c-tooltip--left .c-tooltip__text {
	left: -505px;
}
.c-tooltip:hover {
	z-index: 1;
}
.c-tooltip:hover .c-tooltip__text {
	visibility: visible;
	opacity: 1;
}
.c-tooltip__text pre {
	overflow: auto;
	white-space: pre-wrap;
}
.c-tooltip__text .c-table {
	border-color: #fff;
	color: #fff;
} 
.c-tooltip__text .c-table thead + tbody {
	border-color: #fff;
}
.c-tooltip__color {
	color: #ffff72;
}

.c-color--red {
	color: #dd2c00;
	font-weight: 700;
}

/* datepicker */
.ui-datepicker,
.month-picker {
    overflow: hidden;
    width: 280px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.month-picker table{
    border-collapse: separate;
    border-spacing:2px 2px;
}
.month-picker td{
    padding:0;
    vertical-align: middle;
}
.ui-datepicker-header,
.month-picker-header {
    height: 50px;
    line-height: 50px;
    color: #73879c;
    background-color: #e4e4e4;
    margin-bottom: 10px;
}

.ui-datepicker-prev,
.ui-datepicker-next,
.month-picker-previous a,
.month-picker-next a {
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-top: 12px;
    border: 2px solid #73879c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-indent: -9999px;
    cursor: pointer;
}
.month-picker-previous a,
.month-picker-next a {
        display: block;
        position: relative;
        margin-top: 0;
}
.ui-datepicker-prev,
.month-picker-previous a {
    float: left;
    margin-left: 12px;
}
.ui-datepicker-next,
.month-picker-next a {
    float: right;
    margin-right: 12px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after,
.month-picker-previous a:after,
.month-picker-next a:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-left: 2px solid #73879c;
    border-bottom: 2px solid #73879c;
}
.ui-datepicker-prev:after,
.month-picker-previous a:after {
    margin: -43px 0 0 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ui-datepicker-next:after,
.month-picker-next a:after {
    margin: -43px 0 0 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.month-picker-previous a:after,
.month-picker-next a:after {
        margin-top: 7px;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.month-picker-previous a:hover,
.month-picker-next a:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after,
.month-picker-previous a:hover:after,
.month-picker-next a:hover:after {
    border-color: #007e37;
}
.ui-datepicker-title,
.month-picker-title {
    text-align: center;
}
.month-picker-title {
        width: 204px;
}
.month-picker-title .ui-button {
	line-height: 50px;
}
.ui-datepicker-calendar,
.month-picker-month-table {
    width: 100%;
    text-align: center;
}
.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    margin-bottom: 5px;
    color: #007e37;
    font-size: 12px;
}
.ui-state-default {
    display: block;
    color: #666;
    font-size: 12px;
    line-height: 40px;
}
.ui-button {
        display: block;
        color: #666;
        font-size: 12px;
        line-height: 40px;
        cursor: pointer;
}
.ui-state-default:hover,
.ui-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.ui-state-highlight {
    color: #007e37;
    font-weight: 700;
}
.ui-state-active {
    color: #007e37;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.1);
}
.ui-datepicker-unselectable .ui-state-default {
    border: 2px solid transparent;
    color: #eee;
}
