<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaulthead}" xmlns="http://www.w3.org/1999/html">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		/* 경고창이 팝업창에 가려지는걸 방지 */
		#popupId {
			z-index: 1001;
		}
	</style>
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="/assets/js/toppos/head/itemcontrol/itemprice.js?22082516"></script>
	<script src="/assets/js/filesaver/FileSaver.min.js"></script>
</th:block>

<div layout:fragment="content" class="content content--padding">
    <section class="section">
        <article class="article">
            <div class="article__header">
                <h3 class="article__heading">상품 가격 관리</h3>
            </div>
            <div class="article__body">
                <div class="inquiry">
                    <div class="inquiry__condition">
                        <ul>
                            <li>
                                <div class="inquiry__title">대분류</div>
                                <div class="inquiry__input-tag">
                                    <div class="c-select">
                                        <select id="s_bgName">
                                            <option value="">전체</option>
                                            <option th:each ="groupName : ${groupNames}"
                                                    th:value="${groupName.bgName}"
                                                    th:text="${groupName.bgName}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="inquiry__title">상품코드</div>
                                <div class="inquiry__input-tag">
                                    <input type="text" id="s_biItemcode" onkeyup="itemCodeValidator()">
                                </div>
                            </li>
                            <li>
                                <div class="inquiry__title">상품명</div>
                                <div class="inquiry__input-tag">
                                    <input type="text" id="s_biName">
                                </div>
                            </li>
                            <li>
                                <div class="inquiry__title">가격적용일</div>
                                <div class="inquiry__input-tag">
                                    <div class="c-select">
                                        <select id="s_setDt">
                                            <option th:each ="setDtList : ${setDtLists}"
                                                    th:value="${setDtList.setDt}"
                                                    th:text="${setDtList.setDtview}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="inquiry__button inquiry__button--row">
                        <button type="button" class="c-button c-button--solid c-button--small" onclick="filterItems()">검색</button>
                        <button type="button" class="c-button c-button--small" onclick="filterReset()">초기화</button>
                        <button type="button" class="c-button c-button--darksolid c-button--small" onclick="removeRow()">선택삭제</button>
                    </div>
                </div>
            </div>
        </article>

        <article class="article">
            <div class="article__body">
                <ul class="article__console article__console--left article__console--top">
                    <li><button type="button" class="c-button c-button--green c-button--icon c-button--icon-excel" onclick="exportToXlsx()">엑셀 다운로드</button></li>
                </ul>
                <div id="grid_main" style="height: 560px;"></div>
                <ul class="article__console">
                    <li><button type="button" class="c-button c-button--solid" onclick="saveRegPrice()">저장</button></li>
                    <li><button type="button" id="addItemPopBtn" class="c-button">개별추가</button></li>
                    <li><button type="button" class="c-button c-button--darksolid" onclick="regPricePop()">일괄업로드</button></li>
                </ul>
            </div>
        </article>
    </section>
	
	<div class="type">
		<div class="type__content">
			
			
			<div class="type__grid">
				
			</div>
			
			
		</div>
	</div>

	<!-- 가격 일괄 등록 팝업 -->
	<div class="pop" id="regPrice_popup">
		<div class="pop__box">
            <div class="pop__article">
                <div class="pop__article-head">
                    <div class="pop__article-header">
                        <h3>가격 일괄 등록</h3>
                    </div>
                </div>
                <div class="pop__article-content">
                    <div class="form">
						<ul class="form__list form__list--wide">
							<li class="form__item">
								<div class="form__title form__title--200">업로드데이터 가격적용일</div>
								<div class="form__input">
									<input type="text" class="c-date" id="setDt" name="setDt" readonly>
								</div>
							</li>
							<li class="form__item">
								<div class="form__title form__title--200">업로드파일 선택</div>
								<div class="form__input">
									<div class="c-file">
										<input type="text" class="c-file__input" id="fileName" readonly />
										<label class="c-file__btn">파일 업로드
											<input type="file" id="priceUpload" name="priceUpload" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="fileSelected()" />
										</label>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					<div class="l-pop__comment">
						<p>*업로드를 통한 가격 등록은 전체가격정보를 한번에 올릴 경우에만 사용하시기 바랍니다.</p>
						<p>기존가격은 종료일자 까지 유효하며 신규 가격은 각격적용일 부터 유효합니다.</p>
						<a href="/assets/files/TopPOS_PriceUpload.xlsx" class="c-button">TopPOS_PriceUpload.xlsx 양식 다운로드</a>
					</div>
								
					<!-- <button type="button" onclick="$('#priceUpload').trigger('click')">파일선택</button> -->
                </div>
            </div>


			<ul class="pop__console">
                <li>
                    <button type="button" class="c-button c-button--dark" onclick="applyPrice()">가격적용하기</button>
                </li>
                <li>
                    <button type="button" class="c-button" onclick="regPriceClose()">취소</button>
                </li>
			</ul>
		</div>
	</div>

    <div id="addItemPop" class="pop">
        <div class="pop__box">
            <div class="pop__article">
                <div class="pop__article-head">
                    <div class="pop__article-header">
                        <h3>상품추가</h3>
                    </div>
                </div>
                <div class="pop__article-content">
                    <!-- 그리드 -->
                    <div id="grid_item_addible" style="height: 400px;"></div>
                </div>
            </div>
            <ul class="pop__console">
                <li>
                    <button id="addItemBtn" type="button" class="c-button c-button--dark">등록</button>
                </li>
                <li>
                    <button id="cancelAddItemBtn" type="button" class="c-button">취소</button>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>
